<?xml version="1.0"?>
<configuration>
    <add key="subject" value="High-Speed Internet. No phone. Only $14.99/mo." />
    <add key="smtpServer" value="mail.prismtvproject.com" />
    <add key="smtpUser" value="support@prismtvproject.com" />
    <add key="smtpPassword"  value="z10b6T0E" />
</configuration>
