	

html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
body {
	padding: 0;
	margin: 0;
}

.lineupWrapper {
	width: 99%;
	margin: 0 auto;
}

div::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-top: 1px #CCC solid;
    border-left: 1px #CCC solid;
    background: #EEE;
}
div::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 1px solid #CCC; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .3);
    min-height: 50px;
}
.hideOnLoad {
	background: url( "/prismtv/css/images/loading.gif" ) no-repeat center 100px;
}

.hideOnLoad .lineupWrapper {
	display: none;
}

#channelLineup, #channelLineupData {
	width: 100%;
}
.uiButton {
	background: #00853F;
}
#channelLineup table, #channelLineup table td, #channelLineup table th {
	border-collapse: collapse;
}
#channelLineup small {
	display: block;
	width: 100%;
	padding: 0;
	font-weight: normal;
	font-size: 80%;
}		
#channelLineup {
	border-bottom: 1px solid #CCC;
}		
#channelLineup th, #channelLineup td {
	padding: 5px;
	text-align: center;
}
#channelLineup th {
	background-color: #FFF;
	vertical-align: middle;
	border-left: 1px solid #CCC;
}
#channelLineup td {
	padding: 7px 10px;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-size: 12px;
}
#channelLineup .dataTables_scroll {
	border: 1px solid #CCC;
}
#channelLineup .dataTables_scrollHeadInner {
	border-bottom: 1px solid #CCC;
}
#channelLineup .thSorter {
	background: #FFF url("/prismtv/images/channelLineup/thBG.gif") repeat-x left bottom;
	padding: 0;
	height: 58px;
}
#channelLineup .sorter {
	padding: 0 15px;
	height: 100%;
	display: block;
	background-color: transparent;
	background-image: url("/prismtv/images/channelLineup/sorterArrows.png");
	background-repeat: no-repeat;
	background-position: right center;
	line-height: 58px;
}
#channelLineup .sorting_asc .sorter {
	background-position: right top;
}
#channelLineup .sorting_desc .sorter {
	background-position: right bottom;
}
#channelLineup th:first-child, #channelLineup td:first-child {
	border-left: 0 none;
}
#channelLineup .filters {
	border:1px solid #ccc;
    border-bottom: none;
    border-top: none;
    display: none;
    overflow: hidden;
    padding: 0;
}	
.market-lineup-header{
	border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: 5px 5px 0px 0px; 
	border: 1px solid #cccccc;
	padding: 15px;
	background-image: url("../images/market-lineup-header.jpg");
    background-position: 0 4px;
    background-repeat: repeat-x;
}
.market-lineup-header h2{
	display: inline-block;
	color: #333333;
	font-size: 20px;
	font-weight: 100;
	float: left;
}
#channelLineup #printBtn a {
	height: 32px;
	width: 163px;
	display: inline-block;
	text-indent: -9999px;
	background: url("../images/pcl-btn.png");
	float: right;
/*	margin-top: -50px*/
}		
#channelLineup .filters .filtersLabel {
	display: block;
	width: 22%;
	float: left;
	font-weight: 100;
}
.filter-break{
	border-bottom: 1px solid #CCCCCC;
    height: 20px;
    margin-bottom: 12px;
    margin-left: -25px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 96%;
}
#channelLineup .filters #filterOpts {
	display: block;
	width: 100%;
	padding-left: 5%;
}			
#channelLineup .filters #filterOpts .opt {
	width: 20%;
	display: block;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 25px;
	padding-bottom: 5px;
}		
#channelLineup .filters #filterOpts .opt label {
	display: block;
	padding: 0 0 0 25px;
	height: 22px;
	background: #FFF url("/prismtv/images/channelLineup/radioBTN.png") no-repeat left -23px;
	background-color: transparent;
}		
#channelLineup .filters #filterOpts .opt input {
	display: block;
	position: absolute;
	left: 0;
	top: -40px;
	cursor: pointer;
}		
#channelLineup .filters #filterOpts .checked label {
	background: #FFF url("/prismtv/images/channelLineup/radioBTN.png") no-repeat left -2px;
	background-color: transparent;
}			
#channelLineup .options {
	position: relative;
	left: 15px;
	top: 15px;
	width: 90%;
}

#channelLineup .options #channelLineupDataFilter {
    width: 360px;
    background-image: url("../images/searchbox.png");    
    background-repeat: no-repeat;
    overflow: hidden;
}
#channelLineup .options .dataTablesFilter #placeholder {
    border: medium none;
    color: #777777;
    left: 30px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 360px;
    z-index: 99;
    line-height: 30px;
}
#channelLineup .options .dataTablesFilter input {
	background-color: transparent;
    background-image: url("../images/searchbox.png");
    background-position: -30px top;
    background-repeat: no-repeat;
    border: medium none;
    position: relative;
    left: 0;
    top: 0;
    line-height: 30px;
    height: 30px;
    width: 290px;
    padding: 0;
    margin: 0 0 0 25px;
    text-indent: 5px;
    z-index: 100;
}		
#channelLineup .options .dataTablesFilter input:focus {
	background-color: #FFF;
}
#channelLineup .options .dataTablesFilter input::-ms-clear {
    display: none;
}
#channelLineup .dataTables_scrollHead {
	clear: both;
}
#channelLineupData .odd {
	background: #f1f1f1 url("/prismtv/images/channelLineup/rowBG.gif") left center;
}

.hideLink {
	text-align: center;
	font-size: 11px;
	line-height: 12px;
	text-indent: -9999px;
	background: url("/prismtv/images/channelLineup/hideColumn.png") no-repeat center center;
	height: 20px;
	width: 20px;
	display: block;
	margin: 0 auto;
	border-radius: 7px;
	text-decoration: none !important;
	position: relative;
	top: 0px;
	right: -3px;
	float: right;
}
#channelLineup .channel-name {
	text-align: left;
}
#channelLineup .channel-number {
	text-align: center;
}
#channelLineup .channel-name .meta {
	display: none;
}
#channelLineup thead .channel-name, #channelLineup thead .channel-number {
	cursor: hand;
	cursor: pointer;
}		
#channelLineup .channel-number {
	width: 5%;
}
#channelLineup .packageData {
	width: 19%;
	text-align: left;
}
#channelLineup #tableBody .packageData span {
	display: block;
	text-align: left;
	text-indent: -9999px;
	padding: 0;
	margin: 0;
}		
#channelLineup .inpackage-true {
	background: transparent url("/prismtv/images/channelLineup/included-check.png") no-repeat center center;
}		
#channelLineup .inpackage-false.isBoltOn {
	background: transparent url("/prismtv/images/channelLineup/addOn-star.png") no-repeat center center;
}
#channelLineup .addonDisplay {
	display: block;
	text-indent: 0;
	text-align: left;
	font-size: 10px;
	color: #90b7ce;
}

#channelLineup .clearAllLink {
	position: absolute;
	z-index: 200;
	left: 340px;
	top: 22px;
	background: url("/prismtv/images/channelLineup/clearAllX.png") no-repeat;
	height: 16px;
	width: 16px;
	text-indent: -9999px;
	display: block;
	margin: 0;
}
#channelLineup .compareAllLink {
 color: #00853F;
    display: none;
    float: right;
    line-height: 1.2;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 165px;
    z-index: 1000;
    margin-top: -8px;
}
#tableHolder {
	position: relative;
}
#channelLineupData_wrapper {
	clear: both;
	position: relative;
}

#channelLineup.hide-prism-tv .prism-tv-true { display: none; }
#channelLineup.hide-prism-complete .prism-complete-true { display: none; }
#channelLineup.hide-prism-premium .prism-premium-true { display: none; }

#channelLineup.hide-prism-tv.hide-prism-complete .hideLink { display: none; }
#channelLineup.hide-prism-complete.hide-prism-premium .hideLink { display: none; }
#channelLineup.hide-prism-tv.hide-prism-premium .hideLink { display: none; }

#channelLineup.show-prism-tv .prism-tv-true { display: table-row; }
#channelLineup.show-prism-complete .prism-complete-true { display: table-row; }
#channelLineup.show-prism-premium .prism-premium-true { display: table-row; }

#channelLineup.hide-prism-tv .bolton-true { display: table-row; }
#channelLineup.hide-prism-complete .bolton-true { display: table-row; }
#channelLineup.hide-prism-premium .bolton-true { display: table-row; }

#channelLineup.hide-prism-tv .compareAllLink { display: block; }
#channelLineup.hide-prism-complete .compareAllLink { display: block; }
#channelLineup.hide-prism-premium .compareAllLink { display: block; }

.hdDisclaimer {
	font-size: 80%;
	display:inline-block;
	text-align: center;
	color: #666;
	padding: 7px 80px 5px 7px;
}
.tableinfo {
	clear: both;
	height: 60px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#legend .packageInclude {
	background: transparent url("/prismtv/images/channelLineup/included-check.png") no-repeat left center;
}		
#legend .packageAddon {
	background: transparent url("/prismtv/images/channelLineup/addOn-star.png") no-repeat 10px center;
}
#legend {
	float: right;
    height: 100%;
    left: 0;
    overflow: visible;
    position: relative;
    text-align: right;
}
#legend span {
	padding: 5px 0 5px 25px;
}
.hide-trigger{
	float: right;
    padding: 0px 20px 0 0;
    position: relative;
    z-index: 1000;
    margin-top: -8px;
    display: block;
}
.bg-wrap{
	background-image: url("../images/bg-wrap.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;

}
