#globalMasthead { position: relative; width: 964px; float: left; clear: both; left: 0; top: -15px; z-index: 99; }
#masthead { position: relative; top: 0; left: 0; z-index: 99; }
#masthead body,
#masthead div,
#masthead td,
#masthead span,
#masthead h1,
#masthead h2,
#masthead h3,
#masthead h4,
#masthead li { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #000; line-height: 1.2em; }
#masthead a img { border: 0 }
#masthead a,
#masthead a:visited { text-decoration: none; color: #666; outline: none; }
#masthead a:hover { text-decoration: underline; color: #00853F; }
#masthead a:active { color: #00853F }
#masthead h1 { font-size: 28px; margin-bottom: 10px; }
#masthead h2 { font-size: 22px; color: #00853F; margin-bottom: 10px; }
#masthead h2 a { font-size: 22px; color: #00853F; margin-bottom: 10px; }
#masthead h3 { font-size: 18px }
#masthead h4 { font-weight: bold }
#masthead sup { font-size: smaller; vertical-align: baseline; position: relative; bottom: 0.3em; }
#masthead sub { font-size: smaller; vertical-align: baseline; position: relative; bottom: -0.25em; }
#masthead ul { list-style-type: disc; padding: 0; margin: 0; }
#masthead ul.no-bullets { list-style-type: none; padding-left: 0px; margin: 10px auto 10px auto; }
#masthead .float-left { float: left }
#masthead .float-right { float: right }
#masthead .disclaimer { color: #666; font-size: 10px; }
#masthead .text-right { text-align: right }
#masthead .text-center { text-align: center }
#masthead .vertical-top { vertical-align: top }
#masthead .border-right { border-right: 1px solid #CCC; padding-right: 30px; }
#masthead .bold { font-weight: bold }
#masthead .last { margin-right: 0 }
#masthead .price { color: #00853F; font-size: 22px; text-align: center; margin: auto; font-weight: bold; }
#masthead .price-large { color: #00853F; font-size: 44px; text-align: center; margin: auto; font-weight: bold; height: 44px; }
#masthead .price-large sup { bottom: 0.5em; font-size: .6em; }
#masthead .mboxDefault { height: 0 }
#masthead .button { font-size: 0; display: block; background: url('/assets/images/sprites/template.png') no-repeat; float: left; margin: auto 5px auto 5px; }
#masthead .btn-quick-billpay { background-position: -751px -1087px; width: 123px; height: 59px; }
#masthead .btn-myaccount-signin { background-position: 0px -533px; height: 28px; width: 170px; }
#masthead .btn-myaccount-signin:hover { background-position: 0px -563px }
#masthead .btn-learn-more { background-position: -174px -533px; height: 28px; width: 98px; }
#masthead .btn-learn-more:hover { background-position: -174px -563px }
#masthead .btn-arrow { background-position: -438px -488px; width: 27px; height: 27px; }
#masthead .btn-bundle { background-position: -279px -533px; height: 28px; width: 130px; }
#masthead .btn-bundle:hover { background-position: -279px -563px }
#masthead .btn-start-now { background-position: -414px -533px; height: 28px; width: 88px; }
#masthead .btn-start-now:hover { background-position: -414px -563px }
#masthead .btn-continue { background-position: -507px -533px; height: 28px; width: 88px; }
#masthead .btn-continue:hover { background-position: -507px -563px }
#masthead .btn-check-avail { background-position: -602px -533px; height: 28px; width: 139px; }
#masthead .btn-check-avail:hover { background-position: -602px -563px }
#masthead .btn-start-here { background-position: -745px -533px; height: 28px; width: 88px; }
#masthead .btn-start-here:hover { background-position: -745px -563px }
#masthead .btn-get-started { background-position: -840px -533px; height: 28px; width: 98px; }
#masthead .btn-get-started:hover { background-position: -840px -563px }
#masthead .btn-green-arrow { background-position: -307px -602px; height: 20px; width: 18px; }
#masthead .btn-go-to-offer { background-position: 0px -630px; height: 28px; width: 88px; }
#masthead .btn-go-to-offer:hover { background-position: 0px -663px }
#masthead .btn-search { background-position: -94px -630px; height: 28px; width: 88px; }
#masthead .btn-search:hover { background-position: -94px -663px }
#masthead .btn-c2c { background-position: -188px -630px; height: 28px; width: 132px; }
#masthead .btn-c2c:hover { background-position: -188px -663px }
#masthead .btn-start-over { background-position: -326px -630px; height: 28px; width: 88px; }
#masthead .btn-start-over:hover { background-position: -326px -663px }
#masthead .btn-add-to-cart { background-position: -418px -630px; height: 28px; width: 98px; }
#masthead .btn-add-to-cart:hover { background-position: -418px -663px }
#masthead .btn-select { background-position: -522px -630px; height: 28px; width: 88px; }
#masthead .btn-select:hover { background-position: -522px -663px }
#masthead .btn-twitter-icon { background-position: -407px -488px; height: 25px; width: 26px; }
#masthead .btn-facebook-icon { background-position: -317px -489px; height: 25px; width: 25px; }
#masthead .btn-youtube-icon { background-position: -346px -488px; height: 24px; width: 58px; }
#masthead .btn-feedback-icon { background-position: -491px -487px; height: 32px; width: 102px; }
#masthead .btn-get-atease { background-position: -618px -630px; height: 33px; width: 230px; }
#masthead .btn-get-atease:hover { background-position: -618px -663px }
#masthead a.learn-more { color: #00853F; background: url('/assets/images/templates/learnmore_icon.png') no-repeat; padding-left: 20px; padding-bottom: 2px; }
#masthead .nav-bar { height: 26px; width: 964px; background: url('/assets/images/sprites/template.png') no-repeat 0px -422px; margin-bottom: 0; z-index: 999; position: relative; clear: both; *margin-top: 25px; }
#masthead .nav-bar a,
#masthead .nav-bar a:visited,
#masthead .nav-bar a:active { color: #666; display: block; float: left; }
#masthead .nav-bar a:hover { color: #00853F }
#masthead .nav-bar .business-group-nav { height: 20px; margin: 0px; z-index: 999; }
#masthead #tpl_res-mega-dd,
#masthead #tpl_smb-mega-dd,
#masthead #tpl_bmg-mega-dd { background: transparent url('/assets/images/sprites/template.png') no-repeat; z-index: 999; margin-top: 3px; }
#masthead #tpl_res-mega-dd { background-position: 0px -691px; height: 315px; width: 587px; }
#masthead #tpl_smb-mega-dd { background-position: 0px -1011px; height: 198px; width: 367px; }
#masthead #tpl_bmg-mega-dd { background-position: -370px -1013px; height: 254px; width: 374px; }
#masthead #tpl_res-mega-dd li,
#masthead #tpl_smb-mega-dd li,
#masthead #tpl_bmg-mega-dd li { background: transparent }
#masthead .nav-bar .business-group-nav ul li ul li { margin-left: 10px }
#masthead .nav-bar .business-group-nav .heading { font-weight: bold; margin-left: 0px; color: #666; margin-top: 10px; }
#masthead .nav-bar .business-group-nav .mega-column { float: left; width: 165px; padding: 10px; }
#masthead .nav-bar .business-group-nav .mega-banner { float: right; width: auto; padding: 0px; margin-top: 5px; }
#masthead .nav-bar .business-group-nav .mega-column * { padding: 0; width: auto; }
#masthead .nav-bar .business-group-nav  .sf-menu ul li { width: 165px }
#masthead .nav-bar .business-group-nav .sf-menu ul#tpl_res-mega-dd li,
#masthead .nav-bar .business-group-nav #tpl_res-mega-dd  .mega-column { width: 175px }
#masthead #tpl_smb-mega-dd  .mega-column { width: 200px }
#masthead .nav-bar .business-group-nav  .sf-menu  ul#tpl_smb-mega-dd li { white-space: nowrap; width: 200px; }
#masthead .nav-bar,
#masthead .nav-bar * { overflow: visible }
#masthead .nav-bar .business-group-nav ul li a { width: auto; padding: auto 11px auto 12px; color: #666; line-height: 20px; text-align: left; }
#masthead .nav-bar .business-group-nav ul li a:hover { text-decoration: underline }
#masthead .nav-bar .business-group-nav #tpl_nav-res a { margin-left: 12px; margin-right: 13px; font-weight: bold; color: #00853F; }
#masthead .nav-bar .business-group-nav #tpl_nav-smb { width: 161px }
#masthead .nav-bar .business-group-nav #tpl_nav-smb a { margin-left: 9px; margin-right: 10px; }
#masthead .nav-bar .business-group-nav #tpl_nav-bmg a { margin-left: 10px; margin-right: 10px; }
#masthead .nav-bar .business-group-nav #tpl_nav-res  ul li { margin-left: 5px }
#masthead .nav-bar .business-group-nav #tpl_nav-res  ul li a { font-weight: normal; margin-left: 5px; padding-left: 0; }
#masthead .nav-bar .business-group-nav #tpl_nav-smb .mega-column a,
#masthead .nav-bar .business-group-nav #tpl_nav-bmg .mega-column a { margin-left: 0; font-weight: bold; }
#masthead .nav-bar .business-group-nav #tpl_nav-smb ul li { margin-left: 0 }
#masthead .subnav-bar { margin: 0px; height: 35px; width: 964px; background: url('/assets/images/sprites/template.png') no-repeat 0px -448px; position: relative; z-index: 998; }
#masthead .subnav-bar a,
#masthead .subnav-bar a:active,
#masthead .subnav-bar a:visited { color: #666; display: block; float: left; font-weight: normal; }
#masthead .subnav-bar a:hover { color: #666; text-decoration: underline; }
#masthead .subnav-bar,
#masthead .subnav-bar * { overflow: visible }
#masthead .subnav-bar .level1-nav-links { float: left; width: 675px; height: 100%; position: relative; top: 12px; left: 4px; z-index: 999; }
#masthead *+html .level1-nav-links { margin-top: 5px }
#masthead .subnav-bar .level1-nav-links ul li.subnav-current a { color: #00853F; font-weight: bold; }
#masthead .subnav-bar .level1-nav-links ul li.subnav-current ul li a { font-weight: normal }
#masthead .subnav-bar .level1-nav-links ul li ul { background: transparent url('/assets/images/templates/subnav-dd-bg-bottom.png') -1px bottom no-repeat; width: 236px; padding-bottom: 12px; min-height: 30px; margin-top: -12px; margin-left: -1px; z-index: 999; }
#masthead .subnav-bar .level1-nav-links ul li { padding-bottom: 5px }
#masthead .subnav-bar .level1-nav-links ul li ul { }
#masthead .subnav-bar .level1-nav-links ul li ul li { background: transparent url('/assets/images/templates/subnav-dd-bg-mid.png') -1px 0px repeat-y; width: 236px; border: 0; margin: 0; padding-bottom: 3px; padding-top: 5px; min-height: 15px; clear: both; }
#masthead .subnav-bar .level1-nav-links ul li ul li.first { padding-top: 25px }
#masthead .subnav-bar .level1-nav-links a,
#masthead .subnav-bar .level1-nav-links a:active,
#masthead .subnav-bar .level1-nav-links a:visited { border-right: 1px solid gray; margin-top: -4px!important; margin-top: 4px; padding: 0px 10px 0 10px; line-height: 16px; color: #666; z-index: 1; font-weight: normal; }
#masthead .subnav-bar .level1-nav-links a.last,
#masthead .subnav-bar .level1-nav-links a.last:active,
#masthead .subnav-bar .level1-nav-links a.last:visited { border-right: 0 }
#masthead .subnav-bar .level1-nav-links ul li ul a,
#masthead .subnav-bar .level1-nav-links ul li ul a:active,
#masthead .subnav-bar .level1-nav-links ul li ul a:visited { border: 0; color: #00853F; background: url('/assets/images/templates/subnav_icon_arrow.png') 10px 0 no-repeat; padding-left: 25px; z-index: 9999; }
#masthead .subnav-bar .level1-nav-links ul li ul a:hover { text-decoration: underline }
#masthead *+html .subnav-bar .level1-nav-links a { margin-top: 7px }
#masthead .subnav-bar .level1-nav-links a.last { border: 0 }
#masthead .subnav-bar .nav-bar-billpay { display: block; float: left; margin: -30px -20px auto; *margin-top: -20px; }
#masthead *+html.subnav-bar .nav-bar-billpay { margin-top: -16px }
#masthead .main-container { width: 960px; margin: auto; padding-top: 10px; margin-top: 0; }
#masthead .header { }
#masthead .logo { height: 40px; width: 203px; float: left; margin: 20px auto 35px 10px; background: url('/assets/images/sprites/template.png') no-repeat 0px -488px; display: block; }
#masthead .global-nav { color: #666; font-size: 11px; float: right; width: 400px; text-align: right; }
#masthead .global-nav a { color: #666 }
#masthead .global-nav a:hover { }
#masthead .header-contact { color: #666; float: right; clear: both; margin: 0; width: 155px; }
#masthead .header-contact a { margin: 0; width: 155px; text-align: left; float: left; }
#masthead #dynamic-800-number { color: #666 }
#masthead .phone-icon { float: left; background: url('/assets/images/sprites/template.png') no-repeat -904px -485px; width: 22px; height: 28px; vertical-align: bottom; margin-right: 5px; }
#masthead .chat-icon { float: left; float: left; background: url('/assets/images/sprites/template.png') no-repeat -923px -486px; width: 21px; height: 18px; clear: both; margin-right: 5px; }
#masthead .gheader-emailus-icon { float: left; background: url('/assets/images/page-components/emailicon.png') no-repeat 0 0; width: 20px; height: 18px; clear: both; margin-right: 5px; padding-left: 1px; }
#masthead .noscript { background: #660000; color: #FFFFFF; padding: 30px; min-width: 300px; }
#masthead .noscript a,
#masthead .noscript a:visited { color: #FEFFD3; font-weight: bold; }
#masthead .search-form { float: right; width: 150px; position: relative; top: 7px; left: 2px }
#masthead input#tpl_search-input { margin-top: 0px; width: 90px!important; width: 110px; height: 17px; background: url('/assets/images/sprites/template.png') no-repeat -615px -488px; padding-left: 20px; border: 0; float: left; }
#masthead *+html input#tpl_search-input { margin-top: 9px }
#masthead .search-submit { margin: -5px auto auto 3px; float: left; }
#masthead *+html .search-submit { margin-top: 3px }
#masthead .watermark { color: #666 }
#masthead .page-content-top { width: 960px; height: 170px; background: url('/assets/images/sprites/template.png') no-repeat 0px 0px; z-index: -1; }
#masthead .page-content { border-right: 1px solid #CACCCD; border-left: 1px solid #CACCCD; margin-top: -165px; padding: 15px 20px 15px 20px; min-height: 250px; position: relative; }
#masthead .page-content-bottom { width: 960px; height: 131px; background: url('/assets/images/sprites/template.png') no-repeat 0px -287px; margin-top: -125px; z-index: -1; }
.page-centered { margin: 15px auto 0px 20px }
#masthead .footer { text-align: center; margin-bottom: 10px; padding: 10px; }
#masthead .footer,
#masthead .footer a { color: #666; font-size: 11px; line-height: 1.6em; }
#masthead .modal { width: 406px; min-height: 100px; padding: 0; }
#masthead .modal .modal-top { background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -2px; height: 17px!important; height: 37px; width: 386px!important; width: 406px; padding: 10px; text-align: center; font-weight: bold; }
#masthead .modal .modal-bottom { background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -80px; width: 406px; height: 52px; }
#masthead .modal .modal-content { width: 366px!important; width: 406px; padding: 20px; background: transparent url('/assets/images/templates/modal_bg.png') repeat-y 0px 0px; overflow: visible; }
#masthead .modal a.modal-close-btn { background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -168px; height: 16px; width: 16px; display: block; float: right; vertical-align: bottom; float: right; }
#masthead .modal .modal-close { float: right; width: 100px; line-height: 15px; *margin-top: -15px; text-align: right; }
#masthead .zam_close,
#masthead .ctam_close,
#masthead .mam_close { float: left }
#masthead #zam_close-button,
#ctam_close-button,
#mam_close-button { float: left; margin-left: 5px; }
#masthead .modal .modal-close a { font-size: 11px; color: green; }
#masthead .modal .modal-block-top { margin-top: 10px; background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -9px -136px; height: 10px; width: 356px; }
#masthead .modal .modal-block-bottom { background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -9px -168px; height: 12px; width: 356px; }
#masthead .modal .modal-block { border-right: 1px solid #CCC; border-left: 1px solid #CCC; background-color: #E7E7E7; min-height: 10px; width: 354px; }
#masthead .modal-block-title { background: url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -188px; padding-left: 20px; margin-left: 10px; }
#masthead .modal-block-title { background: url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -188px; padding-left: 20px; margin-left: 10px; }
#masthead .modal-block-expanded,
#masthead .modal-block-expanded_lvl2 { display: none }
#masthead .modal-block-expanded_lvl2 { margin: 10px }
#masthead .modal form { margin: 10px; background: white; padding: 10px; }
#masthead .modal form input { }
#masthead .modal form label { display: block; font-size: 11px; }
#masthead .address-block { float: left; margin: auto 10px 7px auto; }
#masthead .remember-me { margin-left: 20px }
#masthead .link-protect-info { background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -138px; padding-left: 20px; margin-left: 20px; display: block; line-height: 20px; }
#masthead .modal-button { font-size: 0; display: block; background: url('/assets/images/sprites/modal_sprite.png') no-repeat; }
#masthead .btn-modal-show-options { background-position: -10px -185px; height: 26px; width: 131px; }
#masthead .btn-modal-show-options:hover { background-position: -10px -215px }
#masthead .popup { width: 406px; min-height: 100px; padding: 0; }
#masthead .popup .popup-top { background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -2px; height: 17px!important; height: 37px; width: 386px!important; width: 406px; padding: 10px; text-align: center; font-weight: bold; }
#masthead .popup .popup-bottom { background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -80px; width: 406px; height: 52px; }
#masthead .popup .popup-content { width: 366px!important; width: 406px; padding: 20px; background: transparent url('/assets/images/templates/modal_bg.png') repeat-y 0px 0px; overflow: visible; }
#masthead .popup-content p { margin-bottom: 16px }
#masthead .popup a.popup-close-btn { background: transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -168px; height: 16px; width: 16px; display: block; vertical-align: bottom; }
#masthead .popup-close-link { float: left }
#masthead .popup .popup-close { width: 90px; line-height: 15px; *margin-top: -15px; text-align: right; float: right; }
#masthead .popup .popup-close a { font-size: 11px; color: green; }
#masthead .legal_left_nav { float: left; width: 200px; }
#masthead .legal_main_content { float: right; width: 700px; }
#masthead .left-navigation { float: left; width: 200px; }
#masthead .content-with-left-nav { float: right; width: 700px; }
