@charset "UTF-8";
/* CSS Document */

/*Universal Style Rule */
*{
	margin: 0;
	padding: 0;
}

html
{
	overflow:hidden;
	width:520px;
}
body{
	background-color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #616365;
	overflow:hidden;
	width:520px;
}

#wrapper {
	width: 520px;
	margin: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0'); /* for IE */
	background: -webkit-gradient(linear, top, bottom, from(#ffffff), to(#f0f0f0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f0); /* for firefox 3.6+ */
	overflow: hidden;
}
#border_wrap{
	border:1px #d1d2d3 solid;
}

#prelike{
	visibility: visible;
}

#header{
	position:relative;
}

#content{
	padding: 15px 0 0 35px;
}

a{
	text-decoration:none;
	border: none;
}
img{
	border:none;
	outline:none;
}
a img{
	border: none;
	outline:none;
}

#groupTop{

}

#groupTop .header{
	color:#00853f;
	font-size:20px;
	margin: 20px 0;
}

#groupTop .content{
	line-height: 1.3em;
	height: 360px;
}
#groupTop p{
	padding-bottom: 10px;
	font-weight:bold;
	color:#000;
}

#groupTop ul{
	margin-left: 20px;
	padding-bottom: 30px;
}
#groupTop li{
	padding-bottom: 5px;
}

#imgDevices{
	margin-top:0px;
	margin-bottom: 7px;
}
#learnMore1{
	position:relative;
	margin-top:-203px;
}

sup{

	vertical-align:2px;
}

#group{
	padding: 8px 15px 0 0px;
	height: 165px;
}

	#group .groupImgs{
		float: left;
		margin-right: 25px;
		border: none;
		width:168px;
		height:140px;
	}

	#group .groupTxt{
		margin-right:55px;
	}

	#getSupport{
		margin-bottom: 7px;
	}

	#group a img{
		margin-left: -5px;
	}

#start{
	position:relative;
	left:-25px;
}
