html{
   overflow: hidden;
}

body, html{
   background: #fff;
   width: 520px;
}

a img{
	border: none;
}

p{
	font: 11px myriad pro,arial,helvetica,sans-serif;
   margin-bottom: 15px;
}

#main{
   background: url("../images/bg_main.jpg") no-repeat;
}

#main #content{
   padding: 12px 20px 0px;
}

#main h1{
   text-indent: -9999px;
   height: 66px;
   background: url("../images/h1_welcome.png") no-repeat;
   margin: 0px 0px 3px;

}

#main p{
   font: 14px arial,helvetica,sans-serif;
   margin-bottom: 0px;
}

#main #hdr p{
   font-size: 14px;
   margin-bottom: 16px;
}
#main #hdr .hdrWrap {
   height: 240px;
}
#main #hdr{
   background: url("../images/hdr_harryPotter.jpg") no-repeat;
   padding: 60px 60px 0 282px;
   margin-bottom: 15px;
}

h2{
   color: #1c2a47;
   font: bold 17px myriad pro,arial,helvetica,sans-serif;
}

#callouts .callout{
   width: 256px;
   float: left;
   margin-right: 5px;
}

#callouts .callout#prismProject{
   margin-right: 0px;
   padding: 16px 10px 10px;
   width: 236px;
   height: 348px;
   background: url("../images/bg_video.png") no-repeat;
   text-align: center;
}

#callouts .callout#prismProject p{
   margin-bottom: 5px;
}

#callouts .callout#prismProject iframe{
   margin-bottom: 15px;
}
