/* IOS(IPOD/IPAD) HARDWARE ACCELERATION FIX */
@media screen and (max-device-width: 500px) {
	body {
		-webkit-perspective: 0;
		-webkit-backface-visibility: hidden;
		-webkit-transition-duration: 0;
	}
	.hwacel {
		-webkit-transform: translate3d(0,0,0);
	}
}
#isAndroid html, #isAndroid body, #isAndroid .hwacel { -webkit-transform: none; -webkit-perspective: none; -webkit-backface-visibility: visible; -webkit-transition-duration: 0; }

html, body {
	background-color: #FFF;
	color: #666;
}
body {
	margin: 0px auto;
	padding: 0px;
	-webkit-text-size-adjust:none;
	font-family:Arial, sans-serif;
	width: 100%;
	max-width: 480px;
	font-size: 12px;
}
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}
.ir {
	text-indent: -9999px;
}
div {
	position: relative;
	top: 0;
	left: 0;
}
strong, h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}
ul {
	padding: 0 0 15px 15px;
}
ul li {
	display: list-item;
	list-style: disc;
	padding: 0 0 5px 0;
}
#logo{
	background: #FFFFFF /*url('../images/logo-bg.gif')*/ repeat left top;
	position:relative;
}
#logo a {
	background: transparent url('../images/logo.png') no-repeat 10px top;
	display: block;
	width: 100%;
	margin: 0;
	height: 44px;
}
.title {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 37px;
	width: 100%;
}
.cta {
	height: 225px;
}
.ccHeader .cta {
	height: 240px;
}
.ccShortHeader .cta {
	height: 225px;
}
.message {
	background: transparent url("/soho/m-assets/images/hsiHeaderBG.gif") repeat-x left top;
	height: 225px;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.ccHeader .message {
	background: transparent url("/soho/m-assets/images/ccHeaderBG.gif") repeat-x left bottom;
	height: 240px;
}
.ccShortHeader .message {
	background: transparent url("/soho/m-assets/images/ccShortHeaderBG.gif") repeat-x left top;
	height: 225px;
}

.HSI_Header .requestLinkBlock{
	margin: 0;
}

body.HSI_Header .contentWrap{
	margin-top: 40px;
	width: none;
}

.backLink a {
	background: transparent url('../images/btn-back.png') no-repeat left center;
	display:block;
	border-bottom: 1px solid #CCC;
	font-weight: bold;
	color: #000;
	padding: 20px 10px 20px 80px;
}

.footer{
	clear: both;
	overflow: hidden;
	padding-bottom:55px;
	background: #FFF url('../images/pathways.gif') no-repeat right bottom;
}
.footer p {
	padding-bottom: 15px;
}
.footer p a{
	color:#00853f;
	text-decoration:none;
	font-weight:bold;
}
.disclaimer {
	overflow: hidden;
	padding: 25px 25px 0 25px;
	font-size:12px;
	color:#333;
}
.share{
	background-color:#CCCCCC;
	height:60px;
	margin-bottom:15px;
	margin-top:0;
	padding-top:15px;
	line-height:20px;
}

.orderBtnContainer{
	position:absolute;
	bottom: 10px;
	width: 100%;
	left: 0;
}
.orderButton{
	position: relative;
	margin: 0 auto;
	width:100%;
	height:43px;
	background: transparent url('../images/btn-orng-onw.jpg') no-repeat top left;
	text-align:center;
	color:#FFFFFF;
}
.orderButton a{
	text-decoration:none;
	color:#FFFFFF;
	line-height: 43px;
	display: block;
	padding-left: 10px;
	height: 100%;
	font-size: 21px;
}
.orderButton a .btnBg {
	background: url('../images/btn-orng-onw.jpg') no-repeat top right;
	padding-right: 10px;
	display: block;
	height: 100%;
}
.footer .orderButton {
	background: transparent url('../images/btn-orng-onw.jpg') no-repeat top left;
}
.footer .orderButton a {
	color:#FFFFFF;
	display: block;
	height: 100%;
	font-size: 21px;
	font-weight: normal;
}
.footer .orderButton a .btnBg {
	background: url('../images/btn-orng-onw.jpg') no-repeat right top;
}

#content{
	z-index: 800;
	clear: both;
	background: transparent url("../images/loaderDots.gif") no-repeat center 20px;
	overflow: hidden;
}

.container {
	position: relative;
	overflow: hidden;
	background-color: #FFF;
	top: 0%;
	left: 0%;
	width: 100%;
}
.reqCont {
	position: absolute;
	left: 100%;
}
.reqCont .contentWrap p {
	font-size:14px;
}
.nojs .reqCont {
	position: relative;
	left: 0%;
}
.contentWrap {
	/*width: 280px;*/
	margin: 0 auto;
	padding: 0px 30px;
}
.reqCont .contentWrap {
	padding: 0 0 30px 0;
	margin: 0 auto 20px auto;
	border-bottom: 1px solid #CCC;
}

#request .contentWrap p {
	margin: 0 0 5px 0;
}
#request .txtField {
	border: 1px solid #CCC;
	padding: 5px;
	margin: 0 0 15px 0;
	width: 90%;
}
#request .phn {
	width: auto;
	margin: 0 3px 15px 0;
}
#request select {
	padding: 5px;
}
.orderBtnWrap {
	padding: 15px 0;
	width: 280px;
	margin: 0 auto;
}
.requestLinkBlock {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 0 0 40px 0;
	overflow: hidden;
	position: relative
}
.requestLinkBlock p {
	height: 51px;
	margin: 0;
	padding: 0;
	background: transparent url('/soho/m-assets/images/smGradient.gif') repeat left top;
	overflow: hidden;
	position: relative
}
.requestLinkBlock p .reqBtn {
	display: block;
	height: 51px;
	width: 100%;
	z-index: 900;
	background: transparent url('/soho/m-assets/images/requestCall.png') no-repeat center center;
}
.requestLinkBlock p .backBtn {
	display: block;
	position: absolute;
	height: 51px;
	width: 100%;
	top: 0;
	left: -100%;
	background: transparent url('/soho/m-assets/images/btn-back.png') no-repeat left center;
}
.showBB .requestLinkBlock p .backBtn {
	left: 0;
}

.requestLinkBlock p .btnHide {
	position: absolute;
	height: 1px;
	width: 1px;
	top: 0;
	left: -100%;
}
.contentWrap h3 {
	color:#ff661a;
	font-size: 16px;
	padding: 0 0 20px 0;
}
.contentWrap h4 {
	color:#666;
	font-size: 14px;
	padding: 0 0 10px 0;
}
.iconList {
	display: block;
	padding: 0 0 15px 0;
}
.iconList li {
	padding: 0 0 20px 45px;
	list-style: none;
	display: block;
	color: #000;
}
.iconList li strong {
	font-weight: bold;
	color: #00853F;
	font-size: 14px;
}
.iconHSI {
	background: transparent url('/soho/m-assets/images/mouseIcon.png') no-repeat left top;
}
.iconWeb {
	background: transparent url('/soho/m-assets/images/wwwIcon.png') no-repeat left top;
}
.iconEmail {
	background: transparent url('/soho/m-assets/images/mailIcon.png') no-repeat left top;
}
.iconPhone {
	background: transparent url('/soho/m-assets/images/phoneIcon.png') no-repeat left top;
}
.red{
	color:red;
}
.green{
	color:#8CC63F;
}
.orange{
	color:#ff661a;
	font-weight:bold;
	font-size:120%;
}
.squish {
	letter-spacing: -2px;
}
sup {
	font-size:60%;
	vertical-align:super;
	line-height: 0;
	position: relative;
	top: 0.1em;
}
.tImg {
	position: absolute;
	top: 0;
	left: 0;
}
noscript {
	position: absolute;
	bottom: 0;
	left: 0;
}
.goToFullSite{
	text-align:center;
	margin-top:20px;
	padding-top:30px;
	padding-bottom:30px;
	border-top:thin solid #ccc;
	border-bottom:thin solid #ccc;
	font-size:16px;
}
.goToFullSite a{
	color:#167947;
	text-decoration:none;
}
.HSI h3{
	color: #000000;
	font-size: 16px;
	padding: 20px 30px;
	background: transparent url('/soho/lcm/images/HSI_h3_BG.jpg') repeat-x;
	border-top: thin solid #c4c4c4;
	border-bottom: thin solid #c4c4c4;
	margin-bottom: 30px;
}
.HSI h4{
	color: #333333;
	font-size: 14px;
	padding: 0px 30px;
}
.HSI p{
	color: #333333;
	font-size: 12px;
	margin: 0px 30px 10px 30px;
}
.HSI ul li{
	color: #333333;
	font-size: 12px;
	margin: 7px 30px;
}
.quote{
	font-size:14px;
	color:#000000;
}
.quoteMeta{
	margin-top:22px;
	margin-bottom:15px;
	font-size:12px;
	color:#666666;
}
.HSI p.green_cta{
	color:#0f8c49;
	font-weight:bold;
	font-size:16px;
}
#success{
	width:80%;
	padding-left:10%;
}
#request{
	width:80%;
	padding-left:10%;
}
/* page specific styles */
#ctlHSI_HC .cta { background: transparent url('/soho/lcm/images/ctlHSI_HC.jpg') no-repeat center top; }
#ctlHSI_MC .cta { background: transparent url('/soho/lcm/images/ctlHSI_MC.jpg') no-repeat center top; }
#ctlHSI_LC .cta { background: transparent url('/soho/lcm/images/ctlHSI_LC.jpg') no-repeat center top; }
#ctlCC_HC .cta { background: transparent url('/soho/lcm/images/ctlCC_HC.jpg') no-repeat center top; }
#ctlCC_MC .cta { background: transparent url('/soho/lcm/images/ctlCC_MC.jpg') no-repeat center top; }
#ctlCC_LC .cta { background: transparent url('/soho/lcm/images/ctlCC_LC.jpg') no-repeat center top; }

#qwtHSI_HC .cta { background: transparent url('/soho/lqm/images/lqHSI19.jpg') no-repeat center top; }
#qwtHSI_MC .cta { background: transparent url('/soho/lqm/images/lqHSI24.jpg') no-repeat center top; }
#qwtHSI_LC .cta { background: transparent url('/soho/lqm/images/lqHSI29_40Mbps.jpg') no-repeat center top; }
#qwtCC_HC .cta { background: transparent url('/soho/lqm/images/qwtCC_HC.jpg') no-repeat center bottom;height:235px; }
#qwtCC_MC .cta { background: transparent url('/soho/lqm/images/qwtCC_MC.jpg') no-repeat center bottom; }
