/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.fL{
    float: left;
}
.fR{
    float: right;
}

/*HEADER*/
.header{
    height: 68px;
}
.header img{
    padding-top: 17px;
    padding-left: 60px;
}
.header .tfn{
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin-bottom: 0px;
    margin-top: 18px;
}
.header .tfn span{color: #ff6319;}
/*HERO*/
.hero{
    height: 350px;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.hero h1{
    font-size: 52px;
    color: #2d2929;
    font-weight: 500;
    margin:0 auto;
    padding-top: 73px;
    margin-bottom: 12px;
    text-shadow: 1px 1px 1px rgba(225,225,225,1);
    line-height: 52px;
}
.hero h1 span{
    color:#fff;font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.hero h2{
    color: #fff;
    font-size: 52px;
    margin:0 auto;
    font-weight: bold;
    margin-bottom: 3px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/*CONTENT*/
.content{
    background-image: url(../img/other-stripe.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    color: #616365;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 100;
}
.content p.first{
    width: 410px;
    margin-left: 60px;
    margin-right: 40px;
}
.content p.second{
    width: 410px;

}

/*UPPER-QUOTE*/
.upper-quote{
    height: 175px;
    background-color: #8cc63f;
    padding-top: 36px;
}
p.quote{
    font-size: 26px;
    color: #fff;
    margin: 0px;
    background-image: url(../img/quote.png);
    background-repeat: no-repeat;
    background-position: 0px 9px;
    padding-left: 100px;
    margin-left: 170px;
    height: 100px;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
p.quote span{
    color:#284e36;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(225,225,225,1);
}

/*VIDEO*/
.video-player{
    height: 460px;
    text-align: center;
    padding-top: 50px;
}

/*LOWER-QUOTE*/
.lower-quote{
    height: 215px;
    background-color: #8cc63f;
    padding-top: 35px;
}
.lower-quote p.quote{
    margin-left: 150px;
}

/*LINKS*/
.links{
    padding-top: 45px;
    padding-bottom: 20px;
    background-image: url(../img/stripe.jpg);
    background-repeat: repeat-x;
    background-position: top left;
    font-size: 16px;
}
.links h4{
    color: #666;
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    margin-left: 60px;

}
.links ul{
    width: 38%;
    list-style-type: none;
    margin-left: 60px;
    padding: 0px;
}
.links ul li{
    padding-bottom: 18px;
}
.links ul li a{
    color: #00853f;
    font-size: 16px;
}
.links .drk-grey{
    font-weight: bold;
    color: #666;
}
.links .lt-grey{
    font-weight: 100;
    color: #999;
}

/*LOWER-CTA*/
.lower-cta{
    background-color: #284e36;
    font-size: 18px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.lower-cta p{
    margin-top: 0px;
    font-weight: 100;
}

/*FOOTER*/
.footer{
    color: #666666;
    font-size: 12px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 50px;
}
.footer .source{
    margin: 0px;
    margin-bottom: 40px;
    text-align: left;
    padding-left: 60px;
    font-size: 16px;
    font-weight: 100;
}
.footer ul{
    text-align: center;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
}
.footer ul li{
    float: left;
    padding-right: 6px;
}
.footer ul li a:link{
    text-decoration: none;
    color: #666666;
}
.footer ul li a:visited{
    color: #666666;
}
.footer ul li a:hover{
    color: #666666;
    text-decoration: underline;
}
.footer ul li a:active{
    color: #666666;
}
.footer .copyright{
    margin: 0px;
}

/*BOOK END BUTTON*/
/* FLEXIBLE BUTTON STYLES */
.bookendButton { height: 32px; line-height: 30px; display: inline-block; color: #FFF; text-decoration: none; font-size: 14px; text-shadow: 0 -1px 4px rgba(0,0,0,0.2); position: relative; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADAgMAAAAvs40RAAAACVBMVEUAAAAAAAAAAACDY+nAAAAAA3RSTlMLIkQgIOiWAAAADklEQVQI12NoYHBgYAAAA0YAwS3hRw0AAAAASUVORK5CYII=); background-position: bottom center; background-repeat: repeat-x; border-radius: 5px; }
.bookend { height: 30px; display: inline-block; color: #FFF; text-decoration: none; font-size: 14px; background-position: center top; background-color: transparent; 
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAAAhCAMAAAAyCiXOAAAAt1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABaNxAAAAAAAAAAAAAAAAAAAAAAAAAAAAAdCwIAAAAAAAAAAADojijvkyrqjynHTg3KTw3GTA38my36lyv8my3pXBDnWQ/tWw/uXQ/uXhDvYBHvYhLwZBPwZhTxaBXxaxbybhfzcBjzcxr0dRv1eBz2ex72fh/3gSD4gyH4hiP5iCT6iyX6jib7kCf7kij8lCn8lir9mCv9mSz+myz+nC0zaIulAAAAH3RSTlMAAQMEBgkKCxEUFRscICItMjtCRJWanKSqru/w8PL0pLMKRQAAALxJREFUeNrt1cFpQzEQRVGNvj5ZBXfghSH915NdWggmkFiyJk1MIItzSnhceBH9fD1vDap8/Nznjn5e3mxBqff7HL2faQlKvXz1EcdVWNS6fq7RQ1dUixhNWPxJWE1Y1BMWwkJYCEtYCAthISwQFsJCWCAshIWwQFgIC2GBsBAWwgJh8X/DyjnMQKmVOXbOwxKUemQePVp0U1AnH9/zOfae2SPMQVVXudfeI1cTFqVhPffKaBHdF1Jo5878BeJ7TFuNscoKAAAAAElFTkSuQmCC); 
    font-weight: bold; vertical-align: top; position: relative; top: 0; left: 0; z-index: 20; }
.leftBookend { background-position: left top; width: 55%; top: 0; left: -2px; position: absolute; }
.centerBookend { padding: 0 50px; margin: 0; z-index: 25; position: relative; height: 30px; background-image: none; border-radius: 3px;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
}
.rightBookend { background-position: right top; width: 55%; top: 0; left: auto; right: -2px; position: absolute; }
a.bookendButton:hover .centerBookend { background-color: rgba(0,0,0,0.2); }
a.bookendButton:hover { text-decoration: none; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}