/*
NEW ROUNDED CORNER HTML IMPLEMENTATION:
<div class="corners outsideW">
	<span class="corner cTopLeft"> &nbsp; </span><span class="corner cTopRight"> &nbsp; </span>
	<!-- other content here -->
	<span class="corner cBtmLeft"> &nbsp; </span><span class="corner cBtmRight"> &nbsp; </span>
</div>

Add corners class to container. Add corner <span>'s as needed.
*/

.corners { position: relative; display:block; }
.corners .corner { display:block; height: 10px; width:10px; position:absolute; }
.cTopLeft { background-position: left top; top: -1px; left: -1px; }
.cTopRight { background-position: right top; top: -1px; right: -1px; }
.cBtmLeft { background-position: left bottom; bottom: -1px; left: -1px; }
.cBtmRight { background-position: right bottom; bottom: -1px; right: -1px; }
.cWrapTop { position:absolute; display:block; top: 0; left: 0; width: 100%; }
.cWrapBtm { position:absolute; display:block; bottom: 0; left: 0; width: 100%; }

.outsideW .corner { background-image:url("../Images/newcorners/cornerWhiteOutside.gif"); }
.insideW .corner { background-image:url("../Images/newcorners/cornerWhiteInside.gif"); }
.insideE7E7E7 .corner { background-image:url("../Images/newcorners/cornerE7E7E7Inside.gif"); }
.outsideWNoBdr .corner { background-image:url("../Images/newcorners/cornerWhiteOutsideNoBdr.gif"); }
.fillBgFFF .corner, .cFillFFF { background-color:#FFF; }
.fillBgDDD .corner, .cFillDDD { background-color:#DDD; }
.fillBgEEE .corner, .cFillEEE { background-color:#EEE; }

.corners .jsHide { display: none; }
.nojs .corners .jsHide { display: block; }
