# ModPagespeedDisallow "*"

# Edited by Keegan on 7/02/2014
Redirect 301 /offers/gigabit/benefits/index.php https://www.centurylink.com/fiber/benefits/
Redirect 301 /offers/gigabit/cities/index.php https://www.centurylink.com/fiber/cities/
Redirect 301 /offers/gigabit/business-fiber-internet/index.php https://www.centurylink.com/fiber/business-fiber-internet/
Redirect 301 /offers/gigabit/business/index.php https://www.centurylink.com/fiber/business-fiber-internet/
Redirect 301 /offers/gigabit/community/index.php https://www.centurylink.com/fiber/community/
Redirect 301 /offers/gigabit/news/index.php https://www.centurylink.com/fiber/news/
Redirect 301 /offers/gigabit/faqs/index.php https://www.centurylink.com/fiber/faqs/
Redirect 301 /offers/gigabit/index.php https://www.centurylink.com/fiber/