/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
:focus {outline:none;}
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */
a{outline: none}
#wrapper{
	background-image: url('../img/site-background.jpg');
	background-repeat:repeat-x;
}

.content{width: 958px;margin: 0 auto; margin-top: 0 !important;}
.fL{float: left;}
.fR{float: right;}
.white{color:#ffffff !important;}
.green{color:#284e36;}
.toggle-it{display:none;}

.frame-it{
	background-image: url('../img/video-bg.png');

	text-align: center;
}

.frame-it object{
	margin-top: 130px!important;
}

/* ==========================================================================
   Header Styles
   ========================================================================== */
.topPhone {
	background: url("../img/phone_icon.jpg") no-repeat scroll 0 0 transparent;
	color: #000000;
	float: right;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	margin-top: 25px;
	padding-left: 10px;
	width: 130px;
}
.logo{
	padding: 15px 0 15px 0;
}
/* ==========================================================================
   slider Styles
   ========================================================================== */
   
.content #slider{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #adadad;
	border-left: 1px solid #adadad;
	border-right: 1px solid #adadad;
	border-bottom: 1px solid #adadad;
	position: relative;
	top:0;
	left: 0;
	overflow:hidden;
}

#slider div {top: 0; left: 0;}

#slider {
	width: 958px;
	height: 390px; 
	margin-bottom: -5px;
}

span.hero1-copy{
	background-image: url('../img/hero-1-copy.png');
	width: 385px;
	height: 152px;
	top:75px;
	left:50px;
	position: absolute;
}
span.hero2-copy{
	background-image: url('../img/hero-2-copy.png');
	width: 449px;
	height: 152px;
	top:75px;
	left:50px;
	position: absolute;
}
span.hero3-copy{
	background-image: url('../img/hero-3-copy.png');
	width: 488px;
	height: 152px;
	top:75px;
	left:50px;
	position: absolute;
}
.hero-link{
	width: 135px;
	height: 104px;
	top:230px;
	left:50px;
	position: absolute;
}
.arrows {
	position: relative;
	top:-220px;
	z-index: 9999;
	margin: 5px 0px;
	width: 958px;
}
.arrows a#prev2{
	float: left;
	background-image: url('../img/left-arrow.png');
	background-repeat:no-repeat;
	width: 27px;
	height: 42px;
	text-indent: -9999px;
	margin-left:10px;
	outline: none;
}
.arrows a#next2{
	float: right;
	background-image: url('../img/right-arrow.png');
	background-repeat:no-repeat;
	width: 27px;
	height: 42px;
	text-indent: -9999px;
	padding:0px 5px 0px 0px;
	outline: none;
}
#nav.nav{
	float: left;
	clear: right;
	position: absolute;
	top:445px;
	z-index: 9999;
	margin-left: 55px;
}
#nav a { 
	float: left;
	text-indent: -9999px;
	background-image: url('../img/blip-non-active.png');
	background-repeat:no-repeat;
	width: 11px;
	height: 11px;
	padding: 3px;
}
#nav a.activeSlide {
	text-indent: -9999px;
	background-image: url('../img/blip-active.png');
	background-repeat:no-repeat;
	width: 11px;
	height: 11px;}
#nav a:focus { outline: none; }

/* ==========================================================================
   Yield Styles
   ========================================================================== */
.content.yield{
	background-color: #ffffff;
	border-left: 1px solid #adadad;
	border-right: 1px solid #adadad;
	color: #616365;
	
}
.text-content{
	margin-left: 20px;
	width: 480px;
	margin-right: 85px;
	font-size: 12px;
}
.yield h2{
	color:#284e36;
	font-size:18px;
	margin-bottom: -5px;
}
.yield h3{
	color:#284e36;
	font-size:18px;
	font-style: normal;
}
ul.advantages-list li{
/* 	list-style-image:url('../img/check.png'); */
	background: url('../img/check.png') transparent no-repeat 0 -1px;
	min-height: 18px;
	width: 350px;
	padding-left: 30px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.toggles .perimiter{
	position: relative;
	min-height: 131px;
	border-bottom: 1px solid #848586;
	background-image: url('../img/toggle-bg.png');
	background-repeat:no-repeat;
	background-position:center bottom;
	width: 528px;
}

.toggles .perimiter-image{
	width:200px;
	text-align: center;
	padding:  10px 15px 10px 0;
}

.toggles .perimiter-text{
	width: 300px;
	padding-bottom: 30px
}
.toggles .perimiter-text h4{
	display: inline-block;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 10px;
	font-size: 16px;
	
	
}
.toggles .perimiter-text p{
	margin: 0;
}
.teley-style{
	padding-top: 10px;
}
.modem{
	padding-top: 10px;
}
a#expandButton1:link,a#expandButton1:visited,a#expandButton1:hover,a#expandButton1:active,
a#expandButton2:link,a#expandButton2:visited,a#expandButton2:hover,a#expandButton2:active,
a#expandButton3:link,a#expandButton3:visited,a#expandButton3:hover,a#expandButton3:active,
a#expandButton4:link,a#expandButton4:visited,a#expandButton4:hover,a#expandButton4:active
 {
	color:#284e36;
	cursor: pointer;
}
ul#changestate1 li, ul#changestate2 li, ul#changestate3 li, ul#changestate4 li{
	list-style-type: disc;
	padding-bottom: 5px;
	margin-left: -15px;
}

a.toggle-btn{
	outline: none;
 	position: absolute;
 	bottom: 0;
 	right: 0;
}



/* ==========================================================================
   Badge Styles
   ========================================================================== */

.badge-content{
	text-align: center;
}

.badge-content h4{
	padding-top: 120px;
	font-size: 15px;
	font-style: bold;
	margin-bottom: -10px;
}
.badge-content p{
	color: #2d2929;
	font-size: 13px;
}

.badge{
	width: 280px;
	height: 365px;
	background-image: url('../img/badge-bg.png');
	margin-top: -141px;
	position: relative;
	z-index: 99;	
	margin-right: 45px;
}

/* ==========================================================================
   Footer Styles
   ========================================================================== */
.pathways{
	background: url("../img/pathways.png") no-repeat scroll center bottom transparent;
	height: 102px;
	width: 958px;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid #adadad;
	border-right: 1px solid #adadad;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;	
}

#footer {
	background: url("../images/footerBg.gif") no-repeat scroll 0 0 transparent;
	font-size: 0.75em;
	margin: 20px auto;
	/*overflow: auto;*/
	padding: 15px 20px 60px 20px;
	width: 918px;
	border-top:solid 1px #cccccc;
	border-left:solid 1px #cccccc;
	border-right:solid 1px #cccccc;
	position:relative;
}
#footer .copyright {
	font-size: 0.9em;
	margin-top: 14px;
}
#footer .cta {
	color: #999999;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 12px;
}
#footer .about {
	float: left;
	padding-top: 4px;
	width: 70%;
}
#footer .support {
	float: right;
	text-align: right;
	width: 30%;
}
#footer .support ul.nav {
	float: right;
}
#footer ul.nav {
	height: 1.25em;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#footer ul.nav li {
	border-left: 1px solid #999999;
	float: left;
	margin: 0;
}
#footer ul.nav li a {
	color: #333333;
	padding: 0 1em;
}
#footer ul.nav li.first {
	border-left: medium none;
}
#footer ul.nav li.first a {
	padding-left: 0;
}
#footer ul.nav li.last a {
	padding-right: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}