<?xml version="1.0"?>
<configuration>
    <add key="subject" value="Fix your low Internet price for five years." />
    <!--<add key="fromAddress" value="foo@mckinney.com" />-->
    <add key="smtpServer" value="mail.prismtvproject.com" />
    <add key="smtpUser" value="support@prismtvproject.com" />
    <add key="smtpPassword"  value="z10b6T0E" />
</configuration>
