@charset  "UTF-8";

/* CSS Document */
a img { border: none; }

a, a:visited {
    color: #00853F;
}

/*--Main Container--*/
.banner_page_wrapper
{
	margin: 0px auto;
	width: 960px;
}

.main_view
{
	/*float: left;
	position: relative;*/
}

.banner_footer
{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #575757;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px 10px 0px 0px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
	background-color: #FFF;
	border: 1px solid;
	border-top-color: #d9d9d9;
	border-bottom-color: #ffffff;
	border-right-color: #d9d9d9;
	border-left-color: #d9d9d9;
	padding: 10px;
	width: 940px;
}

.right_banner
{
	float: right;
	height:220px;
	width: 300px;
	margin-top: 24px;
	margin-bottom: 4px;
	margin-right: 0px;
	overflow: visible;
}

.window
{
	height: 220px;
	width: 645px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	position: absolute;
	float: left;
	/*
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(PIE.htc);
	background: #FFF;
	border: 2px solid #a7cc6E;*/
}

.image_reel
{
	position: absolute;
	top: 0;
	left: 0;
}

.image img { float: left; }

/*--Paging Styles--*/
.paging
{
	position: absolute;
	bottom: 5px;
	right: 200px;
	width: 180px;
	height: 20px;
	z-index: 0;
	/*--Assures the paging stays on the top layer--*/
	text-align: center;
	/*display: none; --Hidden by default, will be later shown with jQuery--*/
}

.paging a
{
	padding: 3px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	color: #999;
}

.paging a.active
{
	color: #333;
	background: #f6f6f6;
	border: 1px solid #d9d9d9;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
}

.paging a:hover { font-weight: 700; }

.homepage_content
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 960px;
	padding: 0px;
}

.hp_left_cat1
{
	border-right: 1px solid #d9d9d9;
	float: left;
	margin-right: 11px;
	width: 290px;
	height: 95px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	padding: 10px;
	-moz-box-shadow: 2px 2px 3px #e2e2e2;
	-webkit-box-shadow: 2px 2px 3px #e2e2e2;
	box-shadow: #d5d5d5 0px 2px 3px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
}

.hp_left_cat2
{
	border-right: 1px solid #d9d9d9;
	float: left;
	margin-right: 11px;
	width: 290px;
	height: 95px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	padding: 10px;
	-moz-box-shadow: 2px 2px 3px #e2e2e2;
	-webkit-box-shadow: 2px 2px 3px #e2e2e2;
	box-shadow: #d5d5d5 0px 2px 3px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
}

.hp_right_cat
{
	float: right;
	width: 290px;
	height: 95px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	padding: 10px;
	-moz-box-shadow: 2px 2px 3px #e2e2e2;
	-webkit-box-shadow: 2px 2px 3px #e2e2e2;
	box-shadow: #d5d5d5 0px 2px 3px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
}

.hp_left_sec_cat1
{
	border-right: 1px solid #d9d9d9;
	float: left;
	margin-right: 11px;
	width: 210px;
	height: 95px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	padding: 10px;
	-moz-box-shadow: 2px 2px 3px #e2e2e2;
	-webkit-box-shadow: 2px 2px 3px #e2e2e2;
	box-shadow: #d5d5d5 0px 2px 3px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
}

.hp_left_sec_cat2
{
	border-right: 1px solid #d9d9d9;
	float: left;
	margin-right: 11px;
	width: 210px;
	height: 95px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	padding: 10px;
	-moz-box-shadow: 2px 2px 3px #e2e2e2;
	-webkit-box-shadow: 2px 2px 3px #e2e2e2;
	box-shadow: #d5d5d5 0px 2px 3px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
}

.hp_left_sec_cat3
{
	border-right: 1px solid #d9d9d9;
	float: left;
	margin-right: 10px;
	width: 210px;
	height: 95px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	padding: 10px;
	-moz-box-shadow: 2px 2px 3px #e2e2e2;
	-webkit-box-shadow: 2px 2px 3px #e2e2e2;
	box-shadow: #d5d5d5 0px 2px 3px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
}

.hp_right_sec_cat
{
	float: right;
	width: 210px;
	height: 95px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	padding: 10px;
	-moz-box-shadow: 2px 2px 3px #e2e2e2;
	-webkit-box-shadow: 2px 2px 3px #e2e2e2;
	box-shadow: #d5d5d5 0px 2px 3px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
}

.hp_cat_body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #666;
}

.hp_cat_sec_body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666;
}


.hp_cat_head, .hp_cat_head a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:15px;
	font-weight: 700;
	color: #000;
}

.hp_learnmore
{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #00853F;
	padding: 10px;
	padding-left: 50px;
	background: url(../images/hp_pointer_large.png) right no-repeat;
}

.hp_learnmore_rev2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #00853F;
}

.hp_sec_learnmore
{
	position: absolute;
	bottom: auto;
	top: 600px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #00853F;
	margin-top:30px;	
	/*padding: 0px;*/
	padding-left: 50px;
}

.hp_sec_learnmore_rev2
{
	/*bottom : 100px;*/
	/*padding-top:10px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #00853F;
}

.banner_footer a:link
{
	font-size: 9px;
	font-weight: normal;
	color: #666;
}

.banner_footer a:visited
{
	font-size: 9px;
	font-weight: normal;
	color: #666;
}

.banner_footer a:hover
{
	font-size: 9px;
	font-weight: normal;
	color: #CCC;
}

.banner_footer a:active
{
	font-size: 9px;
	font-weight: normal;
	color: #666;
}
.modal_sb
{
	border-right: 1px solid #d9d9d9;
	margin-top: 50px;
	margin-left: 100px;
	width: 300px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(http://www.centurylink.com/small-business/css/PIE.htc);
	background-color: #fff;
	border: 1px solid #d9d9d9;
	padding: 10px;
	min-height:100px;
}
