/*BASIC TEXT STYLES*/
body {
	line-height: 1.3;
}
.content h1 {
	font-size: 40px;
	font-weight: bold;
	color: #777;
	line-height: 1.1;
	text-transform: uppercase;
}
.content .extraBig {
	font-size: 90px;
	font-weight: bold;
	color: #777;
	line-height: 1.1;
}
.content a {
	color: #8CC63F;
}
.pageBody a {
	color: #00853F;
}
/* MODIFIED FROM MAIN.CSS ON CENTURYLINK.COM*/
/* =footer */
#footer {background: url("http://www.centurylink.com/static/Images/Layout/footerBg.gif") no-repeat; font-size: 12px; padding: 15px 20px; margin: 20px 0; width: 919px; overflow: hidden; clear:both}
#footer .copyright {font-size: 11px; margin-top: 14px;}
#footer .cta {font-size: 16px; color: #999; font-weight: bold;  margin: 0 0 12px;}
#footer .about {width: 70%; float: left; padding-top: 4px;}
#footer .support {width: 30%; float: right; text-align: right;}
#footer .support ul.nav {float: right;}
/* =footer navigation */
#footer ul.nav {list-style: none; margin: 0; padding: 0; height: 1.25em;}
#footer ul.nav li {margin: 0; border-left: 1px solid #666; float: left;}
#footer ul.nav li a {color: #333; padding: 0 1em;}
#footer ul.nav li.first {border-left: none;}
#footer ul.nav li.first a {padding-left: 0;}
#footer ul.nav li.last a {padding-right: 0;}

/* MODIFIED FROM MAIN.CSS ON CENTURYLINK.COM */
/*----------------------Modal Window Styles---------------*/
.modals {
	position: relative;
	z-index: 4000;
}
.modal{
	width:406px;
	min-height:100px;
	padding:0;
}
.modal .modal-top{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -2px;
	height:17px!important;
	height:37px;
	width:386px!important;
	width:406px;
	padding:10px;
	text-align:center;
	font-weight:bold;
}
.modal .modal-bottom{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -80px;
	width:406px;
	height:52px;
}
.modal .modal-content{
	width:366px!important;
	width:406px;
	padding:20px;
	background:transparent url('/assets/images/templates/modal_bg.png') repeat-y 0px 0px;
	overflow:visible;
}
.modal a.modal-close-btn{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -168px;
	height:16px;
	width:16px;
	display:block;
	float:right;
	vertical-align:bottom;
	float:right;
}
.modal .modal-close{
	float:right;
	width:100px;
	line-height:15px;
	*margin-top:-15px;
	text-align:right;
}
.zam_close, .ctam_close, .mam_close{float:left;}
#zam_close-button,#ctam_close-button,#mam_close-button{float:left; margin-left:5px;}
.modal .modal-close a{
	font-size:11px;
	color:green;
}
.modal .modal-block-top{
	margin-top:10px;
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -9px -136px;
	height:10px;
	width:356px;
}
.modal .modal-block-bottom{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -9px -168px;
	height:12px;
	width:356px;
}
.modal .modal-block{
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	background-color:#E7E7E7;
	min-height:10px;
	width:354px;
}
.modal-block-title{
	background: url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -188px;
	padding-left:20px;
	margin-left:10px;
}
.modal-block-title{
	background: url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -188px;
	padding-left:20px;
	margin-left:10px;
}
.modal-block-expanded, .modal-block-expanded_lvl2{
	display:none;
}
.modal-block-expanded_lvl2{
	margin:10px;
}
.modals .modal form{
	margin:10px 10px 0 0;
	background: transparent;
	padding:0;
}
.modals .modal, .modals .modal p {
	font-size: 12px;
}
.modals .modal input {
	font-size: 11px;
}
.modals .error {
	clear: both;
	overflow: hidden;
}
.modal form input{
	font: inherit;
}
.modal form label{
	display:block;
	font-size:11px;
}

.address-block{
	float:left;
	margin:auto 10px 7px auto;
}
.remember-me{
	margin-left:20px;
}
.link-protect-info{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -138px;
	padding-left:20px;
	margin-left:20px;
	display:block;
	line-height:20px;
}
.modal-button{
	font-size:0;
	display:block;
	background:url('/assets/images/sprites/modal_sprite.png') no-repeat;
}
.btn-modal-show-options{
	background-position:-10px -185px;
	height:26px;
	width:131px;
}

.btn-modal-show-options:hover{
	background-position:-10px -215px;
}
/*----------------------End Modal---------------*/

/*----------------------PopUp Window Styles---------------*/
.popup{
	width:406px;
	min-height:100px;
	padding:0;
}
.popup .popup-top{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -2px;
	height:17px!important;
	height:37px;
	width:386px!important;
	width:406px;
	padding:10px;
	text-align:center;
	font-weight:bold;
}
.popup .popup-bottom{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -80px;
	width:406px;
	height:52px;
}
.popup .popup-content{
	width:366px!important;
	width:406px;
	padding:20px;
	background:transparent url('/assets/images/templates/modal_bg.png') repeat-y 0px 0px;
	overflow:visible;
}
.popup-content p{
	margin-bottom: 16px;
}
.popup a.popup-close-btn{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -168px;
	height:16px;
	width:16px;
	display: block;
	vertical-align: bottom;
}
.popup-close-link {
	float: left;
}
.popup .popup-close{
	width:90px;
	line-height:15px;
	*margin-top:-15px;
	text-align:right;
	float:right;
}
.popup .popup-close a{
	font-size:11px;
	color:green;
}

/*----------------------End Pop Up---------------*/

/* CORNER Styles */
/* ROUNDED CORNER HTML IMPLEMENTATION:
<div class="corners insideW fillBgG cBottom"> <span class="corner cLeft"> &nbsp; </span> <span class="corner cRight"> &nbsp; </span> </div>
*/
.corners { position: relative; clear:both; display:block; width:100%; height:10px; }
.corners * { display:block; }
.corner { height: 10px; width:10px; display:block; position:relative; line-height: 0px; }
.cTop .cLeft { float:left; background-position: left top; top: -1px; right: 1px; }
.cTop .cRight { float:right; background-position: right top; top: -1px; left: 1px; }
.cBottom .cLeft { float:left; background-position: left bottom; bottom: -1px; right: 1px; }
.cBottom .cRight { float:right; background-position: right bottom; bottom: -1px; left: 1px; }
.insideW .corner { background-image:url("../images/corners/cornerWhiteInside.gif"); }
.outsideW .corner { background-image:url("../images/corners/cornerWhiteOutside.gif"); }
.outsideWNoBdr .corner { background-image:url("../images/corners/cornerWhiteOutsideNoBdr.gif"); }
.outsideB .corner { background-image:url("../images/corners/cornerBlackOutside.gif"); }
.fillBgW .corner { background-color:#FFF; }
.fillBgG .corner { background-color:#DDD; }
.fillBgB .corner { background-color:#000; }
.noLayoutTop { position: absolute; top: 0; left: 0; width: 100%; z-index: 200; }
.noLayoutBtm { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 200; }


/*PRISM GLOBAL STYLES*/
.modal {
	display: none;
}
#main {
	text-align: center;
}
.mainWrap {
	width: 960px;
	position: relative;
	margin: 0 auto;
	text-align: left;
}
body, div {
	position: relative;
	padding: 0;
	margin: 0;
}
#masthead {
	padding: 10px;
}
.logo {
	float: left;
}
.mastNav {
	float: right;
	text-align: right;
	height: 5.5em;
}
.mastNav .links {
	padding: 7px 0;
}
.mastNav .contact {
    clear: both;
    display: block;
    float: right;
    padding: 3px 0 3px 20px;
    text-align: left;
    width: 155px;
}
.mastNav .phone {
	width: 155px;
	background: #fff url('../images/icons/iconPhone.gif') no-repeat 5px center;
}
.mastNav .chatOnline {
	width: 155px;
	background: #fff url('../images/icons/iconChat.gif') no-repeat left center;
}
.content {
	background: #000;
	border: 1px solid #CCC;
	z-index: 10;
}
.content .pad {
	padding: 10px 20px;
	background: transparent url('../images/main-header.jpg') no-repeat right top;
	overflow: hidden;
}
.header h4 {
	font-size: 21px;
	color: #FFF;
	font-weight: normal;
}
.headCopy {
	float: left;
	height: 290px;
}
.headCopy .info {
	width: 350px;
	top: 30px;
	left: 10px;
}
.headCopy .info h1 {
	padding: 0 0 15px 0;
}
.headCopy .info h4 {
	padding: 0 0 15px 0;
}
.header .launchDemoLink {
	font-size: 18px;
	position: absolute;
	right: 10px;
	bottom: 35px;
}
.header .launchDemoLink a {
	color: #FFF;
	padding: 5px 0 5px 25px;
	font-size: 14px;
}
.headCta {
	float: left;
	color: #FFF;
	clear: both;
	width: 100%;
	border-top: 1px solid #333;
	height: 130px;
	overflow: hidden;
}
.headCtaItem {
	margin-top: 15px;
	width: 100%;
	height: 100%;
}
.headCta .pricepoint {
	padding-right: 15px;
}
#secondaryOfferContent {
	display: none;
}
#secondaryOfferContent .pricepoint {
	padding: 5px 25px 5px 0;
	border-right: 1px solid #333;
	margin-right: 25px;
}
#secondaryOfferContent .cta {
	width: 155px;
}
#secondaryOfferContent .cta .btn {
	position: relative;
	top: 25px;
	left: 0;
}
.headCta .cta {
	width: 170px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2;
}
.headCta .cta p {
	padding: 0 0 10px 0;
}
.headCta .cta strong, .headCta .pricepoint strong {
	color: #FDB52B;
	font-weight: normal;
}
.headCta .pricepoint, .headCta .cta {
	float: left;
}
.mainPageNav {
	position: relative;
	left: 10px;
	clear: both;
	display: block;
	width: 100%;
	z-index: 100;
	top: 1px;
	font-size: 12px;
}
.mainPageNav li {
	float:left;
	padding: 0 10px 0 0;
}
.mainPageNav li a {
	height: 35px;
	width: 140px;
	display: block;
	background-color: transparent;
	background-image: url("../images/btn-mainNav.gif");
	background-repeat: no-repeat;
	background-position: left bottom;
	text-align: center;
	line-height: 35px;
	color: #333;
	font-weight: bold;
}
.mainPageNav li a:hover, .mainPageNav .current a, .mainPageNav .ui-tabs-selected a {
	color: #00853F;
	text-decoration: none;
	background-position: left top;
}
.pageBody {
	clear: both;
	background: #FFF;
	border: 1px solid #CCC;
	overflow: hidden;
}
.pageBody .padded {
	padding: 30px 50px;
}
.pageHeader {
	padding: 15px 0 0 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.pageHeader img {
	line-height: 0;
	padding: 0;
	margin: 0 auto;
	display: block;
}
.subpageBacktrack {
	padding: 20px 50px 0;
}
.subContent {
	height: 1100px;
	width: 100%;
}
.subContent p, .subContent td {
	color: #616365;
}
.subContent h3, .heroCopy h3 {
    font-size: 25px;
    font-weight: normal;
    padding: 10px 0;
	line-height: 1.2;
	color: #000;
}
.subContent h4 {
    font-size: 17px;
    font-weight: normal;
	color: #000;
	line-height: 1.2;
}
.subContent h5 {
    font-size: 16px;
    font-weight: normal;
	color: #333;
}
.subContent .featureHead h4, .subContent .demoCallout h4,
.subContent .subContHeader h4, .grayHeader h4  {
    font-size: 20px;
    font-weight: normal;
	color: #666;
}
.grayHeader h4 {
	padding: 0 0 10px 0;
}
.grayHeader p {
	padding: 0 0 15px 0;
}
.subContent .feature {
	clear: both;
	width: 820px;
	position: absolute;
	top: 30px;
	left: 50px;
}
.subContent ul {
	padding: 0 0 0 15px;
}
.subContent ul li {
	list-style: disc;
}
.featCopy ul li {
	margin: 0 0 5px 0;
}
.feature .featCopy {
	padding-bottom: 70px;
	clear: both;
	color: #666;
}
.feature .featureImg {
	display: block;
	position: absolute;
	top: 0;
}
.featCopyDividers .featCopy {
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #CCC;
}
.featCopyDividers .noDivider  {
	margin-bottom: 0;
	border-bottom: 0 none;
}
.offerFeature {
	border: 1px solid #CCC;
	background: transparent url('../images/bg-featOffer.gif') repeat-x left top;
	color: #666;
}

.offerFeature h3{
	padding: 0px;
}
.offerFeature h4{
	margin-bottom: 15px;
}
.offerFeature .offerPad {
	padding: 20px;
}
.offerPricePoint {
	padding: 0 0 10px 0;
}
.offerPricePoint .textPrice {
	font-size: 60px;
	line-height: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #00853F;
}
.offerPricePoint .prePrice {
	font-size: 16px;
	color: #666;
	margin: 0;
}
.offerPricePoint .noPrice {
	font-size: 28px;
	color: #00853F;
	font-weight: normal;
	line-height: 1;
    padding: 0 0 10px;
}
.offerPricePoint .textPrice sup, .offerPricePoint .textPrice .sup {
	font-size: 30px;
	top: -20px;
	position: relative;
	left: 0;
	height: 60px;
}
.offerPricePoint .textPrice .sup {
	top: -10px;
}
.offerPricePoint .textPrice span {
	float: left;
}
.imgRight .featureImg {
	left: 430px;
}
.imgLeft .featureImg {
	left: -30px;
}
.onEdgeLeft .featureImg {
	left: -51px;
}
.onEdgeRight .featureImg {
	left: 460px;
}
.imgLeft .featCopy {
	margin-left: 50%;
}
.imgRight .featCopy {
	margin-right: 50%;
}
.narrowImgLeft .featCopy {
	margin-left: 40%;
}
.narrowImgRight .featCopy {
	margin-right: 40%;
}
.feature .icon {
	float: left;
	padding: 0 20px 10px 0;
}
.feature .featureHead {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
.feature .demoCallout {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #CCC;
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	font-size: 14px;
}
.feature .demoCallout h4 {
	padding: 7px 0 0 0;
}
.featureHero {
	height: 380px;
	clear: both;
}
.featureHero img {
	position: absolute;
	top: 0;
	left: 0;
}
.featureHero .disclaimer {
    bottom: 10px;
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 300;
}
.content .pageBody .twoCol {
	float: left;
	width: 50%;
	clear: none;
}
.twoCol .colPad {
	padding: 0 20px 0 0;
}
.pageBody .btm {
	height: 75px;
	width: 100%;
	background: transparent url('../images/btm-rainbow.jpg') repeat left top;
	clear: both;
	float: left;
}
.pageBody .btm h3 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 75px;
	color: #FFF;
	margin: 0;
	padding: 0;
}
.threeCol {
	float: left;
	margin: 0 0 20px 30px;
	z-index: 300;
}
.firstCol {
	margin: 0;
}
.threeCol h3, .threeCol h4{
	line-height: 1;
	margin-bottom: 6px;
}
.feature .threeCol .featureHead {
	padding: 0 0 15px 0;
}
.pageBody .lastCol .colPad {
	padding: 0;
}
.threeCol .colPad {
	width: 250px;
}
.threeCol .colPad p {
	padding: 0 10px 0 0;
}
.contFooter {
	padding: 20px;
}
.bubbleCta {
	height: 7em;
	border: 1px solid #CCC;
	float: left;
	width: 48%;
}
.contFooter .right {
	float: right;
}
.bubbleCta h4 {
	font-size: 20px;
	color: #867474;
	font-weight: normal;
}
.bubbleCta h5 {
	color: #888;
}
.contFooter .storeLocator h4 {
	padding: 20px 20px 0 20px;
}
.contFooter .storeLocator p {
	padding: 0px 20px;
}
.contFooter .viewOffers h4 {
	padding: 30px 20px 0 20px;
}
.contFooter .sharing {
	clear: both;
	padding: 20px 0 0 0;
}
.sharing .fblike, .sharing .tweet{
	float: left;
	width: 100px;
	height: 22px;
}
.arrowLink {
	display: block;
	background: transparent url('../images/btns/btn-green-arrow.gif') no-repeat 0px center;
	padding: 5px 20px;
	position:relative;
}
.arrowLinkDark {
	display: block;
	background: transparent url('../images/btns/btn-green-arrow-dark.gif') no-repeat 0px center;
	padding: 5px 20px;
	position:relative;
}
.forBizCallNumber {
	float: right;
	font-size: 16px;
	font-weight: normal;
	color: #666;
}
.forBizCallNumber strong {
	color: #00853F;
	font-weight: normal;
}
.btn img {
	vertical-align: middle;
}
.disclaimer {
	color: #9c9c9c;
	font-size: 11px;
}
.wideFeature {
	clear: both;
	padding: 20px 0;
	margin: 0;
	width: 100%;
	float: left;
}
.wideFeature .colWrap {
	position: relative;
	padding: 0 0 50px 0;
}
.wideFeature .colWrap .feature {
	position: relative;
	left: 0;
	top: 0;
}

.colWrap {
	width: 100%;
	overflow: hidden;
}

.medWideGroup {
	width: 100%;
	clear: both;
}
.wideGroup {
	width: 100%;
	clear: both;
}
.sliderWrap {
	clear: both;
	width: 100%;
	margin: 25px 0 45px 0;
}
.enableSlider {
	padding: 0 25px;
	overflow: hidden;
	margin: 0;
	background: transparent url('../images/slider-bg-inactive.gif') repeat-x center top;
}
.no-js .enableSlider {
	background: transparent;
}
.sliderWrap .sliderActive {
	padding: 0;
	margin: 0 25px;
	background: transparent url('../images/slider-bg.gif') repeat-x left top;
}
.enableSlider .sliding img {
	vertical-align:middle;
}
.enableSlider .sliding {
	float: left;
	display: block;
	width: 190px;
	text-align: left;
	height: 109px;
	line-height: 109px;
	overflow: hidden;
	top: 9px;
}
.sliderWrap .prev, .sliderWrap .next  {
	position: absolute;
	display: block;
	height: 109px;
	width: 33px;
	top: 0px;
	text-indent: -9999px;
}
.sliderWrap .prev {
	left: 0;
	background-image: url('../images/btns/slider-prev.gif');
	background-position: left top;
}
.sliderWrap .next {
	right: 0;
	background-image: url('../images/btns/slider-next.gif');
	background-position: right top;
}
.sliderWrap a {
	background-repeat: no-repeat;
}
.sliderWrap a.prev:hover {
	background-position: left bottom;
}
.sliderWrap a.next:hover {
	background-position: right bottom;
}
.contFooter .disclaimer {
	padding: 20px 0 10px 0;
}
.featureOffersHead {
	padding: 20px;
	text-align: center;
}
.offerFeature {
	width: 47%;
	height: 41em;
}
.featLeft {
	float: left;
}
.featRight {
	float: right;
}
.backTrackFoot {
	padding: 20px 0;
}
.backTrackFoot .leftLink {
	float:left;
}
.backTrackFoot .rightLink {
	float:right;
	text-align: right;
}
.addthis_toolbox {
	float: left;
}

/*SECTION SPECIFIC STYLES*/
#index .hero {
	height: 460px;
	background: transparent url('../images/wip-HeroImg.jpg') no-repeat center bottom;
}
#index .heroHead {
	margin: 0 40px 15px 40px;
	padding: 40px 0 0 0;
	font-size: 30px;
	background: transparent url('../images/wip-HeroTitle.gif') no-repeat left bottom;
}
#index .heroCopy {
	margin: 0 500px 0 40px;
	color: #666;
	font-size: 16px;
}
#index .heroCopy .fiberOverlay {
	text-decoration: underline;
}
#index .heroCta {
	position: absolute;
	height: 35px;
	line-height: 30px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
}
#index .heroCta strong {
	color: #00853F;
	font-weight: normal;
}
#index .heroQuote {
	position: absolute;
	top:0;
	left:0;
	text-indent: -9999px;
}
#wholeHomeDVR .dvrImgAdj1 .featureImg {
	left: -51px;
	top: -31px;
}
#wholeHomeDVR .dvrImgAdj2 .featureImg {
	top: 35px;
}
#wholeHomeDVR .dvrImgAdj3 {
	height: 250px;
}
#wholeHomeDVR .dvrImgAdj3 img {
	left: 7%;
	bottom: 40px;
	top: auto;
}
#wholeHomeDVR .featCopy {
	padding-top: 20px;
	padding-bottom: 120px;
}
#wholeHomeDVR .pageBody h5 {
	padding: 0;
}
#prismChannelLineup .threeCol {
	top: -40px;
	height: 21em;
}
#prismChannelLineup .chanLineTitle {
	background: transparent url('../images/headers/hdr-chnlLineup.gif') no-repeat left top;
	height: 45px;
	width: 550px;
}
#prismChannelLineup .subContHeader .contHeaderCopy {
	width: 520px;
	padding: 30px 0;
	z-index: 1100;
}
#prismChannelLineup .subContHeader .rightCol {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
}
#prismChannelLineup .subContHeader .bubbleCta {
	width: 100%;
	height: 50px;
	background-color: #EEE;
	position: relative;
}
#prismChannelLineup .subContHeader #alternateLineup {
	position: absolute;
	display: block;
	height: 32px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	right: 10px;
	top: 10px;
	width: 225px;
}
#prismChannelLineup .subContHeader #marketName {
	display: block;
	position: absolute;
	top: 5px;
	left: 0;
	clear: none;
}
#prismChannelLineup .subContHeader a {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: 0 5px;
}
#prismChannelLineup .subContHeader .bubbleCta h5 {
	padding: 10px 0;
	font-weight: bold;
	line-height: 32px;
	width: 100%;
	position: relative;
	text-indent: 15px;
}
#prismChannelLineup .subContHeader .citySelFormCont{
	position: relative;
	background: transparent url('../images/bg-channelLineupForm.gif') no-repeat left top;
	padding: 20px 10px;
	text-align: center;
	display: none;
}

#prismChannelLineup .subContHeader .citySelFormCont p{
	font-size: 12px;
	padding-bottom: 10px;
}

.subContent .bonusFeature { color: #000000; }
.subContent .bigBonusFeature { color: #FF6600; }
.subContent small { font-size: 11px; }

#prismFeaturedOffers .subContent.padded {
	padding: 30px 30px;
}

#prismFeaturedOffers .tripleBundle {
	height: 240px;
	background: transparent url('../images/feature/image_featured_triple.jpg') no-repeat left bottom;
}
#prismFeaturedOffers .prismBundle {
	height: 270px;
	background: transparent url('../images/feature/image_featured_prismtv.jpg') no-repeat left bottom;
}
#prismFeaturedOffers .offerModule {
	height: 410px;
	width: 420px;
	width: 420px;
	margin: 0 10px 10px 0;
	float: left;
}
#prismFeaturedOffers .rightModule {
	margin: 0 0 10px 0;
}
#prismFeaturedOffers .offerModuleHeader {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right 80%;
	padding: 0 0 10px 0;
}
#prismFeaturedOffers .offerModuleHeader .bigBonusFeature {
	font-weight: bold;
	font-size: 17px;
	line-height: 1;
	width: 190px;
}
#prismFeaturedOffers .offerModuleHeader .bigBonusFeature small {
	display: block;
	line-height: 1.2;
}
#prismFeaturedOffers .offerModuleHeader .plusBonusFeature {
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	color: #333;
}
#prismFeaturedOffers .offerModuleCTA {
    bottom: 20px;
    left: 20px;
    position: absolute;
	z-index: 100;
}
#prismFeaturedOffers .offerModuleCTA .phoneCta {
	color: #000;
	font-size: 16px;
	height: 30px;
    line-height: 30px;
}
#prismFeaturedOffers .offerModuleCTA .phoneCta strong {
	color: #FF6600;
	font-weight: bold;
}
#prismFeaturedOffers #offermodule1 .offerModuleHeader {
	background-image: url("../images/feature/offermodule1.png");
}
#prismFeaturedOffers #offermodule2 .offerModuleHeader {
	background-image: url("../images/feature/offermodule2.png");
}
#prismFeaturedOffers #offermodule3 .offerModuleHeader {
	background-image: url("../images/feature/offermodule3.png");
}
#prismFeaturedOffers #offermodule4 .offerModuleHeader {
	background-image: url("../images/feature/offermodule4.png");
}
#prismFeaturedOffers .offerModuleSatGuar .satGuarBlock {
	background: transparent url("../images/feature/offermodule-satGuar.png") no-repeat left center;
	overflow: hidden;
}
#prismFeaturedOffers .offerModuleSatGuar .satGuarBlock h3 {
	color: #00853F;
	font-size: 28px;
	padding: 20px 40px 20px 120px;
}

#prismCompare .compareTable td {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding: 15px;
}
#prismCompare .compareTable th{
	text-align: left;
	padding: 15px 15px 15px 0px;
}
#prismCompare .compareTable .prism {
	background: #f2f2f2 url('../images/icons/icon_yes.gif') no-repeat center center;
	text-indent: -9999px;
}
#prismCompare .compareTable .prism, #prismCompare .compareTable .cable {
	width: 15%;
}
#prismCompare .compareTable .cable {
	color: #FF6319;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}
#prismAdvancedFeatures .threeCol {
	height: 23em;
}
/* BROSWER-FIXES */
.ie6 .btm .corners, .ie6 .contHeaderCopy .noLayoutBtm {
	bottom: -1px;
}
.ie6 .enableSlider .sliding {
	width: 190px;
}
.ie6 #prismAdvancedFeatures .lastCol .colPad {
	width: 220px;
}
/* FIXES FOR LACK OF JAVSCRIPT, DELAYED AJAX LOADING, OR TABS */
.no-js #viewChannelBtnPreID {
	display: none;
}
.tabholder {
	display: none;
}
.ajaxFragment {
	display: none;
}
.tabPreload .subContent {
	display: block;
	height: 2000px;
}
.ui-tabs-panel {
	display: block;
	height: auto;
}
.js-proc .validateCity, .no-js .videoOverlay, .js-proc .videoOverlay, .no-js .ptvpVideoOverlay, .js-proc .ptvpVideoOverlay {
	display: none;
}
.hideTab {
	display: none;
}
#main .ui-tabs .ui-tabs-hide {
	display: none;
}
.contFooter .disclaimer {
	display: none;
}
.no-js .contFooter .disclaimer {
	display: block;
}
#index .index, #prismAdvancedFeatures .prismAdvancedFeatures, #prismChannelLineup .prismChannelLineup, #prismCompare .prismCompare, #prismFeaturedOffers .prismFeaturedOffers, #prismWhySwitch .prismWhySwitch, #wholeHomeDVR .wholeHomeDVR { display: block; }

.no-js #index .prismAdvancedFeatures, .no-js #index .prismChannelLineup, .no-js #index .prismCompare, .no-js #index .prismFeaturedOffers, .no-js #index .prismWhySwitch, .no-js #index .wholeHomeDVR { display: none; }


.greyBoxSeparator{
	border-bottom:1px solid #ebebeb;
	margin-bottom:40px;
}
#more_reasons{
	width:905px;
	margin: 0 auto;
}
#headline{
	height:56px;
	width:905px;
	background-image:url('../images/needEvenMoreReasons.jpg');
	background-repeat:no-repeat;
}
#columns{
	width:905px;
	background-image:url('../images/moreReasonsBG.gif');
	background-repeat:no-repeat;
	float:left;
}
#columns p{
	color:#666666;
}
#columns img{
	border:none;
	float:left;
	margin-top:3px;
	margin-right:15px;
}
#columns .title{
	color:#000000 !important;
	font-size:140%;
	margin-bottom:15px;
	display: block;
}
#col_1{
	width:264px;
	padding:15px;
	float:left;
}
#col_2{
	width:285px;
	padding:15px;
	float:left;
}
#col_3{
	width:260px;
	padding:15px;
	float:left;
}
.reverse_indent{text-indent:-9999px;}
#tallhead{
	height:402px;
	width:905px;
	background-image:url('../images/headers/hdr-whySwitch2.jpg');
	background-repeat:no-repeat;
	margin: 0 auto;
	position:relative;
}
.head_description{
	width:330px;
	color:#FFFFFF;
	top: 150px;
	left: 27px;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #363636;
	text-align:left;
	position:absolute;
}
.head_description .large{
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	margin-bottom:10px;
}
#compareCTA{
	position:absolute;
	top:20px;
	right:20px;
}
#compareCTA img {
	display:inline;
}
.seeItYourself {
	width:400px;
	clear:left;
	color:#FFFFFF;
	line-height:1em;
	bottom:30px;
	left: 27px;
	text-align:left;
	position:absolute;
}
.seeItYourself .vidThumbLink {
	float: left;
}
.seeItYourself .vidThumbLink img {
	display: inline;
}
.seeItYourself p {
	position:relative;
	top:10px;
	padding-bottom:10px;
	display: block;
	margin-left: 120px;
}
.seeItYourself .largeGreen{
	font-size:16px;
}
.seeItYourself .largeGreen img {
	display: inline;
	vertical-align: top;
}
#arrowIconPlay {
	margin-right:10px;
	margin-left:0px;
	margin-top:-4px;
}
#try30days {
	position:absolute;
	right: -1px;
    top: -1px;
    z-index: 1000;
}
#prismWhySwitch .subContent {
	padding: 30px 20px;
}
#prismWhySwitch .head_description .fiberOverlay {
	color: #FFFFFF;
	text-decoration: underline;
}
#chatBtn{padding-right:15px;}

/*formatting for changes made to prismFeaturedOffers*/
#satisfactionGuaranteed {margin:0 auto;width:750px;height:100px; display: none;}
#satisfactionGuaranteed img{float:left;}
#satisfactionGuaranteed p{float:left;margin-top:25px;margin-left:22px;color:#616365;font-size:17px;}

/*overlay alt styles*/
#html5VideoList {
	margin: 10px 0 0 0;
	padding: 0;
}

#html5VideoList.msie6, #html5VideoList.msie7, #html5VideoList.msie8 {
	display: none;
	margin: 0;
}

#html5VideoList li {
	display: block;
	float: left;
	position: relative;
	width: 138px;
	height: 130px;
	margin: 0 10px 0 0;
	padding: 0;
}

#html5VideoList li.last {
	margin: 0;
}

#html5VideoList li a {
	display: block;
	float: left;
	position: relative;
	color: #fff;
	font-size: 11px;
	padding: 0;
	margin: 0;
	background: #000;
}
#html5VideoList li a img {
	display: block;
}
#html5VideoList li a:hover {
	text-decoration: none;
}
p.FB_text{
	color:#666666;
	padding-bottom:10px;
}
.subContent h5.lightGrey{
	color:#999999;
	margin-bottom: 15px;
    margin-top: 5px;
}

#cycleNav ul {
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	background-color: #000;
	position: relative;
	top: 2px;
	left: 0;
	z-index: 500;
}
#cycleNav ul li {
	display: block;
	width: 20%;
	height: 40px;
	margin: 0;
	padding: 0;
	float: left;
}
#cycleNav ul li a {
	display: block;
	width: 98%;
	height: 100%;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	border-radius: 10px 10px 0 0;
	background-color: #00853F;
}
#cycleNav ul .activeSlide a {
	background-color: #FFF;
	color: #00853F;
}
