@charset "UTF-8";
/* CSS Document */

/*Universal Style Rule */
*{
	margin: 0;
	padding: 0;
}
html
{
    overflow:hidden;
	width:520px;
}

body{
	background-color:#ffffff;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	margin: 0;
	overflow:hidden;
	width:520px;
}

a{
	text-decoration:none;
	border: none;
	outline:none;
}
img{
	border:none:
}
a img{
	border: none;
}

.blueTxt{
	color:#00853f;
	font-weight: bold;
}

#wrapper {
	width: 520px;
	height:850px;
	margin: 0;
	border:thin #d1d2d3 solid;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0'); /* for IE */
	background: -webkit-gradient(linear, top, bottom, from(#ffffff), to(#f0f0f0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #f0f0f0); /* for firefox 3.6+ */ 
}

#header{	
	position:relative;
}

#header img{
	display: block;
}

#content{
	padding: 25px 13px 20px 13px;
	height: 370px;
}

#form{
	background-image: url(../img/sup_bg_form.gif);
	background-repeat:no-repeat;
	height: 281px;
	width: 494px;
}

#form form{
	padding: 20px 14px 20px 14px;
}

#form p{
	line-height:16px;	
}

#form input[type=text]{
	border: 1px solid #8a8a8b;
	margin: 0 0 5px 0;
	width:228px;
}

#form .input{
	width:228px;
}

#form textarea{
	resize: none;
	margin:0;
}

#form .label{
	margin: 10px 0 0px 0;
	width:228px;
}
#form .label1{
	
	margin: 10px 0 2px 0;
	width:228px;
}
#form .label2{
	margin: 10px 0 2px 0;
	padding-top: 14px;
	width:228px;
}
#form select{
	margin: 2px 0 5px 0;
	padding: 3px 0 0 3px;
	border: solid 1px #8a8a8b; 
	background:#8a8a8b;
	color:#fff;
}
#form option{ 
	background:#8a8a8b; 
}

#form .submitButton{
	padding-top: 26px;
	margin-bottom: 1px;
	border:none;
	outline:none;
}

#fName{
	float:left;
}
#fEmail{
	float:right;
}

#fState{
	float:left;
}
#fCategory{
	float:right;
}


#fComments{
	float:left;
	
}
#fSubmit{
	float:right;
	width:228px;
	text-align:left;	
}

.validationText{
	color:#f00;
	font-weight:bold;
	visibility:hidden;
	font-size: 11px;
}


#thankyou {
	position:absolute;
	top:-500px;
	left:14px;
	visibility:visible;
	font-size:10px;
}


#twitter{
	float:none;
	background-image: url(../img/sup_bg_twitter.gif);
	background-repeat:no-repeat;
	text-align:center;
	height: 72px;
	width:494px;
	vertical-align:central;
	margin-top:14px;
}
	#twitter img{
		margin-top:2px;
		vertical-align:middle;
	}
	#twitter a{
		color:#000;
		font-weight:bold;
	}
	#twitter a:hover{
		text-decoration:underline;
	}
	#twitter a:visited{
		color:#000;
	}
	
#content2{
	margin: 15px 25px 20px 25px;
}	

#visibleWindow{	
	position:absolute;
	overflow:hidden;
	width:355px;
	height:350px;
	}

#infoContainer{
	position:absolute;
	width: 3150px;
	left: -515px;
}
	.infoCard{
		width: 365px;
		height: 340px;
		float: left;
		padding: 10px 150px 0 0;
	}
	.vidLauncher{
		float: left;
		width: 151px;
		cursor:pointer;
	}
	.info{
		width: 200px;
		margin-left: 151px;	
	}
	.infoTitle {
		font-weight: bold;
		font-size: 18px;
		color: #00853f;
		margin: 0 0 5px 7px;	
	}
	.tidbit{
		margin: 0 0 5px 7px;	
	}

.visibleWindow{
	position:relative;
	top: 15px;
	left: 360px;
	width:95px;
	height:240px;
	overflow:auto;
	max-width:95px;
	
}

.scroll-pane{
	position:relative;
	top: 15px;
	left: 360px;
	width:110px;
	height:220px;
	overflow:auto;	
	outline:none;
}

#scrollContainer{
	height: 445px;	
	width: 95px;
	outline:none;
}
	
	
	#richBtn{
		position:absolute;
		cursor: pointer;
		outline:none;
	}
	#coreyBtn{
		position:absolute;
		top:75px;
		cursor: pointer;	
		outline:none;
	}
	#steveBtn{
		position:absolute;
		top:150px;
		cursor: pointer;
		outline:none;
	}
	
	#stephBtn{
		position:absolute;
		top:225px;
		cursor: pointer;
		outline:none;	
	}
	#sippBtn{
		position:absolute;
		top:300px;
		cursor: pointer;
		outline:none;
	}
	#brianBtn{
		position:absolute;
		top:375px;
		cursor: pointer;
		outline:none;
	}

#container{
	position:absolute;
	top:530px;
	left: 0px;
}

.empty, #empty, .clear
{
	clear: both;
	height: 0px;
	overflow: hidden;
}
