/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  background: transparent;
}

h2 {color:#55770F;
font-size:12px;
 } 
#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.TB_overlayMacFFBGHack { background-image:url(http://www.centurylink.com/smallbusiness/images/macFFBgHack.png);}
.TB_overlayBG {
  background-color:#333;
  filter:alpha(opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
	/* -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/qcms/qCmsRepository/Global/centurylink/css/smallbusiness/border-radius.htc);*/	
  position: fixed;
  background: transparent;
  z-index: 102;
  color:#000000;
  display:none;
  /* border: 4px solid #525252;*/
  text-align:left;
  top:50%;
  left:50%;
}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}
#TB_closeWindow{
  height:25px;
  padding:11px 25px 10px 0;
  float:right;
}
#TB_closeAjaxWindow{
  /* padding:7px 10px 5px 0; */
  margin-bottom:1px;
  text-align:right;
  float:left;
  width:103px;
}
#TB_ajaxWindowTitle{
	float:left;
	/* padding:7px 0 5px 10px; */
	margin-bottom:1px;
	color:#000000;
	font-size:1.1em;
	width:280px;
	font-weight:bold;

}
#TB_title{
	/* background-color:#fff; */
	height:3px;
	height:10px!important!;
}
#TB_ajaxContent{
	clear:both;
	/* padding:2px 15px 15px 15px; */
	overflow:auto;
	text-align:left;
	/* line-height:1.4em;*/
	background:transparent url(../../assets/images/templates/modal_bg.png) repeat-y scroll 0 0;
	overflow:visible;
	width:403px !important;
}
#TB_ajaxContent.TB_modal{
  padding:15px;
}
#TB_ajaxContent p{
  padding:5px 0px 5px 0px;
}
#TB_load{
  position: fixed;
  display:none;
  height:13px;
  width:208px;
  z-index:103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{
  z-index:99;
  position:fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  border:none;
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height:100%;
  width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{
  clear:both;
  border:none;
  margin-bottom:-1px;
  margin-top:1px;
  _margin-bottom:1px;
}

.sbr_MainTitle{

}
#popUp_title{
	/*background:url(/assets/images/sprites/modal_sprite.png) scroll left no-repeat;
	height:35px;
	width:401px;*/
	background:transparent url(../../assets/images/sprites/modal_sprite.png) no-repeat scroll -7px -2px;
	font-weight:bold;
	height:17px;
	padding:10px;
	text-align:center;
	width:386px;
}
#popUp_bottom{
	background:transparent url(../../assets/images/sprites/modal_sprite.png) no-repeat scroll -7px -80px;
	height:52px;
	width:406px;
}
.modal-close-btn {
background:transparent url(../../assets/images/sprites/modal_sprite.png) no-repeat scroll -378px -168px;
display:block;
height:16px;
vertical-align:bottom;
width:16px;
margin-top:0px;
margin-left:3px;
float:right;
}

.lockImage{
background:transparent url(../../assets/images/sprites/modal_sprite.png) no-repeat scroll -377px -137px;
display:block;
float:left;
height:29px;
margin-right:4px;
margin-top:-5px;
width:17px;
}
.divExpandTop{
	background:transparent url(../../assets/images/sprites/modal_sprite.png) no-repeat scroll -8px -134px;
	padding-left:10px;
	padding-top:12px;
	padding-top:0px!important!;
	height:10px!important!;
	width:358px;
	margin-left:10px;
}
.divExpandCenter{
	background:#E7E7E7 none repeat scroll 0 0;
	border-style:none solid;
	border-color:#C6C6C6;
	border-width:medium 1px 1px;
	width:350px;
	margin-left:11px;
	padding:4px;
	padding-right:0px;
}
.divBottomExpand{
	background:transparent url(../../assets/images/sprites/modal_sprite.png) no-repeat scroll -8px -166px;
	height:3px;
	margin-left:10px;
	padding-left:10px;
	padding-top:12px;
	width:358px;
}