/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
    outline: none !important;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body{
    background-color: #000;
}
.container{
    max-width: 768px;
    margin: 0 auto;
}
.logo{
    height: 60px;
    width: 100%;
    background-color: #efefef;
    padding-left: 12px;
    padding-right: 12px;
}
.logo a{
    padding-top: 15px;
    display: block;
}
.header{padding-left: 12px;padding-right: 12px;}
.header h1{
    color: #A0CFEB;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    line-height: 27px;
    font-weight: bold;
}
.header h2{
    color: #FFF;
    font-size: 21px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 21px;
}
p.yellow{
    color: #fdc82f;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}
p.tfn a{
    color: #fff;
    font-size: 19px;
    margin-top: 0;
    text-decoration: none;
}

.location1, .location2{
    padding-left: 12px;
    padding-right: 12px;
}
.tv-price{
    position: relative;
    z-index: -1;

}
.tv-price .container p{
    height: 521px;
    background-image: url("../img/prism-tv-pure-broadband.jpg");
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-top: -210px;
    margin-bottom: -130px;
}
.break .container{
    border-bottom: 1px solid #616365;
    margin-left: 32px;
    margin-right: 12px;
    width: 320px;
    margin: 0 auto;
    padding-top: 22px;
}
a.location-1544{
    text-indent: -9999px;
    width: 119px;
    height: 33px;
    background-image:url('../img/get-directions.png');
    display: block;
}
a.location-2020{
    text-indent: -9999px;
    width: 119px;
    height: 33px;
    background-image:url('../img/get-directions.png');
    display: block;
}
.white-panel .container{
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.white-panel h3{
    margin: 0;
    padding: 0;
    color: #00853f;
    font-size: 12px;
    font-weight: bold;
}
.white-panel p{
    margin-top: 3px;
    margin-bottom: 3px;
}
.white-panel p, .white-panel ul{
    color: #666666;
    font-size: 12px;
}
.white-panel ul{
    margin-top: 7px;
}
.white-panel li{
    padding-bottom: 3px;
}
.privacy{
    padding-left: 12px;
}
.privacy p{
    font-size: 10px;
    color: #fff;
}
.privacy p a{color: #8cc63f;}
.privacy p a:visited{color: #8cc63f;}
.privacy p a:hover{text-decoration: none;color: #8cc63f;}
.privacy p a:active{color: #fff;}
.break-wp .container{
    border-top: 1px solid #CECECE;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 17px;
    margin-bottom: -10px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 320px) {
    /* Style adjustments for viewports that meet the condition */
    .container{max-width: 320px;margin: 0 auto;}
    .break .container{width:320px;}
    .white-panel .container{width: 300px;}   
    .break-wp .container{width:280px;}
}
@media only screen and (min-width: 480px){
    /* Style adjustments for viewports that meet the condition */
    .container{max-width: 450px;margin: 0 auto;}
    .break .container{width:450px;}
    .white-panel .container{width: 430px;} 
    .break-wp .container{width:420px;}
    .tv-price .container p{margin-left: 64px;}
}
@media only screen and (min-width: 600px){
    /* Style adjustments for viewports that meet the condition */
    .container{max-width: 600px;margin: 0 auto;}
    .break .container{width:600px;}
    .white-panel .container{width: 580px;} 
    .break-wp .container{width:560px;}
}
@media only screen and (min-width: 768px){
    /* Style adjustments for viewports that meet the condition */
    .container{max-width: 768px;margin: 0 auto;}
    .break .container{width:768px;}
    .white-panel .container{width: 748px;} 
    .break-wp .container{width:728px;}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}