* {
	position: relative;
}

/* BASIC TEXT FORMATTING */
html, body {
	background-color: #000;
	color: #999;
	-webkit-text-size-adjust:none;
}
h1, h2, h3, h4, h5, h6 {
	color: #00853F;
}
h1 { font-size: 160% }
h2 { font-size: 140% }
h3 { font-size: 120% }
h4 { font-size: 110% }
h5 { font-size: 105% }
h6 { font-size: 100% }
p {
	line-height: 1.4;
	margin: 0.5em 0 1em 0;
}

/* UTILITY CLASSES */
.disclaimer { font-size: 11px; color: #666; line-height: 1.1; }
.innerWrap {
	/*max-width: 320px;*/
	max-width: 480px;
	margin: 0 auto;
	height: 100%;
}
.pad {
	padding: 0 12px;
}
.textinput {
	padding: 5px 10px;
	display: inline-block;
}
body .flexBtn {
	display: block;
	display: inline-block;
	padding: 0 0 0 15px;
	height: 30px;
	line-height: 30px;
	background-position: left top;
	background-image: url("/prismtv/images/btns/btn-bg-green.gif");
	background-color: transparent;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	vertical-align: top;
	border: 0 none;
}
.flexBtn .flex {
	color: #FFF;
	font-weight: bold;
	display: block;
	height: 30px;
	padding: 0 15px 0 0;
	line-height: 30px;
	background-position: right top;
	background-image: url("/prismtv/images/btns/btn-bg-green.gif");
	text-shadow: 0 -1px 4px rgba(0,0,0,0.2);
	text-decoration: none;	
}
a.flexBtn:hover, button.flexBtn:hover {
	text-decoration: none;	
}
.greenShadow, .greenShadow .flex { background-image: url("/prismtv/images/btns/btn-bg-greenShadow.gif"); height: 33px; }
.greenBlackBG, .greenBlackBG .flex { background-image: url("/prismtv/images/btns/btn-bg-greenBlackMatte.gif"); height: 33px; }

.orangeShadow, .orangeShadow .flex { background-image: url("/prismtv/images/btns/btn-bg-orangeShadow.gif"); height: 33px; }
.orangeBlackBG, .orangeBlackBG .flex { background-image: url("/prismtv/images/btns/btn-bg-orangeBlackMatte.gif"); height: 33px; }

.ghostWhiteShadow, .ghostWhiteShadow .flex { background-image: url("/prismtv/images/btns/btn-bg-ghostWhiteShadow.gif"); height: 41px; line-height: 39px; color: #666; text-shadow: 0 1px 4px rgba(0,0,0,0.3); }
.ghostWhiteBlackBG, .ghostWhiteBlackBG .flex { background-image: url("/prismtv/images/btns/btn-bg-ghostWhiteBlackMatte.gif"); height: 41px; line-height: 39px; color: #666; text-shadow: 0 1px 4px rgba(0,0,0,0.3); }


/* ZAM CTA */
.zamCTA .grayTabBtn {
	position: absolute;
	top: 0;
	right: 15px;
	background: transparent url("/prismtv/mobile/images/close-tab-btn.png") left top;
	height: 27px;
	width: 68px;
	display: block;
	text-indent: -9999px;
}
.zamCTAForm {
	margin: 15px 0;
}
.zamCTAForm label {
	display: block;
	margin: 25px 0 10px 0;
}
.zamCTA .ctaBtnWrap {
	display: block;
	margin: 15px 0;
	text-align: center;
}
.zamCTA .validation {
	font-size: 10px;
	color: #933;
	display: none;
}

/* HEADER AREA */
#header {
	background-color: #FFF;
	color: #333;	
}
.prismLogo {
	background: #FFF url("/prismtv/mobile/images/header-bg.gif") repeat-x left bottom;
	color: #333;
	overflow: hidden;
	height: 60px;
}
.prismLogo a {
	display: block;
	position: absolute;
	left: 15px;
	bottom: 0%;
	width: 60%;
	padding-bottom: 1%;
}
.prismLogo a img {
	display: block;
	width: 100%;
}


/* HEADER ZAM CTA */
.headerCTA .toggleFoldDownZAM {
	display: none;
}
.nolocation .headerCTA .toggleFoldDownZAM {
	position: absolute;
	top: -45px;
	right: 15px;
	z-index: 100;
	display: block;
}
.headerCTA {
	border-top: 1px solid #CCC;	
}
.nolocation .foldDownZAM {
	display: none;
}
.foldDownZAM {
	padding: 15px;
}


/* MAIN HERO */
#hero h1, #hero h2, #hero h3, #hero h4, #hero h5, #hero h6 {
	color: #8cc63f;
	text-align: center;	
}
#hero h1 {
	font-size: 19px;
	margin: 10px 0 0 0;
}
#hero h4 {
	font-size: 17px;
	margin: 0;
}
#hero p, #hero li {
	color: #CCC;
}
#hero p {
	margin: 10px 15px 10px 180px;
	font-size: 15px;
	line-height: 1.5;
	color: #999;
}
#hero {
	background: transparent url("/prismtv/mobile/images/prism-hero.jpg") no-repeat left bottom;
	min-height: 190px;
}


/* MAIN CONTENT AREA */
.roundedCont {
	margin: 0 15px;
	padding: 17px;
	border-radius: 10px;
	background-color: #FFF;
	color: #333;
}
.priceblock {
	margin: 15px 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 10px 0;
	clear: both;
	overflow: hidden;
}
.priceblock .accent {
	font-weight: bold;
	font-weight: bold;
	color: #00853F;
	margin: 0 0 10px 0;
	clear: both;
}
.priceblock .startingAt {
	width: 120px;
	float: left;
	color: #666;
	font-size: 12px;
}
.priceblock .disclaimer {
	width: 70px;
	float: left;
	color: #666;
	position: relative;
	left: 5px;
	top: 0;
	font-size: 10px;
	line-height: 1.1;
}
.textPrice {
	font-size: 45px;
	line-height: 45px;
	float: left;
	display: block;
	margin: 0;
	color: #00853F;
}
.textPrice sup, .textPrice .sup {
	font-size: 25px;
	top: -20px;
	position: relative;
	left: 0;
	height: 61px;
}
.textPrice .sup {
	top: -6px;
}
.textPrice .dollars {
	letter-spacing: -1px;
}
.textPrice .disclaimer {
    font-size: 9px;
    left: -30px;
    position: relative;
    top: 36px;
    width: 53px;
}
.textPrice span {
	float: left;
}


/* FOOTER */
#footer {
	padding: 0 0 50px 0;
}
.mobileToggle {
	text-align: center;
	padding: 40px 0;
}