/* Global reset-RESET (restores some sensible defaults) based on EJS's reset.css */
strong {
	font-weight:bold
}
em {
	font-style:italic
}
a img {
	border:none
} /* Gets rid of IE's blue borders */
a:active {
	outline:none
}
* {
	outline: none;
}
/*** GENERAL TYPEOGRAPHY ***/
body {
	background-color: #fff;
	color: #030303;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #00853f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin-bottom: 15px;
	font-size: 14px;
}
ul {
	margin-left: 35px;
	margin-bottom: 10px;
}
ul li {
	list-style-type: disc;
	margin-bottom: 4px;
}
sup {
	vertical-align: baseline;
	line-height: 0;
	font-size: 65%;
	position: relative;
	left: 0;
	top: -0.5em
}
sub {
	vertical-align: baseline;
	line-height: 0;
	font-size: 65%;
	position: relative;
	left: 0;
	top: 0.2em
}
.smallGray {
	color: #666;
	font-size: 10px;
	display: block;
	line-height: 12px;
	padding: 3px 0 0 0;
	margin: 0;
}
/*** GENERAL LAYOUT ***/

/*** HEADER STYLES ***/

.clearfix:after {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
}
body, div {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}
#masthead {
	padding: 10px;
}
.logo {
	float: left;
}
.mastNav {
    float: right;
    height: 90px;
    text-align: right;
}
.mastNav .links {
	padding: 7px 0;
}
div.mastNav p.links {
	margin-bottom: 0;
}
.mastNav .contact {
	text-align: left;
	/*margin: 0 0 0 47%;*/
	display: block;
	padding: 3px 0 3px 20px;
	float: right;
}
.mastNav .phone {
	width: 155px;
	background: #fff url('//www.centurylink.com/prismtv/images/icons/iconPhone.gif') no-repeat 5px center;
}
.mastNav .chatOnline {
	/*width: 155px;*/
	background: #fff url('//www.centurylink.com/prismtv/images/icons/iconChat.gif') no-repeat left center;
}

.topPhone {
background: url("../images/phone.jpg") no-repeat scroll 0 0 transparent;
padding-left: 15px;
padding-top: 2px;
text-align: left;
margin-top: -5px;
margin-left: 235px;
}

.chatBtn a {
	display: block;
	height: 42px;
	margin-bottom: 10px;
	position: absolute;
	right: 49px;
	text-indent: -9999px;
	top: 55px;
	width: 157px;
	z-index: 1000;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative
}

.twoCol {
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}

/* HEADER */


.tv-img{
	position: relative;
}
.tv-img img{
	padding-left: 0;
	margin-top: 0;
	position: relative;
	z-index: 1;
	top: 0;
	left: 60px;
}
#header {
	width: 960px;
	height: 430px;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 55px 440px 0 55px;
}
#header h1 {
	color: #FFF;
	font-size: 30px;
	font-weight: normal;
	margin: 0
}
#header .subhead {
	font-size: 24px;
	color: #FFF;
	padding: 0 0 18px 0;
	margin: 0;
}

#header .priceBlock {
	position: relative;
	top: 0;
	left: 0;
	line-height: 1;
	font-size: 93px;
	height: 90px;
	color: #8dc63f;
	padding: 0 0 0 0;
	width: 260px;
	float: left;	
}
#header .priceMain {
	float: left;
	display: inline-block;
}
#header .priceSup {
	font-size: 50%;
	float: left;
	line-height: 1.2;
	height: 50%;
	display: inline-block;
}
#header .priceTerms {
	font-size: 12px;
	color: #FFF;
	display: block;
	float: left;
	width: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 0 0 5px;
	margin: 0;
	display: inline-block;
}
#header .priceTermsExtra {
	float: left;
	clear: both;
	font-size: 9px;
}
#header p {
	color: #FFF;
}


#header h4 {
	color: #8dc63f;
	width: 200px;
	font-size: 28px;
	float: left;
	padding-top: 7px;
	font-weight: 100;
}

#header h5 {
	clear: left;
	padding: 0 0 0 0;
	font-size: 32px;
	color: #ccc;
}

#header h5 span {
	color: #f68428;
	font-weight: bold;
}


/* CONTENT */

#content {
	width: 960px;
	margin: 0 auto;
	position: relative;
	background: url(../images/contentBG.jpg) center top repeat-y;
}

#benefits {
	width: 960px;
	height: 549px;
	margin: 0 auto;
	position: relative;
	background: url(../images/benefitBG.jpg) center top no-repeat;
	z-index: 1;
}

#benefits .header {
	padding: 0 87px 25px 87px;
}
#benefits h2 {
	font-size: 30px;
	color: #00853F;
	padding: 20px 0 5px 0;
} 

#benefits h3 {
	font-size: 20px;
} 

#benefits .header p {
	font-size: 18px;
	color: #333333;
	padding: 0 100px 0 0;
}
#benefits p {
	font-size: 15px;
	color: #333333;
	padding: 0 15px 0 0;
}

#benefits ul {
	width: 350px;
	clear: both;
	padding: 10px 0 10px 20px;
	margin: 0;
	color: #8dc63f;
}

#benefits ul li {
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 1.4;
}

#benefits ul li span {
	color: #333;
}

#benefits ul li.offers {
	color: #8dc63f;
	font-weight: bold;
	list-style-type: none;
	font-size: 20px;
	margin-left: 0;
	margin-bottom: 10px;
	
}

#switch {
	width: 960px;
	height: 330px;
	margin: 0 auto;
	position: relative;
	background: url(../images/switchBG.jpg) center top no-repeat;
	text-align: center;
}

#switch h2 {
	color: #00853F;
	font-size: 30px;
}

#switch p {
	color: #999999;
	font-size: 24px;
}

#bottomCTA {
	width: 960px;
	height: 153px;
	margin: 0 auto;
	position: relative;
	background: url(../images/bottomCTA.jpg) center top no-repeat;
}

#bottomCTA p {
	padding: 42px 0 0 87px;
	font-size: 24px;
	color: #999999;
	font-weight: 100;
	line-height: 20px;
}

#bottomCTA p span {
	color: #f68428;
	font-weight: bold;
}

#bottomCTA p.large {
	padding-top: 0;
	font-size: 28px;
}

.disclaimer {
	color: #666;
	font-size: 11px;
	padding: 20px;
	margin: 0;
	clear: both;
}

p.disclaimer a {
	text-decoration: underline;
}

/* FOOTER */
#footer {
	background: url("//www.centurylink.com/static/Images/Layout/footerBg.gif") no-repeat;
	font-size: 12px;
	margin: 0 auto;
	width: 960px;
	height: 100px;
	overflow: hidden;
	clear:both
}
#footer .copyright {
	font-size: 11px;
	margin-top: 14px;
}
#footer .cta {
	font-size: 16px;
	color: #999;
	font-weight: bold;
	margin: 0 0 12px;
}
#footer .about {
	width: 70%;
	float: left;
	padding-top: 4px;
	position: relative;
	top: 20px;
	left: 20px;
}
#footer .support {
	width: 30%;
	float: right;
	text-align: right;
	position: relative;
	top: 20px;
	right: 20px;
}
#footer .support ul.nav {
	float: right;
	padding-top: 30px;
}
/* =footer navigation */
#footer ul.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 1.25em;
}

#footer ul.nav li {
	margin: 0;
	border-left: 1px solid #666;
	float: left;
	display: block;
}
#footer ul.nav li a {
	color: #333;
	padding: 0 1em;
}
#footer ul.nav li.first {
	border-left: none;
}
#footer ul.nav li.first a {
	padding-left: 0;
}
#footer ul.nav li.last a {
	padding-right: 0;
}
.no-js #main_page_nav {
	display: none;
}
.no-js #inner_content .tab {
	display: block;
}
