/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a:link{outline: none !important;}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.fL{float: left;}
.fR{float: right;}
.green{color: #007f3d;}
.orange{color: #ff6319;}
.grey{color: #666666;}
.grey2{color: #616365;}
.grey3{color:#999999;}
.white{color:#ffffff;}
.content{width:960px; margin:0 auto;}
.reg{font-weight: normal;font-size: 10px;vertical-align: super;}
/* ------------------------------------------------------------header */
.header { 
	height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	padding: 10px 0;
}
.header .nav ul{margin-top: 5px;}
.header .nav ul li{
	display: inline;
	text-decoration: none;
	font-size: 11px;
}
.header .nav ul li a:link{text-decoration: none;color: #999999;}
.header .nav ul li a:visited{text-decoration: none;color: #999999;}
.header .nav ul li a:hover{text-decoration: none;color: #007f3d;}
.header .nav ul li a:active{text-decoration: none;color: #ff6319;}
/* ------------------------------------------------------------hero */
.content.hero{
}
.row.hero{	
	height: 400px;
	margin:0 auto;
	background-image: url('../img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-attachment: fixed;
	background-color: #001d0e;
	overflow: hidden;
}
.content.hero{ 
	max-width: 100%; 
	position: relative;
	height: 100%;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
}

.hero p,
.hero h1 { display: block; text-align: left; text-indent: -9999px; position: absolute; margin: 0; padding: 0;} 

.hero small {
	color: #FFFFFF;
}

.hero .herotext-part1 {
	background: url('../img/hero-tagline-part1.png') no-repeat;
	width: 364px;
	height: 51px;
	left: 170px;
	top: 105px;
}
.hero .herotext-part2 {
	background: url('../img/hero-tagline-part2.png') no-repeat;
	width: 501px;
	height: 85px;
	left: 305px;
	top: 135px;	
}
.hero .herotext-part3 {
	background: #ffa02f url('../img/headline.png') no-repeat 10px center;
	width: 1500px;
	height: 45px;
	left: 240px;
	top: 225px;	
}
.hero .herotext-part4 {
	position: absolute;
	top: 273px;
	left: 840px;
}
.stripe{
	position: relative;
	margin-bottom: 10px;
	margin-left: -1000px;
	left: 0;
}
.better{
	background: #00853f;
	height: 55px;
	width: 0px;
}
.better p{
	text-indent: -9999px;
	display: block;
	float: left;
	clear: both;
	background-image: url('../img/new.png');
	background-repeat: no-repeat;
	width: 68px;
	height: 23px;
	position: absolute;
	background-color: #00853f;
	width: 0px;
}
.faster{
	background: #34b233;
	height: 55px;
	width: 0px;
}
.faster p{
	text-indent: -9999px;
	display: block;
	float: left;
	clear: both;
	background-image: url('../img/fast.png');
	width: 63px;
	height: 23px;
	position: absolute;
	background-color: #34b233;
	background-repeat: no-repeat;
	width: 0px;
}
.family{
	background: #8cc63f;
	height: 55px;
	width: 0px;
}
.family p{
	text-indent: -9999px;
	display: block;
	float: left;
	clear: both;
	background-image: url('../img/power.png');
	width: 129px;
	height: 28px;
	position: absolute;
	background-color: #8cc63f;
	background-repeat: no-repeat;
	width: 0px;
}



/* ------------------------------------------------------------chat-row */
.row.chizzat{
	background-image: url('../img/mid-section-xrepeat.jpg');
	background-repeat: repeat-x;
	height: 153px;
}
.laptop{margin-top: -27px;}
.phone{margin-left: -90px;}
p.phone{font-size: 24px; margin-top: 24px;}
p.phone .grey.slim{font-size: 20px;}
.or{
	padding: 9px 30px 11px 30px;
	width: 18px;
	height: 60px;
	background-image: url('../img/or.png');
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
}
.cta{padding-top: 17px;}
.choose-it{ margin: -45px auto 60px auto; }
.choose-it p{font-size: 24px; font-weight: bold;line-height: 23px;}
.choose-it p span.reg{font-size: 14px;display: block;font-weight: normal;}
/* ------------------------------------------------------------chart */
.bar-wrapper{padding-left: 30px;}
.bar-bottom{
	background-image: url('../img/bar-bg.png');
	width: 156px;
	height: 13px;
	position: relative;
}
.bar-bottom.short-bar{
	background-image: url('../img/bars-up-background.png');
	background-repeat: no-repeat;
	width: 156px;
	height: 13px;
	position: relative;
}

.bar-middle {
	width: 0%;
	height: 13px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: left center;
}
.bar-middle.one.download-bar{
	background-image: url('../img/100mbps-bar.png');
}
.bar-middle.one.grey{
	background-image: url('../img/12mbps-bar.png');
}
.bar-middle.two.download-bar{
	background-image: url('../img/80mbps-bar.png');
}
.bar-middle.two.grey{
	background-image: url('../img/40mbps-grey-bar.png');
}
.bar-middle.three.download-bar{
	background-image: url('../img/60mbps-bar.png');
}
.bar-middle.three.grey{
	background-image: url('../img/30mbps-bar.png');
}
.bar-middle.four.download-bar{
	background-image: url('../img/40mbps-bar.png');
}
.bar-middle.four.grey{
	background-image: url('../img/5mbps-bar.png');
}

.bar-top{
	background-image: url('../img/bar-top.png');
	width: 156px;
	height: 13px;
	position: absolute;
	z-index: 99;
}
.bar-top.short-bar{
	background-image: url('../img/bars-sections.png');
	width: 156px;
	height: 13px;
	position: absolute;
	z-index: 99;
}

.specs{width: 233px;margin-right: 9px;}
.specs.orange-chart{
	background-image: url('../img/specs.png');
	background-repeat: no-repeat;
}
.last{margin-right: 0px !important;}
.specs.green-chart{
	background-image: url('../img/specs-green.png');
	background-repeat: no-repeat;
	position: relative;
	top: 0;
	left: 0;
}

.extreme-speed-flyout {
	background: #00853f;
	position: absolute;
	top: -25px;
	left: 5%;
	width: 90%;
	height: 25px;
	font-size: 16px;
	font-weight: normal;
	font-weight: 100;
	text-shadow: 0 1px 1px solid #000;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #FFFFFF;
}

/* .sec1 .download-txt{line-height: 15px;} */
.sec1,
.sec2,
.sec3,
.sec4,
.sec5,
.sec6 { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.sec1 { width:230px; height:180px; }
.sec2 { width:230px; height:95px; }
.sec3 { width:230px; height:165px; font-size: 13px;padding: 30px 20px 0 20px;color:#666666;}
.sec4 { width:230px; height:65px; }
.sec5 { width:230px; height:65px; }
.sec6 { width:230px; height:90px; }


.sec1 small {
	display: block;
	color: #999;
	font-size: 9px;
	width: 100px;
	text-indent: 5px;
}

.sec4 p, .sec5 p, .sec6 p{
	text-transform: capitalize;
	margin: 0 !important;
	font-size: 10px;
	color: #999999;
	padding:8px 0px 10px 5px;
}
.sec4 img, .sec5 img, .sec6 img{
	padding:10px 20px 10px 25px;
}
.sec4 p{
	line-height: 14px;
	text-transform: capitalize;
}
.sec4 .speed, .sec5 .speed, .sec6 .speed{
	display: block;
	padding-top: 5px;
	font-size: 12px;
	font-weight: bold;
	color:#666666;;
}

.mbps-top{padding:20px 0 10px 35px ;}
.mbps-bottom{padding:10px 0 10px 35px ;}

.speed-price{
	font-size: 50px;
	color: #007f3d;
	margin: 0 !important;
	line-height: 35px;
	width:100px;
	height: 40px;
	padding: 25px 8px 0 20px;
}
.sub{
	font-size: 25px;
/* 	vertical-align:super; */
	vertical-align: baseline;
   position: relative;
   top: -0.6em;
	
}
p.speed-disclaimer{
	color: #999;
	font-size: 9px;
	width: 100px;
	padding-top: 10px;
}


.price-lock-text{
	margin: 0 !important;
	padding-left: 20px;
	padding-top: 5px;
	font-size: 14px;
	text-shadow: 0px -1px 1px #666;
}
.green.price-lock-text{text-shadow: 1px 0px 1px #ccc;}

.orange-bar{
	background-color: #ff6319;
	width: 150px;
	height: 10px;
	margin-left: 35px;
	display: block;
}

.grey-bar{
	background-color: #666666;
	width: 150px;
	height: 10px;
	margin-left: 35px;
	display: block;
}

.green-bar{
	background-color: #007f3d;
	width: 150px;
	height: 10px;
	margin-left: 35px;
	display: block;
}
.small-text p{margin: 0;color:#999;font-size: 8px;}
/* ------------------------------------------------------------second-cta */
.second-cta{
	width: 960px;
	height: 82px;
	background-image: url('../img/cta2-bg.png');
	border:1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 20px;
}
.second-cta .ctatext {
	width: 600px;
	height: 100%;
	background: url('../img/generic-cta-text.png') no-repeat right center;
	position: relative;
}
.irtext * {
	display: inline;
}
.second-cta .ctatext .irtext{
	position: absolute; 
	left: 0;
	top: 0;
	text-indent: -9999px;
	display: block;
}
.second-cta .ctachat {
	padding: 23px 0 0 20px;
}

a.ctabutton {
	width: 180px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
	color: #FFFFFF;
	font-size: 20px;
	font-weight: normal;
	display: block;
	background: url('../img/cta-btn-bg.png') no-repeat center center;
	text-decoration: none;
	position: relative;
	top: 0;
	left: 0;
}
a.ctabutton span {
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;	
}
a.ctabutton .fade {
	background: rgba(0,0,0,0);
	-webkit-transition: background 300ms;
	-moz-transition: background 300ms;
	-ms-transition: background 300ms;
	-o-transition: background 300ms;
	transition: background 300ms;
	border-radius: 7px;
}
a.ctabutton:hover .fade {
	background: rgba(0,0,0,0.2);
}

/* ------------------------------------------------------------guarantees */
.module{width: 285px;margin-top: 60px;margin-left: 20px;padding-right: 20px;text-align: center !important;padding-bottom: 50px;}
.module p{font-size: 13px;margin-top: 0 !important; text-align: left !important;}
.module h3{font-size: 18px;margin-bottom: 5px; text-align: left !important;}
.module.last{padding-right: 0 !important;}
.mod-img{
	height: 80px;
	vertical-align: bottom;
}
.guarantees {
	width: 640px;
}

/* ------------------------------------------------------------footer */
.footer {font-size: 11px;}
.nav{ text-align: center;}
.footer .nav ul{margin-top: 5px;padding: 0 !important}
.footer .nav ul li{
	display: inline;
	text-decoration: none;
	font-size: 11px;
}
.footer .nav.grey ul li a:link{text-decoration: none;color: #999999;}
.footer .nav.grey ul li a:visited{text-decoration: none;color: #999999;}
.footer .nav.grey ul li a:hover{text-decoration: none;color: #007f3d;}
.footer .nav.grey ul li a:active{text-decoration: none;color: #999999;}

.footer p a:link{color: #007f3d; text-decoration: none;}
.footer p a:visited{color: #007f3d;}
.footer p a:hover{color: #ff6319;}
.footer p a:active{color: #ff6319;}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}