<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<!--#set var="template" value="a"-->
<!--#set var="isHomepage" value="yes"-->
<!--#set var="isCallToOrderPage" value="yes"-->
<title>CenturyLink | Local Provider of High Speed Internet, Phone, Mobile & TV Services</title>
<meta name="description" content="At CenturyLink's official site, find a reliable local provider of high speed internet, phone and TV services to homes as well as large and small businesses. See services available and the latest offers. Qwest is now CenturyLink." />
<meta name="keywords" content="CenturyLink, Qwest, official site, local provider, high speed internet, phone, mobile, tv services" />
<meta name="eBiz_pageName" value="ctl|rsd|checkout|credit_policy|call_to_order" />
<meta name="eBiz_server" value="centurylink.com" />
<meta name="eBiz_channel" value="IOT" />
<meta name="eBiz_evar41" value="IOT" />
<meta name="eBiz_prop3" value="L-CTL New Customer" />
<meta name="eBiz_evar24" value="L-CTL New Customer" />
<meta name="eBiz_prop24" value="rsd|checkout" />
<meta name="eBiz_prop25" value="rsd|checkout|credit_policy" />
<meta name="eBiz_evar54" value="rsd|checkout|credit_policy" />
<meta name="eBiz_prop38" value="ctl" />
<meta name="eBiz_evar48" value="ctl" />
<meta name="eBiz_prop39" value="credit_policy" />
<meta name="eBiz_evar49" value="credit_policy" />
<meta name="eBiz_prop52" value="ctl" />
<meta name="eBiz_evar53" value="rsd|checkout" />
<meta name="eBiz_evar56" value="ctl" />

<!--#include virtual="/assets/includes/templates/head.html"-->

<link rel="stylesheet" href="/assets/css/banners.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/page-specific/homepage.css" media="screen" />

<!-- Required scripts for countdown cyber sale -->
<link rel="stylesheet" type="text/css" href="/assets/css/plugins/countbox.css" media="screen" />
<script src="/assets/js/plugins/counter.js"></script>

</head>
<body>
<!--#include virtual="/assets/includes/templates/noscript.html"-->
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: CTL.com Home Page
URL of the webpage where the tag is expected to be placed: http://centurylink.com
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 06/28/2011
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="http://fls.doubleclick.net/activityi;src=2660564;type=homep747;cat=ctlco075;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="http://fls.doubleclick.net/activityi;src=2660564;type=homep747;cat=ctlco075;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
<!--
Start of Mullen's DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Homepage_CenturyLink
URL of the webpage where the tag is expected to be placed: http://www.centurylink.com
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 05/24/2011
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="http://fls.doubleclick.net/activityi;src=3205385;type=count042;cat=homep664;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="http://fls.doubleclick.net/activityi;src=3205385;type=count042;cat=homep664;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<div class="main-container">
		<!--#include virtual="/assets/includes/templates/header.html"-->

		<!--#include virtual="/assets/includes/templates/navigation.html"-->
		<!--#include virtual="/assets/includes/templates/res-subnav.html"-->
		<div class="page-content-top"></div>

	<div class="page-content" style="height:400px;">
	<div id="callToOrderBoxLeft"  style="position:relative; top:25px; height:360px; width:400px ">
	<img src="/assets/images/calltoorder/badcredit.png" alt="csr_image" alt="csr_image" height="358px" style="padding-left: 36px;"/>
	</div>
	<div id="callToOrderBoxRight" style="position:relative; top:-335px; left:400px; background-color:white; border-width: 2px; border-style: solid; border-color:#AAAAAA; border-radius: 7px; height:350px; width:480px ">
	<table>
	<tr>
	<td style="padding-top: 50px; padding-left: 20px;"><img src="/assets/images/calltoorder/questionmark.png" height="70px" alt="learnmore"  />
	</td>
	<td style="vertical-align: top; padding-top: 50px; padding-left: 25px;">
	<p style="color:#00853F;font-weight: bold;"><font size="3">
	</br>
	Give us a Call
	</font>
	</p>
	</br>
	<p style="color: #000000;font-family: Arial,Helvetica,sans-serif;font-size: 12px;font-weight: normal;line-height: 1.2em;">
	Before we can complete your order, we need to confirm your information and resolve some questions on the phone. Your account may require a deposit to set up, or there may be an outstanding bill related to past service that we'd like to sort out with you. We regret the inconvenience.
	</p>
	</br>
	<p style="color: #000000;font-family: Arial,Helvetica,sans-serif;font-size: 12px;font-weight: normal;line-height: 1.2em;">
	It's easy - just call <span style="color:#00853F;font-weight: bold;">877-867-3786</span> to connect with a customer service representative.
	</p>
	</br>
	<p style="color: #000000;font-family: Arial,Helvetica,sans-serif;font-size: 12px;font-weight: normal;line-height: 1.2em;">
	Thanks for your interest in CenturyLink&#174; services!
	</p>
	</td>
	</tr>
	</table>
	</div>
	</div>
	<div class="page-content-bottom"></div>
		<!--#include virtual="/assets/includes/templates/footer.html"-->
</div>
<script type="text/javascript">

require(['order!jquery','order!jquery-ui','order!centurycore','order!cc-shortcuts'],function(){
	/* br is provided by the centurycore plugin */
	$(window).load(br.initialize());

	$( ".quick-links" ).tabs();
	$(".quick-links").tabs('select', document.location.hash);

 });


// Begin the countdown for the cyber sale
GetCount(2013, 6, 28, 24, 0, 0);

function validateTN() {
	var entry = $('#fiber_npa').val() + $('#fiber_nnx').val() + $('#fiber_line').val();
	if(entry.length == 10) {
		getProfileFromPhoneOrAccount(entry,'Y',function(data){
			qm.latestResponse = data;
			if(data.errorCode =="") {
				var cType = (data.accountType != 'UNKNOWN') ? 'EC' : 'NC';
				subcookiejar.crumble('customerType');
				subcookiejar.bake('customerType',{customerType:cType},0,"/","centurylink.com");
				q.redirectSuccessfulAuth(data.shoppingDomain,'ctam','tpl_res-dd-get-internet',cType);
			}
		});
	}
	return false;
}
</script>
</body>
</html>