<!--Begin extended link footer /assets/includes/common/extended_link_footer.html-->

<!--#if expr="$ctl_url=''"-->
<!--#include virtual="/assets/includes/templates/variables.html"-->
<!--#endif-->

<div class="extended-link-footer" id="tpl_extended-link-footer">
	<div class="extended-link-col" id="tpl_extended-link-col1">
		<ul>
			<li>Account Help
				<ul>
					<li><a href="<!--#echo var='ctlmyacct_url'-->/eam/qbp/identify.do" id="tpl_ext-footer-quick-bill-pay" clicktrack="ctl|corp|hp|quick_links|info1|link|quick_bill_pay">Quick Bill Pay</a></li>
					<li><a href="/home/account/autopaybill/" clicktrack="ctl|corp|hp|quick_links|info1|link|auto_bill_pay">Automatic Bill Pay</a></li>
					<li><a href="#MAM" class="modal-trigger" id="tpl_ext-footer-view-pay-bill" clicktrack="ctl|corp|hp|quick_links|info1|link|view_pay_bill">View or Pay My Bill</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-billing-questions" clicktrack="ctl|corp|hp|quick_links|info1|link|billing_questions">Billing Questions</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-help-new-bill" clicktrack="ctl|corp|hp|quick_links|info1|link|help_with_bill">Help with New Bill</a></li>
					<li><a href="#CTAM" class="modal-trigger" id="tpl_ext-footer-move-services" clicktrack="ctl|corp|hp|quick_links|info1|link|move">Move My Services</a></li>
				</ul>
			</li>
			<li>Sign In Now
				<ul>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-check-email" clicktrack="ctl|corp|hp|quick_links|info1|link|check_email">Check My Email</a></li>
					<li><a href="https://digitalvault.centurylink.com/login.aspx" clicktrack="ctl|corp|hp|quick_links|info1|link|digital_vault">Personal Digital Vault</a></li>
					<li><a href="<!--#echo var="qshop_url"-->/MasterWebPortal/freeRange/Login.action?contentSet=QHOME&redirectUrl=freeRange/qHome.action&returnTo=https://messagemanager.centuryLink.com" clicktrack="ctl|corp|hp|quick_links|info1|link|message_manager">CenturyLink&trade; Message Manager</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="extended-link-col" id="tpl_extended-link-col2">
		<ul>
			<li>Support
				<ul>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-hsi-support" clicktrack="ctl|corp|hp|quick_links|info2|link|internet_support">High-Speed Internet Support</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-modem-support" clicktrack="ctl|corp|hp|quick_links|info2|link|modem_support">Modem/Installation Support</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-home-phone-support" clicktrack="ctl|corp|hp|quick_links|info2|link|home_phone_support">Home Phone Support</a></li>
					<li><a href="/help/guidance/prism.php" clicktrack="ctl|corp|hp|quick_links|info2|link|prism_support">Prism TV Support</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-directv-support" clicktrack="ctl|corp|hp|quick_links|info2|link|dtv_support">DIRECTV Support</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-wireless-support" clicktrack="ctl|corp|hp|quick_links|info2|link|wireless_support">Wireless Phone Support</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-backup-security-support" clicktrack="ctl|corp|hp|quick_links|info2|link|security_support">Internet Backup and Security Support</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-user-guides" clicktrack="ctl|corp|hp|quick_links|info2|link|view_guides">View User Guides</a></li>
					<li><a href="/common/popups/residential/third-party-calling.html" class="popup-trigger" id="tpl_ext-footer-block-third-party" clicktrack="ctl|corp|hp|quick_links|info2|link|block_third_party">Block select 3<sup>rd</sup> party charges</a></li>
				</ul>
			</li>
			<li>Repair
				<ul>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-request-repair" clicktrack="ctl|corp|hp|quick_links|info2|link|repair">Request a Repair</a></li>
					<li><a href="<!--#echo var="ctl_selfservice_url"-->/ticketing/residential/displayWheresMyTech.do" id="tpl_ext-footer-wheres-tech" clicktrack="ctl|corp|hp|quick_links|info2|link|wheres_tech">Where is My Technician?</a></li>

				</ul>
			</li>
		</ul>
	</div>
	<div class="extended-link-col" id="tpl_extended-link-col3">
		<ul>
			<li>Products &amp; Services
				<ul>
					<li><a href="<!--#echo var="ctl_url"-->/home/bundles/" id="tpl_ext-footer-new-services" clicktrack="ctl|corp|hp|quick_links|info3|link|new_services">Get New Services</a></li>
					<li><a href="<!--#echo var="ctl_url"-->/home/bundles/" id="tpl_ext-footer-build-bundle" clicktrack="ctl|corp|hp|quick_links|info3|link|build_bundle">Build a Bundle and Save</a></li>
					<li><a href="<!--#echo var="ctl_url"-->/home/specialoffers/" class="auth-switch-zam" id="tpl_ext-footer-special-offers" clicktrack="ctl|corp|hp|quick_links|info3|link|special_offers">Special Offers</a></li>
					<li><a href="<!--#echo var="ctl_url"-->/home/homesecurity/" class="auth-switch-zam" id="tpl_ext-footer-home-security" clicktrack="ctl|corp|hp|quick_links|info3|link|home_security">Home Security</a></li>
				</ul>
			</li>
			<li>High Speed Internet
				<ul>
					<li><a href="<!--#echo var="ctl_url"-->/home/internet/" id="tpl_ext-footer-internet" clicktrack="ctl|corp|hp|quick_links|info3|link|internet">Internet</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-backup-security" clicktrack="ctl|corp|hp|quick_links|info3|link|internet_backup_security">Internet Backup and Security</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-free-wifi" clicktrack="ctl|corp|hp|quick_links|info3|link|free_wifi">FREE Wi-Fi</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-home-wifi-network" clicktrack="ctl|corp|hp|quick_links|info3|link|home_wifi">Home Wi-Fi Network</a></li>
					<li><a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/Legal/InternetServiceManagement/" target="_blank" clicktrack="ctl|corp|hp|quick_links|info3|link|internet_disclosures">Internet Management Disclosures</a></li>
					<!-- mp_trans_remove_start -->
					<li><a href="http://locationbasedadvertising.centurylink.com/" clicktrack="ctl|corp|hp|quick_links|info3|link|location_based_advertising">Location-Based Advertising</a></li>
					<!-- mp_trans_remove_end -->
					<!-- mp_trans_add
					<li><a href="http://locationbasedadvertising.centurylink.com/?curLang=es" mpdisurl clicktrack="ctl|corp|hp|quick_links|info3|link|location_based_advertising">Location-Based Advertising</a></li>
					-->
					<li><a href="/home/support/internetprotection/" clicktrack="ctl|corp|hp|quick_links|info3|link|internet_protection">Consumer Internet<br />Protection Program</a></li>
				</ul>

			</li>
			<li>Phones and More
				<ul>
					<li><a href="<!--#echo var="ctl_url"-->/home/phone/" id="tpl_ext-footer-home-phone" clicktrack="ctl|corp|hp|quick_links|info3|link|home_phone">Home Phone</a></li>
					<li><a href="<!--#echo var="ctl_url"-->/home/mobile/" id="tpl_ext-footer-wireless-phone" clicktrack="ctl|corp|hp|quick_links|info3|link|wireless">Wireless Phone</a></li>
				</ul>
			</li>
			<li>TV, Movies and More
				<ul>
					<li><a href="<!--#echo var="ctl_url"-->/home/tv/" id="tpl_ext-footer-tv-services" clicktrack="ctl|corp|hp|quick_links|info3|link|tv">TV service</a></li>
					<li><a href="#ZAM" class="modal-trigger" id="tpl_ext-footer-movies" clicktrack="ctl|corp|hp|quick_links|info3|link|movies">Movies</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="extended-link-col last" id="tpl_extended-link-col4">
		<ul>
			<li>About Us
				<ul>

					<li><a href="http://news.centurylink.com" clicktrack="ctl|corp|hp|quick_links|info4|link|media_contact">Media Contact</a></li>
					<li><a href="/Pages/AboutUs/InvestorRelations/" clicktrack="ctl|corp|hp|quick_links|info4|link|investor_relations">Investor Relations</a></li>
					<li><a href="/Pages/AboutUs/Legal/onlineSecurity.jsp" clicktrack="ctl|corp|hp|quick_links|info4|link|internet_safety">Internet Safety</a></li>
					<li><a href="/Pages/AboutUs/Community/" clicktrack="ctl|corp|hp|quick_links|info4|link|community">Community</a></li>
					<li>
						<div class="social-media-icons">
							<a href="http://www.facebook.com/CenturyLink" class="button btn-facebook-icon float-left" clicktrack="ctl|corp|hp|quick_links|info4|link|facebook"></a>
							<a href="http://twitter.com/centurylink" class="button btn-twitter-icon float-left" clicktrack="ctl|corp|hp|quick_links|info4|link|twitter"></a>
							<a href="http://youtube.com/centurylink" class="button btn-youtube-icon float-left" clicktrack="ctl|corp|hp|quick_links|info4|link|youtube"></a>
						</div>
						<br clear="both" />
						<a href="<!--#echo var="qshop_url"-->/mobile/index.vm" clicktrack="ctl|corp|hp|quick_links|info4|link|mobile">CenturyLink on your mobile</a><br /><br />
						<a href="#" class="button btn-feedback-icon feedback-trigger" clicktrack="ctl|corp|hp|quick_links|info4|link|feedback">Feedback?</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<script type="">
	require(['order!jquery','order!jquery-ui','order!centurycore'],function(){
		$.centurycore.feedback.initialize({triggerClass:'.feedback-trigger'});
	});
</script>
<!--End extended link footer-->