<!--Begin Head include - /assets/includes/templates/head.html-->
<!--#set var="require2" value="true"-->
<!--#include virtual="/assets/includes/templates/variables.html"-->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<script type="text/javascript" src="/assets/js/require2.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/help/css/reset.css" media="screen" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/assets/css/plugins/jqModal.css" media="screen" /> 
<link rel="stylesheet" type="text/css" href="/assets/css/plugins/smoothness/jquery-ui-1.8.11.custom.css" />
<!--#if expr="$mobile!='true'"-->
<link rel="stylesheet" type="text/css" href="/assets/css/plugins/qwest.jquery-ui-0.0.1.css" />
<!--#endif-->

<link rel="stylesheet" type="text/css" href="/assets/css/global.css" media="screen,print" />
<link rel="stylesheet" href="/assets/css/new-nav.css" />
<!--#if expr="$mobile!=true" -->
<link rel="stylesheet" href="/assets/css/new-screen.css" media="screen" />
<link rel="stylesheet" href="/assets/css/new-print.css" type="text/css" media="print" />
<!--#endif -->
<!--[if lte IE 8]>
<link rel="stylesheet" media="screen" href="/assets/css/new-screen.css">
<![endif]-->

<script type="text/javascript" src="/assets/js/plugins/jquery.liveperson.js"></script>
<script type="text/javascript" src="/assets/js/mbox.js"></script>
<script type="text/javascript">
require.config({ 
  //Leave off the .js extension in the mapping, it will automatically be added by requirejs
  paths: {'cc-shortcuts':'plugins/centurycore.shortcuts','jquery':'jquery.min','jquery-ui':'jquery-ui.min','omniture':'/common/js/third-party/metrics/s_code','centurycore':'plugins/jquery.qwest-core','superfish':'plugins/jquery.superfish','supersubs':'plugins/jquery.supersubs','modals':'plugins/jqModal','watermark':'plugins/jquery.watermark','rotator':'plugins/jquery.cc_banner-rotator','cookies':'plugins/cookies2','cookie':'plugins/jquery.cookie','locator':'locator','linkMatrix':'template_link_matrix','ratingsReviews':'plugins/jquery.ratingsreviews', 'ratingstars':'plugins/jquery.rating.pack', 'countdown':'plugins/jquery.lwtCountdown','purl':'plugins/purl','jquery-mobile':'http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min'
  },
  baseUrl: '/assets/js/',
  waitSeconds:7,
  shim: {
   'jquery-ui':{
    deps: ['jquery'] 
   },
   'locator':{
    deps: ['jquery'] 
   },
   'modals':{
    deps: ['jquery','jquery-ui']
   },
   'cookie':{
    deps: ['jquery']
   }, 
   'cookies':{ 
    deps: ['jquery']
   },
   'linkMatrix':{
    deps: ['jquery']
   },
   'centurycore': { 
    deps: ['jquery','jquery-ui','cookies','linkMatrix','locator','modals']
   },
   'cc-shortcuts': {
    deps: ['centurycore'] 
   },
   'watermark': {
    deps: ['jquery','jquery-ui'] 
   },
   'purl':{
    deps: ['jquery']
   },
   'ratingstars':{
    deps: ['jquery','jquery-ui']
   }
  }
 }); 

require(['centurycore','cc-shortcuts'],
	function(require){
		$.centurycore.setup();
		$.centurycore.thirdparty.loadMtagConfig();
	});
</script>
<script type="text/javascript" src="/assets/js/plugins/jquery.autozam.js"></script>

<!--#if expr="$template='a' || $template='A' || $template='b' || $template='B'|| $template='D'|| $template='d'"-->
	<link rel="stylesheet" type="text/css" href="/assets/css/template_a.css" media="screen" />
<!--#elif expr="$template='c' || $template='C'"-->

<!--#endif-->

<link rel="stylesheet" type="text/css" href="/help/css/print.css" media="print" />


<link rel="stylesheet" type="text/css" href="/assets/css/plugins/jquery.rating.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/help/css/template.css" media="screen" />
<!--#if expr="$mobile='true'"-->
<link rel="stylesheet" href="/help/css/mobile.css" />
<!--#endif-->

<!--#include virtual="/assets/includes/templates/modals.html"-->
<!--#include virtual="/assets/includes/templates/popups.html"-->
<!--End Head include-->