<!--Begin Head include - /assets/includes/templates/head.html-->
<!--#include virtual="/assets/includes/templates/variables.html"-->

<link rel="stylesheet" type="text/css" href="/assets/css/reset.css" media="screen" />
<link rel="shortcut icon" href="/favicon.ico" />
 
<script type="text/javascript" src="/assets/js/require025.js"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<!--script type="text/javascript" src="/assets/js/plugins/jquery.liveperson.js"></script-->
<script type="text/javascript" src="/assets/js/plugins/jquery.qwest-core.js"></script>
<script type="text/javascript" src="/assets/js/mbox.js"></script>
<script type="text/javascript">
	//Leave off the .js extension in the mapping, it will automatically be added by requirejs
	require({
		paths: {'cc-shortcuts':'plugins/centurycore.shortcuts','jquery':'jquery.min','jquery-ui':'jquery-ui.min','superfish':'plugins/jquery.superfish','supersubs':'plugins/jquery.supersubs','modals':'plugins/jqModal','autocomplete':'jquery-ui-1.10.2','watermark':'plugins/jquery.watermark','cookies':'plugins/cookies2','cookie':'plugins/jquery.cookie','locator':'locator','linkMatrix':'template_link_matrix','ratingsReviews':'plugins/jquery.ratingsreviews', 'ratingstars':'plugins/jquery.rating.pack','geoam':'geoamapi','purl':'plugins/purl',},
		baseUrl: '/assets/js/',
		waitSeconds:120
	});

	require(['order!jquery','order!jquery-ui','order!cookies','order!centurycore','order!autocomplete','order!supersubs','order!modals','order!watermark','order!linkMatrix','order!locator','order!cc-shortcuts','order!geoam'],
		function(require){
			$.centurycore.setup();

			//$.centurycore.thirdparty.loadMtagConfig();
	});
</script>

<link rel="stylesheet" type="text/css" href="/assets/css/plugins/jqModal.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/assets/css/plugins/smoothness/jquery-ui-1.8.11.custom.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/plugins/qwest.jquery-ui-0.0.1.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/global.css" media="screen" />
<link rel="stylesheet" media="screen" href="/assets/css/global-nav.css" />

<!--#if expr="$template='a' || $template='A' || $template='b' || $template='B'|| $template='D'|| $template='d'"-->
	<link rel="stylesheet" type="text/css" href="/assets/css/template_a.css" media="screen" />
 
<!--#elif expr="$template='c' || $template='C'"-->

<!--#endif-->
<!--[if IE 7]>
<link rel="stylesheet" media="screen" href="/assets/css/ie7-styles.css" />
<![endif]-->

<!--#if expr="$QUERY_STRING = /useOldCTAM/"-->
<!--#include virtual="/assets/includes/templates/modals.html"-->
<!--#else-->

<link rel="stylesheet" type="text/css" href="/assets/css/plugins/qwest.jquery-ui-autocomplete-0.0.1.css" />
<!--#include virtual="/assets/includes/templates/modals_sfa.html"-->
<!--#endif-->
<!--#include virtual="/assets/includes/templates/popups.html"-->


<!--End Head include-->