<!--Begin Header include - /assets/includes/templates/header.html-->
<!--note: templates A and B are identical for the header except that A has the quick pay button, B has the phone number and C2C-->
<!--#if expr="$ctl_url=''"-->
<!--#include virtual="/assets/includes/templates/variables.html"-->
<!--#endif-->

<!-- TnT -->
<div id="GlobalProvisioner" class="mboxDefault"></div>
<script type="text/javascript">
	ttGeoLoc = {
		state: null,
		city: null,
		dma: null,
		zipcode: null,
		custGroup: null,
		targetStatesSubgroup: null,
		prismStatesGroup: null,
		prismDMAGroup: null
	};
	// Any code dependent on ttGeoLoc must be able to fail gracefully to null values
	mboxCreate('GlobalProvisioner','path='+location.pathname);
</script>
<!-- End TnT-->

<div class="header" id="tpl_header">
	<div class="global-above-logo-nav" id="tpl_global-nav">
		<span class="current">
			<a href="<!--#echo var="ctl_url"--><!--#if expr="$isHomepage='yes'"-->#<!--#else-->/home/<!--#endif-->" clicktrack="ctl|corp|residential">Residential</a> |
		</span>
		<a clicktrack="ctl|corp|small_business" href="<!--#echo var="ctl_url"-->/small-business/">Small Business</a> |
		<div id="lbiz">
			<div id="lbiz-drop"></div>
			<a href="http://www.centurylink.com/business/" clicktrack="ctl|corp|global_nav|business|large_business">Large Business</a>
			<div id="lbiz-link"><a href="/wholesale">Wholesale</a></div>
		</div>
		<br />
    	<a clicktrack="ctl|corp|logo" href="<!--#echo var="ctl_url"-->" class="logo" id="tpl_logo"></a>
	</div>

	<script type="text/javascript">

	$('#lbiz').hover(
		function()
		{
	    	$('#lbiz-drop').css({'background-position': '-32px -380px'});
	    	$("#lbiz-link").show();
	    }, function()
	    {
	        $('#lbiz-drop').css({'background-position': '-19px -380px'});
	        $("#lbiz-link").hide();
	    }
	);

	$(document).ready(function(){
	var pstn = getURLParameter("PSTN");
	var dtn = getURLParameter("DTN");
		if(pstn=="Q")
			$("#dynamic-800-number").text("1-877-417-3983");
		else if (pstn=="C")
			$("#dynamic-800-number").text("1-866-904-1817");
		else if (dtn=="Q")
			$("#dynamic-800-number").text("1-888-807-4368");
		else if (dtn=="C")
			$("#dynamic-800-number").text("1-866-962-6021");
		else
			$("#dynamic-800-number").text("Call Us");
	});
	function getURLParameter(name) {
		return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
	}
	</script>

<!--#config errmsg="[Error in Header File global nav conditional]" -->
<!--#if expr="$isHomepage='yes'"-->
	<div class="global-nav" id="tpl_global-nav2" >
		<a href="<!--#echo var="qcookie_url"-->/mobile/index.vm" id="tpl_global-nav-mobile-link" clicktrack="ctl|corp|hp|global_nav|link|mobile_site">Mobile Site</a> |
		<a href="<!--#echo var="ctl_url"-->/wholesale/" id="tpl_global-nav-wholesale-link" clicktrack="ctl|corp|hp|global_nav|link|wholesale">Wholesale</a> |
		<a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/" id="tpl_global-nav-about-us-link" clicktrack="ctl|corp|hp|global_nav|link|about">About Us</a> |
		<a href="http://storelocator.centurylinkapps.com/index.cfm" class="" id="tpl_global-nav-store_locator-link" clicktrack="ctl|corp|hp|global_nav|link|store_locator">Store Locator</a> |
		<a mporgnav href="http://espanol.centurylink.com/" onClick="return switchLanguage('es');function switchLanguage(lang){MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();MP.switchLanguage(MP.UrlLang==lang?'en':lang);return false;}" id="tpl_global-nav-espanol-link" clicktrack="ctl|corp|hp|global_nav|link|espanol">Espa&ntilde;ol</a> |
		<a class="modal-trigger" href="#ZAM" id="tpl_global-nav-email-offers-link" clicktrack="ctl|corp|landing_page|global_nav|link|email_offers">Email Offers</a> |
    <a href="<!--#echo var="ctlmyacct_url"-->/eam/entryPoint.do" id="tpl_global-nav-contact-us-link" clicktrack="ctl|corp|global_nav|myaccount|sign_in">Sign In</a>
	</div>
	<!--#config errmsg="[Error in Header File global nav conditional - myaccount]" -->
<!--#elif expr="$template='d' || $template='D'"-->
	<div class="global-nav" id="tpl_global-nav">
		<a href="<!--#echo var="qcookie_url"-->/mobile/index.vm" id="tpl_global-nav-mobile-link" clicktrack="ctl|corp|hp|global_nav|link|mobile_site">Mobile Site</a> |
		<a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/" id="tpl_global-nav-about-us-link" clicktrack="ctl|corp|hp|global_nav|link|about">About Us</a> |
		<a href="http://storelocator.centurylinkapps.com/index.cfm" class="" id="tpl_global-nav-store_locator-link" clicktrack="ctl|corp|hp|global_nav|link|store_locator">Store Locator</a> |
		<a mporgnav href="http://espanol.centurylink.com/" onClick="return switchLanguage('es');function switchLanguage(lang){MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();MP.switchLanguage(MP.UrlLang==lang?'en':lang);return false;}" id="tpl_global-nav-espanol-link" clicktrack="ctl|corp|hp|global_nav|link|espanol">Espa&ntilde;ol</a> |
		<a class="modal-trigger" href="#ZAM" id="tpl_global-nav-email-offers-link" clicktrack="ctl|corp|landing_page|global_nav|link|email_offers">Email Offers</a> |
    <a href="<!--#echo var="ctlmyacct_url"-->/eam/entryPoint.do" id="tpl_global-nav-contact-us-link" clicktrack="ctl|corp|global_nav|myaccount|sign_in">Sign In</a>
	</div>
	<!--#config errmsg="[Error in Header File global nav conditional - ld_oor]" -->
<!--#elif expr="$ld_oor='true'"-->
	<div class="global-nav" id="tpl_global-nav">
		<a href="<!--#echo var="qcookie_url"-->/mobile/index.vm" id="tpl_global-nav-mobile-link" clicktrack="ctl|corp|hp|global_nav|link|mobile_site">Mobile Site</a> |
		<a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/" id="tpl_global-nav-about-us-link" clicktrack="ctl|corp|hp|global_nav|link|about">About Us</a> |
		<a href="http://storelocator.centurylinkapps.com/index.cfm" class="" id="tpl_global-nav-store_locator-link" clicktrack="ctl|corp|hp|global_nav|link|store_locator">Store Locator</a> |
		<a mporgnav href="http://espanol.centurylink.com/" onClick="return switchLanguage('es');function switchLanguage(lang){MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();MP.switchLanguage(MP.UrlLang==lang?'en':lang);return false;}" id="tpl_global-nav-espanol-link" clicktrack="ctl|corp|hp|global_nav|link|espanol">Espa&ntilde;ol</a> |
		<a class="modal-trigger" href="#ZAM" id="tpl_global-nav-email-offers-link" clicktrack="ctl|corp|landing_page|global_nav|link|email_offers">Email Offers</a> |
    <a href="<!--#echo var="ctlmyacct_url"-->/eam/entryPoint.do" id="tpl_global-nav-contact-us-link" clicktrack="ctl|corp|global_nav|myaccount|sign_in">Sign In</a>
	</div>
	<!--#config errmsg="[Error in Header File global nav conditional - else]" -->
<!--#elif expr="$template='cox'"-->
	<div class="global-nav" id="tpl_global-nav">
		<a href="<!--#echo var="qcookie_url"-->/mobile/index.vm" id="tpl_global-nav-mobile-link" clicktrack="ctl|corp|hp|global_nav|link|mobile_site">Mobile Site</a> |
		<a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/" id="tpl_global-nav-about-us-link" clicktrack="ctl|corp|hp|global_nav|link|about">About Us</a> |
		<a href="http://storelocator.centurylinkapps.com/index.cfm" class="" id="tpl_global-nav-store_locator-link" clicktrack="ctl|corp|hp|global_nav|link|store_locator">Store Locator</a> |
		<a mporgnav href="http://espanol.centurylink.com/" onClick="return switchLanguage('es');function switchLanguage(lang){MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();MP.switchLanguage(MP.UrlLang==lang?'en':lang);return false;}" id="tpl_global-nav-espanol-link" clicktrack="ctl|corp|hp|global_nav|link|espanol">Espa&ntilde;ol</a> |
		<a class="modal-trigger" href="#ZAM" id="tpl_global-nav-email-offers-link" clicktrack="ctl|corp|landing_page|global_nav|link|email_offers">Email Offers</a> |
    <a href="<!--#echo var="ctlmyacct_url"-->/eam/entryPoint.do" id="tpl_global-nav-contact-us-link" clicktrack="ctl|corp|global_nav|myaccount|sign_in">Sign In</a>
	</div>
<!--#else-->
	<div class="global-nav" id="tpl_global-nav">
		<a href="<!--#echo var="qcookie_url"-->/mobile/index.vm" id="tpl_global-nav-mobile-link" clicktrack="ctl|corp|hp|global_nav|link|mobile_site">Mobile Site</a> |
		<a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/" id="tpl_global-nav-about-us-link" clicktrack="ctl|corp|hp|global_nav|link|about">About Us</a> |
		<a href="http://storelocator.centurylinkapps.com/index.cfm" class="" id="tpl_global-nav-store_locator-link" clicktrack="ctl|corp|hp|global_nav|link|store_locator">Store Locator</a> |
		<a mporgnav href="http://espanol.centurylink.com/" onClick="return switchLanguage('es');function switchLanguage(lang){MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();MP.switchLanguage(MP.UrlLang==lang?'en':lang);return false;}" id="tpl_global-nav-espanol-link" clicktrack="ctl|corp|hp|global_nav|link|espanol">Espa&ntilde;ol</a> |
		<a class="modal-trigger" href="#ZAM" id="tpl_global-nav-email-offers-link" clicktrack="ctl|corp|landing_page|global_nav|link|email_offers">Email Offers</a> |
    <a href="<!--#echo var="ctlmyacct_url"-->/eam/entryPoint.do" id="tpl_global-nav-contact-us-link" clicktrack="ctl|corp|global_nav|myaccount|sign_in">Sign In</a>
	</div>
<!--#endif-->

<!--#config errmsg="[Error in Header File contact info conditional]" -->
<!--#if expr="$ld_oor='true'"-->
	<div class="header-contact" id="tpl_header-contact">
	<!-- mp_trans_remove_start -->
	<table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td><a href="#ZAM" class="modal-trigger pop-up" id="tpl_global-contact-info-call"><div class="phone-icon"></div></a></td>
      <td><a href="#ZAM" class="modal-trigger pop-up" id="tpl_global-contact-info-call"><span id="dynamic-800-number"></span></a></td>
      <td><a href="#ZAM" class="modal-trigger" id="tpl_global-contact-info-chat"><div class="chat-icon"></div></a></td>
      <td><a href="#ZAM" class="modal-trigger" id="tpl_global-contact-info-chat">Chat</a></td>
      <td><a href="#ZAM" class="modal-trigger" id="tpl_global-contact-info-email-us"><div class="gheader-emailus-icon"></div></a></td>
      <td><a href="#ZAM" class="modal-trigger" id="tpl_global-contact-info-email-us">Email us</a></td>
    </tr>
  </table>
	<!-- mp_trans_remove_end -->
	</div>
	<!--#config errmsg="[Error in Header File contact info conditional - elif]" -->
<!--#elif expr="$template!='a' && $template!='A' && $template!='d' && $template!='D'"-->
	<div class="header-contact" id="tpl_header-contact">
	<!-- mp_trans_remove_start -->
	<input type="hidden" name="targetRedirect" id="targetRedirect" value="dd_navigation-change-zip-btn" />
	<table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td><a href="#ZAM" class="modal-trigger pop-up" id="tpl_global-contact-info-call" clicktrack="ctl|corp|global_nav|call_now"><div class="phone-icon"></div></a></td>
      <td><a href="#ZAM" class="modal-trigger pop-up" id="tpl_global-contact-info-call" clicktrack="ctl|corp|global_nav|call_now"><span id="dynamic-800-number"></span></a></td>
 <script type="text/javascript">

//var ttGeoLoc = { state: null, city: null, dma: null, zipcode: null };
require(['order!jquery','order!jquery-ui','order!cookies','order!purl','order!centurycore','order!cc-shortcuts','order!cookie'],function(){	
	$('#dd_navigation-change-zip-btn').click(function(){
		//remove the profile cookie when this is clicked before the zam is loaded
		//subcookiejar.crumble('profile_cookie');
		qm.ignorePreviousAuthData=true;
	});
	var zip;
	//parse the url to look for query string and pull zip override if needed
	var url=$.url();
	if(url.param('zipOverride')){
		zip=url.param('zipOverride');
	}
	else if(subcookiejar.fetch('remember_me','zipCode')){
		zip=subcookiejar.fetch('remember_me','zipCode');
	}else if(ttGeoLoc.zipcode && ttGeoLoc.zipcode!==null){ 
		zip=ttGeoLoc.zipcode;
	}
	$.cookie('geoloc-zip',zip);
	if(!subcookiejar.fetch('profile_cookie')){
		//only submit if the profile cookie isnt set already
		$('#zam_zip-code').val(zip);
		initializeLocator("EBIZ","<!--#echo var="ctl_url"-->");
		getProfileFromZip(zip,'Y',qmz.profile);
		
	}
	var company=subcookiejar.fetch('profile_cookie','supportDomain');
	//alert('Zip:'+zip);
	//alert('company:'+company);


    window.lpMTagConfig = lpMTagConfig || {}; lpMTagConfig.vars = lpMTagConfig.vars || [];

	lpMTagConfig.lpServer = "sales.liveperson.net";
	lpMTagConfig.lpTagSrv = lpMTagConfig.lpServer;
	lpMTagConfig.lpNumber = "90218425"; // clone# 90218425 prod#86584264
	lpMTagConfig.deploymentID = "centurylink";

	lpMTagConfig.vars.push(["page", "unit", "residential"]);
	lpMTagConfig.vars.push(["session", "language", "english"]);
	
	
	lpMTagConfig.vars.push(["page", "lpCompany", company]); //value of lpCompany = 'LQ' OR 'LCTL'
	lpMTagConfig.vars.push(["page", "lpZipCode", zip]); 

	
});
</script> 
<script type="text/javascript" src="/common/3rdparty/liveperson/mtagconfig.js"></script>    

      <td><div id="chat-residential-english-LQ-LCTL" class="lpButtonStyleDiv"></div></td>
	  
	  
	  
      <td><a href="#ZAM" class="modal-trigger" id="tpl_global-contact-info-email-us" clicktrack="ctl|corp|global_nav|email_us"><div class="gheader-emailus-icon"></div></a></td>
      <td><a href="#ZAM" class="modal-trigger" id="tpl_global-contact-info-email-us" clicktrack="ctl|corp|global_nav|email_us">Email us</a></td>
    </tr>
  </table>
	<!-- mp_trans_remove_end -->
	</div>
<!--#endif-->

	<!--#if expr="$isHomepage='yes'"-->
	<div id="headerNotice">
		<a href="<!--#echo var="ctl_url"-->/help/announcements/2013coloradoflood/CO-Flood-Report.pdf" clicktrack="ctl|corp|hp|link|colorado_flooding" onclick="window.open(this.href); event.preventDefault();">CenturyLink Responds to Colorado Floods</a>
	</div>
	<!--#endif-->
</div>


<!--End Header include-->