<!--Begin Navigation Menu include - /assets/includes/templates/navigation.html
	All navigation items are assumed to be in the pre-id state until acted on by the JS
-->
<!--#if expr="$ctl_url=''"-->
<!--#include virtual="/assets/includes/templates/variables.html"-->
<!--#endif-->
<div class="nav-bar" id="tpl_nav-bar">
	<div class="business-group-nav">
		<ul class="sf-menu">
			<li class="current" id="tpl_nav-res"><a href="<!--#echo var="ctl_url"--><!--#if expr="$isHomepage='yes'"-->#<!--#else-->/home/<!--#endif-->" clicktrack="ctl|corp|global_nav|shop">Shop</a></li>
			<li id="tpl_nav-smb"><a href="<!--#echo var="ctlmyacct_url"-->/eam/entryPoint.do" clicktrack="ctl|corp|global_nav|my_account">My Account</a></li>
			<li id="tpl_nav-bmg"><a href="http://www.centurylink.com/help/" clicktrack="ctl|corp|global_nav|support">Support</a></li>
		</ul>
		<!--#config errmsg="error in nav button if statement" --> 
		<!--#if expr="$DOCUMENT_URI='/home/internet/index.html'"-->
		<a href="#CTAM" id="home-internet-speed-check" class="modal-trigger ctlButton" clicktrack="ctl|rsd|shop|internet|pre_id_learn|button|check_speeds_in_area">Check Internet Speeds in my area</a>
		<!--#elif expr="$isHomepage='true'"-->
		<a href="#CTAM" id="home-speed-check" class="modal-trigger ctlButton" clicktrack="ctl|corp|button|check_services_in_area">Check for services in my area</a>
		<!--#endif-->
		<!--#config errmsg="[It appears that you don't know how to use SSI]" --> 
	</div>
</div>



<!--End Navigation Menu include-->