<!--Begin Navigation Menu include - /assets/includes/templates/navigation.html
	All navigation items are assumed to be in the pre-id state until acted on by the JS
-->
<!--#if expr="$ctl_url=''"-->
<!--#include virtual="/assets/includes/templates/variables.html"-->
<!--#endif-->

<!--#if expr="$nav_level_1='shop'"-->
	<!--#set var="shopClass" value="active"-->
<!--#elif expr="$nav_level_1='my_account'"-->
	<!--#set var="myAccountClass" value="active"-->
<!--#elif expr="$nav_level_1='support'"-->
	<!--#set var="supportClass" value="active"-->
<!--#endif-->

<!--#if expr="$nav_level_2='setup'"-->
	<!--#set var="setupClass" value="active"-->
<!--#elif expr="$nav_level_2='guidance'"-->
	<!--#set var="guidanceClass" value="active"-->
<!--#elif expr="$nav_level_2='chat'"-->
	<!--#set var="chatClass" value="active"-->
<!--#endif-->
<div id="tpl_nav-bar">
<!--#if expr="$mobile!='true'"-->
	<div class="nav level1">
		<ul>
			<li class="<!--#echo var="shopClass"-->"><div><a href="<!--#echo var="ctl_url"-->/home/" clicktrack="ctl|corp|landing_page|global_nav|shop">Shop</a></div></li>
			<li class="<!--#echo var="myAccountClass"-->"><div><a href="https://eam.centurylink.com/eam/entryPoint.do" clicktrack="ctl|corp|landing_page|global_nav|myaccount">My Account</a></div></li>
			<li class="<!--#echo var="supportClass"-->"><div><a href="<!--#echo var="ctl_url"-->/help/" clicktrack="ctl|corp|landing_page|global_nav|support ">Support</a></div></li>
			
			<li class="right_flavor"><div><div class="label">
			Customized for: <strong id="header-zip"></strong></div>
			<a href="#ZAM" class="styled_button modal-trigger" id="dd_navigation-change-zip-btn" clicktrack="ctl|corp|main_nav|link|change-zip">Change</a></div></li>
			
		</ul>
	</div>
<!--#elif expr="$mobile='true' && $mobile_nogeoloc!='true'"-->
	<div class="nav level1">
		<ul>
			<li class="<!--#echo var="shopClass"-->"><div><a href="<!--#echo var="ctl_url"-->/home/" clicktrack="ctl|corp|landing_page|global_nav|shop">Shop</a></div></li>
			<li class="<!--#echo var="myAccountClass"-->"><div><a href="https://eam.centurylink.com/eam/entryPoint.do" clicktrack="ctl|corp|landing_page|global_nav|myaccount">My Account</a></div></li>
			<li class="<!--#echo var="supportClass"-->"><div><a href="<!--#echo var="ctl_url"-->/help/" clicktrack="ctl|corp|landing_page|global_nav|support ">Support</a></div></li>
			
			<li class="right_flavor"><div><div class="label">
			Customized for zip code: <strong id="header-zip"></strong></div>
			<a href="#ZAM" class="styled_button modal-trigger" id="dd_navigation-change-zip-btn" clicktrack="ctl|corp|main_nav|link|change-zip">Change</a></div></li>
			
		</ul>
	</div>
<!--#endif-->
	<div class="nav level2">
		<ul>
			<li class="cap_left"></li>
			<li class="first <!--#echo var="setupClass"-->"><div><a href="/help/welcome/" clicktrack="ctl|corp|main_nav|link|welcomecenter">Setup & Customize Services</a></div></li>
			<li class="<!--#echo var="guidanceClass"-->"><div><a href="/help/guidance/" clicktrack="ctl|corp|main_nav|link|guidancecenter">How to Use, Troubleshoot or Fix Services</a></div></li>
			<li class="<!--#echo var="chatClass"-->"><div><a href="/help/chat/" clicktrack="ctl|corp|main_nav|link|chat">Chat with Us</a></div></li>
			<li class="cap_right"></li>
			<li class="right_flavor"><a href="https://eam.centurylink.com/eam/qbp/identify.do" class="icon_rightarrow" clicktrack="ctl|corp|global_nav|qbp">Quick Bill Pay</a></li>
		</ul>
	</div> 
</div>
<input type="hidden" name="targetRedirect" id="targetRedirect" value="dd_navigation-change-zip-btn" />
<script type="text/javascript">

//var ttGeoLoc = { state: null, city: null, dma: null, zipcode: null };
require(['purl','centurycore','cc-shortcuts','cookie'],function(){	
	$('#dd_navigation-change-zip-btn').click(function(){
		//remove the profile cookie when this is clicked before the zam is loaded
		//subcookiejar.crumble('profile_cookie');
		qm.ignorePreviousAuthData=true;
	});
	var zip;
	//parse the url to look for query string and pull zip override if needed
	var url=$.url();
	if(url.param('zipOverride')){
		zip=url.param('zipOverride');
	}
	else if(subcookiejar.fetch('remember_me','zipCode')){
		zip=subcookiejar.fetch('remember_me','zipCode');
	}else if(ttGeoLoc.zipcode && ttGeoLoc.zipcode!==null){ 
		zip=ttGeoLoc.zipcode;
	}
	$.cookie('geoloc-zip',zip);
	$('#header-zip').html(zip); 
	if(!subcookiejar.fetch('profile_cookie')){
		//only submit if the profile cookie isnt set already
		$('#zam_zip-code').val(zip);
		initializeLocator("EBIZ","<!--#echo var="ctl_url"-->");
		getProfileFromZip(zip,'Y',qmz.profile);
	}
	$('#zam_zip-auth-go').click(function(){
		//grab the zip and populate the top value
		zip=$('#zam_zip-code').val();
		$.cookie('geoloc-zip',zip);
		$('#header-zip').html(zip); 
	});
	$('#zam_zip-auth-go').click(function(){
		//grab the zip and populate the top value
		zip=$('#zam_zip-code').val();
		$.cookie('geoloc-zip',zip);
		$('#header-zip').html(zip); 
	});
	$('#zam_zip-code').keypress(function(e) {
		if(e.which == 13) {
			//grab the zip and populate the top value
			zip=$('#zam_zip-code').val();
			$.cookie('geoloc-zip',zip);
			$('#header-zip').html(zip); 
		}
	});
});
</script>
