<!--Begin Navigation Menu include - /assets/includes/templates/navigation.html
	All navigation items are assumed to be in the pre-id state until acted on by the JS
-->
<!--#if expr="$ctl_url=''"-->
<!--#include virtual="/assets/includes/templates/variables.html"-->
<!--#endif-->
<div class="nav-bar" id="tpl_nav-bar">
	<div class="business-group-nav">
		<!--navigation with mega drop downs -->
		<ul class="sf-menu">
			<li class="current" id="tpl_nav-res"><a href="<!--#echo var="ctl_url"--><!--#if expr="$isHomepage == yes"-->#<!--#else-->/home/<!--#endif-->" clicktrack="ctl|corp|residential">Shop</a>
			</li>
			<li id="tpl_nav-smb"><a href="https://eam.centurylink.com/eam/login.do?" clicktrack="ctl|corp|small_business">My Account</a>
			</li>
			<li id="tpl_nav-bmg"><a href="http://www.centurylink.com/help" clicktrack="ctl|corp|global_nav|support">Support</a>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	require(['order!jquery','order!superfish','order!supersubs'],function(){
			jQuery(function(){
			jQuery('ul.sf-menu').superfish({
				autoArrows:  false,
				dropShadows: false
			});
		});
	})

</script>
<!--End Navigation Menu include-->