<!--#if expr="$ctl_url=''"-->
<!--#include virtual="/assets/includes/templates/variables.html"-->
<!--#endif-->

<div id="mac-container">
	<div id="mac-header"></div>
	<div id="mac-wrap">
		<div id="mac-content">
			<div id="macSlideOutContainer">
				<form id="wo_myaccount-login" name="loginform" method="post" action="<!--#echo var="ctlmyacct_url"-->/eam/login.do" class="wo-form">
					<input type="hidden" name="section" id="wo-business-group-selection" value="res" />
					<input type="hidden" name="auth_mode" value="basic" />
					<div id="mac-user-wrap">
						<input type="text" name="user" id="hp-wo-username" tabindex="40" value="" />
					</div>
					<div id="mac-pass-wrap">
						<input type="password" name="password" id="hp-wo-password" tabindex="42" />
						<input type="submit" class="modal-button modal-button-signin" tabindex="44" id="hp-wo-submit" onclick="trackClick('ctl|corp|hp|myaccount|button|sign_in');" value="" />
					</div>
					<span>
						Don't know your <a href="<!--#echo var="ctlmyacct_url" -->/eam/loginTrouble/obtainForgottenUserID.do" tabindex="46" clicktrack="ctl|corp|hp|myaccount|link|forgot_username">User Name</a> |
						<a href="<!--#echo var="ctlmyacct_url" -->/eam/loginTrouble/forgotPassword.do" tabindex="48" clicktrack="ctl|corp|hp|myaccount|link|forgot_password">Password?</a>
					</span>
					<div>
						<input type="checkbox" name="rememberMe" value="1" tabindex="50" id="hp-wo-remember-me" /> <span>Remember Me?</span>
					</div>
					<span>
						<a href="#TAM" class="modal-trigger" id="hp-wo-set-up-my-account" clicktrack="ctl|corp|hp|myaccount|link|set_up" tabindex="52">Set up My Account</a> |
						<a href="<!--#echo var="ctl_url"-->/common/popups/residential/what_is_my_account.html" id="hp-wo-what-is-my-account" clicktrack="ctl|corp|hp|myaccount|link|what_is" class="popup-trigger" tabindex="54">What is My Account?</a><br />
					</span>
				</form>
				<div class="fadedHR" id="fadeHR1"></div>

				<h3 class="helpTitle">
					<a id="btnHelp-Support" clicktrack="ctl|corp|hp|myaccount|link|help_support">Help &amp; Support</a>
					<span id="helpArrow"></span>
				</h3>

				<div id="helpAndSupportLinks" style="display:none">
					<div class="fadedHR" id="fadeHR2"></div>
					<ul>
						<li><a href="#ZAM" class="modal-trigger" id="hp-quicklink-cs-internet-help" clicktrack="ctl|corp|hp|myaccount|support|link|internet_help">Internet Help</a></li>
						<li><a href="#ZAM" class="modal-trigger" id="hp-quicklink-cs-help-resources" clicktrack="ctl|corp|hp|myaccount|support|link|help_resources">Resources</a></li>
						<li><a href="#ZAM" class="modal-trigger" id="hp-quicklink-cs-phone-help" clicktrack="ctl|corp|hp|myaccount|support|link|phone_help">Phone Help</a></li>
						<li><a href="#ZAM" class="modal-trigger" id="hp-quicklink-cs-send-us-an-email" clicktrack="ctl|corp|hp|myaccount|support|link|send-us-an-email">Email Us</a></li>
						<li><a href="<!--#echo var="ctl_url"-->/help/guidance/prism.php" id="macPrismHelp" clicktrack="ctl|corp|hp|myaccount|support|link|prism_tv_help">Prism Help</a></li>
						<li><a href="#ZAM" class="modal-trigger" id="hp-quicklink-cs-email-support" clicktrack="ctl|corp|hp|myaccount|support|link|email_support">Email Help</a></li>
					</ul>
				</div>
			</div>

			<div id="macQuickLinks">
				<div class="fadedHR" id="fadeHR3"></div>
				<ul>
					<li><a href="http://www.centurylink.net/"  clicktrack="ctl|corp|hp|myaccount|link|check_email">Check Email</a></li>
					<li><a href="#CTAM" class="modal-trigger" id="macUpgrade" clicktrack="ctl|corp|hp|myaccount|link|upgrade">Upgrade</a></li>
					<li><a href="/home/specialoffers" class="" id="tpl_ext-footer-special-offers" clicktrack="ctl|corp|hp|myaccount|link|special_offers">Special Offers</a></li>
					<li><a href="/home/moving/" id="hp-secondary-moving-learn-more" clicktrack="ctl|corp|hp|myaccount|link|moving">Moving?</a></li>
				</ul>
				<div class="fadedHR" id="fadeHR4"></div>
			</div>
		</div>
	</div>
</div>