<!--Begin Header include - /assets/includes/templates/header.html-->
<!--note: templates A and B are identical for the header except that A has the quick pay button, B has the phone number and C2C-->
<!-- TnT -->
<div id="GlobalProvisioner" class="mboxDefault"></div>
<script type="text/javascript">
mboxCreate('GlobalProvisioner','path='+location.pathname);
</script>
<!-- End TnT-->
<div class="header" id="tpl_header">
	<a href="/" class="logo" id="tpl_logo"></a>
<!--#config errmsg="[Error in Header File global nav conditional]" --> 
<!--#if expr="$isHomepage='yes'"-->
	<div class="global-nav" id="tpl_global-nav">
		<a href="<!--#echo var="qmobile_url"-->" id="tpl_global-nav-mobile-link" clicktrack="ctl|corp|hp|global_nav|link|mobile_site">Mobile Site</a> |
		<a href="<!--#echo var="ctl_url"-->/wholesale/" id="tpl_global-nav-wholesale-link" clicktrack="ctl|corp|hp|global_nav|link|wholesale">Wholesale</a> |
		<a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/" id="tpl_global-nav-about-us-link" clicktrack="ctl|corp|hp|global_nav|link|about">About Us</a> |
		<a href="#ZAM" class="modal-trigger" id="tpl_global-nav-store_locator-link" clicktrack="ctl|corp|hp|global_nav|link|store_locator">Store Locator</a> |
		<a mporgnav href="http://espanol.centurylink.com/" onClick="return switchLanguage('es');function switchLanguage(lang){MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();MP.switchLanguage(MP.UrlLang==lang?'en':lang);return false;}" id="tpl_global-nav-espanol-link" clicktrack="ctl|corp|hp|global_nav|link|espanol">Espa&ntilde;ol</a> |
		<a href="#ZAM" class="modal-trigger" id="tpl_global-nav-contact-us-link" clicktrack="ctl|corp|hp|global_nav|link|contact_us">Contact Us</a>
	</div>
	<!--#config errmsg="[Error in Header File global nav conditional - ld_oor]" --> 
<!--#elif expr="$ld_oor='true'"-->
	<div class="global-nav" id="tpl_global-nav">
		<a href="<!--#echo var="ctl_url"-->">Home</a> |
		<a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/" id="tpl_global-nav-about-us-link" clicktrack="ctl|corp|landing_page|global_nav|link|about">About Us</a> |
		<a class="modal-trigger" href="#ZAM" id="tpl_global-nav-email-offers-link" clicktrack="ctl|corp|landing_page|global_nav|link|email_offers">Email Offers</a> |
		<a class="modal-trigger" href="#ZAM"  id="tpl_global-nav-customer-support-link" clicktrack="ctl|corp|landing_page|global_nav|link|customer_support">Customer Support</a> |
		<a href="https://residential.qwest.com/account/menu.jsp"  id="tpl_global-nav-myaccount" clicktrack="ctl|corp|landing_page|global_nav|link|manage_my_account">Manage My Account</a>
	</div>
	<!--#config errmsg="[Error in Header File global nav conditional - else]" --> 
<!--#else-->
	<div class="global-nav" id="tpl_global-nav">
		<a href="<!--#echo var="ctl_url"-->">Home</a> |
		<a href="<!--#echo var="ctl_url"-->/Pages/AboutUs/" id="tpl_global-nav-about-us-link" clicktrack="ctl|corp|landing_page|global_nav|link|about">About Us</a> |
		<a class="modal-trigger" href="#ZAM" id="tpl_global-nav-email-offers-link" clicktrack="ctl|corp|landing_page|global_nav|link|email_offers">Email Offers</a> |
		<a class="modal-trigger" href="#ZAM"  id="tpl_global-nav-customer-support-link" clicktrack="ctl|corp|landing_page|global_nav|link|customer_support">Customer Support</a> |
		<a class="modal-trigger" href="#MAM"  id="tpl_global-nav-myaccount" clicktrack="ctl|corp|landing_page|global_nav|link|manage_my_account">Manage My Account</a>
	</div>
<!--#endif-->

<!--#config errmsg="[Error in Header File contact info conditional]" --> 
<!--#if expr="$ld_oor='true'"-->
	<div class="header-contact" id="tpl_header-contact">
	<!-- mp_trans_remove_start -->
		<div class="phone-icon"></div><span id="dynamic-800-number">800-860-2255</span>
	<!-- mp_trans_remove_end -->
	</div>
	<!--#config errmsg="[Error in Header File contact info conditional - elif]" --> 
<!--#elif expr="$template!='a' && $template!='A'"-->
	<div class="header-contact" id="tpl_header-contact">
	<!-- mp_trans_remove_start -->
		<div class="phone-icon"></div><span id="dynamic-800-number">855-234-5724</span> or<br clear="both" />
		<a href="#ZAM" class="modal-trigger" id="tpl_global-contact-info-chat"><div class="chat-icon"></div> Chat Online Now</a>
	<!-- mp_trans_remove_end -->
	</div>
<!--#endif-->

</div>
<!--End Header include-->