/* General */
.modal-content .page {display:none;}
.modal-content .page.initial {display:block;}

/* ZipCode Authentication Modal */
#zam_needed-content {display:none;}
#tam_needed-content {display:none;}
#zip-error {display:none;}

#ctam_new-customer-expanded {display:none;}
#ctam_ec-myaccount {display:none;}
#ctam_current-customer-expanded {display:none;}
#ctam_ec-zip {display:none;}
#ctam_ec-zip-on-file {display:none;}
#zam_zip-on-file {display:none;}
#ctam_nc-overlap {display:none;}
#ctam_ec-phonenum{display:none;}
#ctam_nc-go {margin-left:0px;}
#ctam_ec-go {margin-bottom:0px;}
#ctam_modal .modal-block-expanded {margin-left:30px;}
#mam_ec-zip-on-file {display:none;}
#mam_qwest-ma-container, #mam_ctl-ma-container {display:none;}
#ctam_ec-phone-or-account {margin-left:14px;}
#ctam_phone-explanation{margin-left:15px;}
#ctam_ec-zip,#ctam_ec-zip-on-file,#ctam_current-customer-expanded #ctam_ec-myaccount,#ctam_ec-submit-tools{margin-left:20px;}
#ctam_ec-submit-tools .modal-button-go {margin-left:0px;}
#interstitial {height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 3999; background-color:#FFF; display:none;}
#interstitial .badge {position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top:-87px; color: #333; width:381px; height:175px;}
.error,.modal-errors{display:none; color:#ff0000; font-weight:bold; margin-bottom:.1em;}
.modal-error-icon {background: url("/assets/images/sprites/modal_sprite.png") repeat scroll 90px -562px transparent;float: left;height: 20px;width: 20px; margin-right:5px;}
.error-text {position:relative; top:2px; color:#FF0000; font-weight:bold;}


.modal-button-go {background:url('/assets/images/sprites/go_button_sprite.png'); display:inline-block; width:80px; height:28px; margin-left:10px;margin-bottom:-9px;}
.modal-button-go:hover {background: url('/assets/images/sprites/go_button_sprite.png') 0px -30px}

.modal-button-signin {background:url('/assets/images/sprites/signin_button_sprite.png'); display:inline-block; width:80px; height:28px; float:left;}
.modal-button-signin:hover {background: url('/assets/images/sprites/signin_button_sprite.png') 0px -30px}

.modal form {background:transparent;margin: 10px 10px 10px 0px;padding: 0;}

#zam-modal  form {
	margin-left:0px;
	padding-left:0px;
}

.address-block {
    float: left;
    margin: auto 5px 7px auto;
}

.modal-block-expanded_lvl2 {margin:0px;}
.modal .link-protect-info {margin-left:0px;}

#mam_qwest-links,#mam_ctl-links {display:none;}
#mam_company-links,#mam_standard-buttons {float:left;width:50%;}
#mam_company-links{text-align:right;}
.modal .remember-me {margin:0px;}

#ctam_current-customer-expanded > input {margin-left:-0px;}
#ctam_current-customer-expanded .modal-block-expanded_lvl2{margin-left:3px;}
#ctam_ec-phone-remember-me {margin-left:14px;}

#ctam_ec-zip-code {margin-bottom:5px;}
#ctam_modal{top:5%;}
.ctam-active-block{background:url("/assets/images/sprites/modal_sprite.png") no-repeat scroll -377px -205px transparent}
.company-selector-container {display:none;}
#ctam_mya-instructions {display:none;}
#ctam_mya-instructions .ctam_instructions {display:none;}
#ctam_mya-instructions .enter-info{display:block;}

.company-selector-container>div {float:left; width:49%;}

#ctam_new-customer-expanded p {margin-right:20px;}
#ctam_nc-unit-number {width:30px;}
