.main-container {
	width: 100%;
}
.header .links {
	display: none;
}
#tpl_nav-bar li {
	display: none;
}
#tpl_nav-bar .nav.level1 li.right_flavor {
	display: block;
	float: right;
	list-style: none;
}
#tpl_nav-bar .nav.level1 li.right_flavor a {
	display: none !important;
}
#tpl_nav-bar .nav.level2 {
	display: none;
}