/* CORNER Styles */
/* ROUNDED CORNER HTML IMPLEMENTATION:
<div class="corners insideW fillBgG cBottom"> <span class="corner cLeft"> &nbsp; </span> <span class="corner cRight"> &nbsp; </span> </div>
*/
.corners { position: relative; clear:both; display:block; width:100%; height:10px; }
.corners * { display:block; }
.corner { height: 10px; width:10px; display:block; position:relative; line-height: 0px; }
.cTop .cLeft { float:left; background-position: left top; top: -1px; right: 1px; }
.cTop .cRight { float:right; background-position: right top; top: -1px; left: 1px; }
.cBottom .cLeft { float:left; background-position: left bottom; bottom: -1px; right: 1px; }
.cBottom .cRight { float:right; background-position: right bottom; bottom: -1px; left: 1px; }
.insideW .corner { background-image:url("../images/corners/cornerWhiteInside.gif"); }
.outsideW .corner { background-image:url("../images/corners/cornerWhiteOutside.gif"); }
.outsideWNoBdr .corner { background-image:url("../images/corners/cornerWhiteOutsideNoBdr.gif"); }
.outsideB .corner { background-image:url("../images/corners/cornerBlackOutside.gif"); }
.fillBgW .corner { background-color:#FFF; }
.fillBgG .corner { background-color:#DDD; }
.fillBgB .corner { background-color:#000; }
.noLayoutTop { position: absolute; top: 0; left: 0; width: 100%; z-index: 200; }
.noLayoutBtm { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 200; }

body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFfff;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
	font-size: 11px;
}

#mainWidth {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#main {
	background: #ffffff url('../images/main-bg.jpg') top left;
	outline: 0;
	border: 1px solid #CCC;
}
a:hover {
	text-decoration:underline;
}

#headerContainer {
	height: 100px;
}

#clLogo {
	width:222px;
	height:44px;
	margin: 0px;
	padding: 20px 0px 0px 30px;
	float: left;
}

#headerLinks {
	float: right;
	text-align: right;
	padding: 10px 10px 0px 0px;
}


#footerContainer {
	text-align: center;
}

#footerContainer p {
	line-height: 24px;
	margin: auto;
	padding-top: 10px;
	width: 500px;
}
#headerLinks a, #footerContainer a {
	color: #666;
}
* { position: relative; }

.social {
	height: 25px;
	width: 45px;
	background: transparent url('../images/social-bg.png') left top no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 20;
}
.social .socBtn {
	position:relative;
	top: 3px;
	left: 5px;
}
.animate {
	display: block;
	/*visibility: hidden;*/
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
}
.header { clear: both; width: 100%; height: 255px; overflow: hidden; }
.header .animate { 	position: absolute; }
.header .centurylinkPromo {
	background-image: url('../images/promo-clink.png');
	height: 255px;
	width: 505px;
	top: 0;
	left: 10px;
}
.header .versus {
	background-image: url('../images/vs.png');
	height: 35px;
	width: 60px;
	left: 448px;
	top: 103px;
}
.header .cablePromo {
	background-image: url('../images/promo-cable.png');
	height: 255px;
	width: 435px;
	top: 0;
	right: 10px;
}

.cta {
	clear: both;
	padding: 0 10px;
	overflow: hidden;
}
.divider { text-align:center; line-height: 1px; height: 16px; }
.divider img { display: inline; }
.cta .animate { background-position: center top; overflow: hidden; }
.cta .ctaCol { width: 33%; height: 140px; float: left;}
.cta .cta_YouWin { background-image: url('../images/cta-youwin.png'); }
.cta .cta_PricePoint { background-image: url('../images/cta-pricepoint.png'); }
.cta .cta_Btn a { width: 195px; height: 45px; display: block; margin: 45px auto 0 auto; }
.cta .cta_Btn a img { display: block; }

.popupInfo ul {
	display: block;
	padding: 0 5px;
	overflow: hidden;
}
.popupInfo .animate {
	position: relative;
	top:0;
	left:0;
	float: left;
	width: 25%;
	height: 245px;
	background-position: center top;
}
.popupInfo .pi_pricelock { background-image: url('../images/btm-tabs-1.gif'); }
.popupInfo .pi_speed { background-image: url('../images/btm-tabs-2.gif'); }
.popupInfo .pi_there { background-image: url('../images/btm-tabs-3.gif'); }
.popupInfo .pi_fast { background-image: url('../images/btm-tabs-4.gif'); }

.pathways {
	position: relative;
	margin-top: -63px;
	left: 0;
	z-index: 10;
	background: transparent url('../images/pathways-btm.png') center top no-repeat;
	overflow: hidden;
}
.details {
	height: 0;
	overflow: hidden;
	background-color: #00853F;
}
.pushWrap {
	height: 63px;
	overflow: hidden;
}
.pathways .disclink {
	color: #FFF;
	top: 42px;
	left: 10px;
	position: absolute;
	z-index: 11;
	text-decoration: underline;
}
#disclaimer {
	overflow: hidden;
	display: block;
	padding: 20px;
	color: #FFF;
}
#disclaimer a {
	color: #FFF;
	text-decoration: underline;
}
