a, a:focus, a img { outline: none; border: 0 none; }
.tabin {
	display:none;
	opacity: 0;
	transition: all 0.3s;
}
sup, sub { position: relative; line-height: 0; vertical-align: baseline; left: 0; top: -0.7ex; font-size: 70%; }
sub { top: 0.1ex; }
#masthead {
	width: 922px;
	margin: 0 auto;
}
#content .details.greenTabs .tabbed {
	margin: 0px;
	position: relative;
	background-repeat: no-repeat;
	background-position: left bottom;
}
#content .details.greenTabs .tabbed .tabs {
	position: absolute;
	top: 0px;
	right: 0px;
}

#content .details.greenTabs .tabbed .tabs li {
	background-image: url("../images/tabInactiveRightGreen.gif");
	background-repeat: no-repeat;
	background-position: right 3px;
}
#content .details.greenTabs .tabbed .tabs a {
	background-image: url("../images/tabInactiveLeftGreen.gif");
	background-position: left 3px;
	color: #FFFFFF;
}
#content .greenTabs .tabbed ul.tabs li.active {
	height: 37px;
	background-image: url("../images/bodyTabActiveRight.gif");
	background-repeat: no-repeat;
	background-position: right top;
}
#content .greenTabs .tabbed ul.tabs li.active a {
	color: #000;
	padding-bottom: 7px;
	background-image: url("../images/bodyTabActiveLeft.gif");
	background-repeat: no-repeat;
	background-position: left top;
}
#pageWrapper { width:922px; height:auto; margin: 0 auto; position:relative; text-align: left; font-size: 12px; background-color: #FFF; clear: both; }
#offerWrap { border-left: 1px solid #CCC; border-right: 1px solid #CCC; margin-bottom: 0px; padding: 10px 0 0 0; }
#headerCont { width: 100%; margin: 0; padding: 0; }
#tabNavCont { width: 100%; height: 33px; margin: 0; position:relative; top:0px; z-index: 1000; background-color: transparent; }
#tabnav { width: auto; padding: 0px; margin: 0px; }
#tabnav li { float: left; list-style:none; }
#tabnav li a { display: block; text-align: center; font-weight:bold; }
#tabCont {
	display:block;
	background-color: #FFF;
	margin: 0;
	padding: 1px 0 0 0;
	clear: both;
	position: relative;
	z-index: 10;
	border-right: 1px solid #CCC;
	border-top: 0 none;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	background-image: url("../images/pixelLine.gif");
	background-repeat: repeat-x;
	background-position: left top;
	width: auto;
	top: -1px;
}
#tabCont .tabin {
	padding: 0 20px 0 40px;
	clear:none;
}
.tabContent { padding: 40px 0 0 0; }
#tabCont .tabcorner { position: relative; right: -1px; float: right; z-index: 1000; top: -1px; background-color:#E4E4E4; height:10px; width:10px; font-size: 1px; line-height: 1px; }
#tabCont .tabcorner.leftcorner { display: none; }
#tabCont .active {
	background-color: #FFF;
	margin: 0;
	opacity: 1;
	display: block;
	clear:both;
}
#tabCont .tabContent .tabcopy { height: 340px; width: 100%; }
#offerdetails { position:relative; top:0; margin: 0 0 10px 0; padding: 0; width: 635px; float: right; right: 20px; }
.tabcopy h2 { font-size: 20px; color:#FF6319; margin-bottom: 15px; }
.tabcopy h3 { font-size: 14px; color:#00853F; padding: 10px 0 0 0; }
ul { margin:0; padding: 0 0 0 15px; }
.tabbottom { clear: both; height: 10px; position: relative; top: -2px; z-index: 1000; width: 100%; background-image: url("../images/pixelLine.gif"); background-repeat: repeat-x; background-position: left bottom; background-color: #FFF; }
.contbottom { clear: both; z-index: 1000; position:relative; height: 10px; display: block; border: 0 none; width: 100%; right:0 !important; right: -1px; }
.cornerBtmRight { display: block; width: 10px; height:10px; float:right; text-align:right; margin:0; padding:0; background-color: #FFF; }
.cornerBtmLeft { display: block; width: 10px; height:10px; float:left; text-align:left; margin:0; padding:0; background-color: #FFF; }
.tabbottom .cornerBtmRight, .tabbottom .cornerBtmLeft { background-color: #EFEFEF; }

#headerImg { width: 100%; height: 100%; position: relative; }
#headCta { top: 165px; right: 0; position: absolute; width: 210px; }

/* Tab CSS -- Modified from greenTabs.css */
#content .greenTabs .tabs li { background-image: url("../images/tabRightGreenTrans.gif"); background-repeat: no-repeat; background-position: right 2px; padding: 0 5px 0 0; margin: 0 2px 0 0; display: block; }
#content .greenTabs .tabs a { background-image: url("../images/tabLeftGreenTrans.gif"); background-position: left 2px; color: #FFFFFF; background-repeat: no-repeat; padding: 10px 20px 8px 27px; background-color: transparent; }
#content .greenTabs ul.tabs li.active { margin: 1px 2px 0 0; background-image: url("../images/bodyTabActiveRight.gif"); background-repeat: no-repeat; background-position: right top; background-color: transparent; }
#content .greenTabs ul.tabs li.active a { color: #000; background-image: url("../images/bodyTabActiveLeft.gif"); background-repeat: no-repeat; background-position: left top; background-color: transparent; }

/****  BOTTOM  ****/
#bottomInfo { overflow: hidden; clear: both; width: 100%; padding: 0; margin: 0; }
#bottomInfo #location { float: left; width: 65%; font-weight: bold; }
#bottomInfo #location h2 { font-size: 20px; }
#logos { float: right; width: 30%; }
.disclaimer { display:block; clear: both; }
#footcontent h2 { padding: 20px 30px 0px; color: #000; font-size: 19px; }
#footcontent .storeList { text-align: left; float: left; list-style: none; margin: 0px; padding: 10px 50px 0px 30px; line-height: 1.8em; }
#footcontent .rightfootCol.withOrderBtn h2 { padding: 20px 0 0 0;  }
#pageWrapper #offerWrap { margin: 0 0 0 0; }
#pageWrapper .contbottom { background-color: #EBEBEB; background-image: url("../images/offerBG.gif"); background-repeat: repeat-x; background-position: left bottom; }
#pageWrapper .messageBG { background-color: #FFF; background-image: url("../images/offerBG.gif"); background-repeat: repeat-x; background-position: left bottom; border-bottom:1px solid #CCC; position:relative; }
#offerdetails .imgBlock { margin-top:0 !important; }
#footcontent { position:relative; top: 10px; }
#footcontent .storeList { float:left; left:30px; line-height:1.8em; list-style:none outside none; margin:0; padding:0; position:relative; text-align:left; width:38%; }
#footerBlock { height: 9em; }

.pageSubFoot {
	padding: 20px 0 30px 0;
	width: 100%;
	float: left;
	clear: both;
}
.pageSubFoot .col {
	display: block;
	float: left;
	width: 50%;
}
.pageSubFoot .colRight {
	float: right;
	width: auto;
}
.shareBox {
	float: left;
	width: 70px;
}
.shareBox iframe {
	display: block;
	width: 100% !important;
}
.addthis_toolbox {
	width: auto;
}

/* general classes */
.rightfootCol { position: absolute; top: 0px; right: 0px; }
.rightfootCol.withOrderBtn { padding: 0 140px 0 40px; border-left: 1px solid #999 }
.tabcopy p { line-height:1.4em !important; margin-bottom: 0; }
.imgCopyBlock p { line-height: 1.2em !important; }
.bulletList li { list-style-type: disc; margin: 0; padding: 15px 0 0 0; }
.checkList li { background-image: url("../images/checkbox.gif"); background-repeat: no-repeat; background-position: left top; list-style-type: none; display: block; margin: 0px; padding: 0 0 10px 20px; }
.checkList { margin: 0px; padding: 0px; }
.checkList strong { font-size: 14px; }
.imgFloat { display:block; clear:both; }
.imgFloat img { display: block; float:left; padding:20px 30px; }
.imgFloat .copyTop { padding: 30px 0 0 0; }
.hideTxt { clear: both; z-index: 1; float: left; position: absolute; top: 0px; text-indent:-9999px }
.clearing { clear: both; line-height:0; font-size:0; }
.disclaimer { clear: both; }

/* rail styles */
#leftRail { float: left; position: relative; }
.railAdjust { position:absolute; top:25px; }
.cropHeader { overflow:hidden; height:313px; border-bottom:1px solid #CCC; display:block; }

/****  CSS FOR USERS W/O JAVASCRIPT ****/
#flashheader { line-height:0; }
.nojs .jsmsg { display:block; padding: 10px; color:#FFF; font-weight: normal; font-size: 12px; }
.nojs #tabCont .tabcorner.leftcorner { display: block; left: -1px; float:left; }
.nojs #tabCont .tabContent .tabcopy { height: auto; }
.nojs #tabNavCont { display: none; }
.nojs #tabCont .tabin { display: block; }
#callToSave { color: #333; text-align: right; clear: both; position: relative; top: -20px; }
#callToSave h1 { font-size: 22px; color: #333; }
.contbottom .cornerBtmRight { text-align: left; width: 10px; }

/* TAB Modifications */
.tabin { background-attachment:scroll; background-position: left 20px ; background-repeat: no-repeat; background-color: transparent; }
.tabBtn a { text-transform: uppercase; }
.speed {background-image: url('../images/tabimg_speed.jpg');}
.perform {background-image: url('../images/tabimg_perform.jpg');}
.save  {background-image: url('../images/tabimg_save.jpg');}
.tabin .checkList { padding: 90px 0 50px 255px; }

/* CORNER Styles */
.corners { position: relative; clear:both; display:block; width:100%; height:10px; }
.corners * { display:block; }
.corner { height: 10px; width:10px; display:block; position:relative; }
.cTop .cLeft { float:left; background-position: left top; top: -1px; right: 1px; }
.cTop .cRight { float:right; background-position: right top; top: -1px; left: 1px; }
.cBottom .cLeft { float:left; background-position: left bottom; bottom: -1px; right: 1px; }
.cBottom .cRight { float:right; background-position: right bottom; bottom: -1px; left: 1px; }
.insideW .corner { background-image:url('../images/corners/cornerWhiteInside.gif'); }
.outsideW .corner { background-image:url('../images/corners/cornerWhiteOutside.gif'); }
.fillBgW .corner { background-color:#FFF; }
.fillBgG .corner { background-color:#DDD; }
.fillBg000 .corner { background-color:#000; }

.pngCorners .corner { height: 10px; width:10px; display:block; position:relative; }
.pngCorners.cTop .cLeft { float:left;
	background-position: left top;
	top: 0; right: 0;
	background-image:url('../images/corners/pngCorners-LT.png');
}
.pngCorners.cTop .cRight { float:right;
	background-position: right top;
	top: 0; left: 0;
	background-image:url('../images/corners/pngCorners-RT.png');
}
.pngCorners.cBottom .cLeft { float:left;
	background-position: left bottom;
	bottom: 0; right: 0;
	background-image:url('../images/corners/pngCorners-LB.png');
}
.pngCorners.cBottom .cRight { float:right;
	background-position: right bottom;
	bottom: 0; left: 0;
	background-image:url('../images/corners/pngCorners-RB.png');
}
.pngCorners.cTop .middleSpace {
	margin: 0 10px;
	height: 10px;
	background-repeat: repeat-x;
	background-color: #FFF;
	background-position: left top;
	background-image: url('../images/corners/pngCornerPixelLine.png');
}
.pngCorners.cBottom .middleSpace {
	margin: 0 10px;
	height: 10px;
	background-repeat: repeat-x;
	background-color: #FFF;
	background-position: left bottom;
	background-image: url('../images/corners/pngCornerPixelLine.png');
}
.hasjs .pngCorners.cTop .cLeft.jsHide {
	display: block;
	background-repeat: repeat-y;
	background-color: #FFF;
	background-position: left top;
	background-image: url('../images/corners/pngCornerPixelLine.png');
}


.corners .jsHide { display: none; }
.nojs .corners .jsHide { display: block; }

.ir { display: block; text-indent: -9999px }
.abir { display: block; text-indent: -9999px; position: absolute; top: 0; left: 0; }
.ir br, .abir br { display: none;}
