/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
.fR{float: right;}
.fL{float: left;}
.container{width: 940px; margin:0 auto;}
div{position: relative;}

body{
    background-image: url(../img/centurylink-internet-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
}
.header{
    height: 82px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
}
.logo{
    margin-top: 20px;
}
nav{
    font-size: 11px;
    font-weight: 100;
    color: #666666;
    margin-top: 10px;
}
nav a:link{}
nav a:visited{}
nav a:hover{}
nav a:active{}
h1{
    font-size: 36px;
    font-weight: bold;
    color: #000;
    margin-top: 40px;
    margin-bottom: 50px;
}
h1 span{
    font-size: 16px;
    font-weight: 600;
    margin-top: -5px;
    display: block;
}
h2{
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    margin: 30px 0 -20px 0;
}
h3{
    font-size: 24px;
    font-weight: 100;
    color: #000;
    margin: 0;
}
ul li{
    font-size: 13px;
    color: #333333;
    padding-bottom: 5px;
}
.hsi .container, .internet-and-phone .container{
    box-shadow: 0px 0px 35px rgba(0,0,0,0.2);
}
.internet-and-phone .container{
    border: 1px solid #cccccc;
    background-color: #fff;
    margin-bottom: 28px;
}
.heading{
    height: 58px;
    background-color: #e5e5e5;
}
.heading h3{
    margin-left: 186px;
    padding-top: 14px;
}
.internet-and-phone .left-side{
    width: 530px;
    padding-left: 80px;
    padding-right: 120px;
}
.internet-and-phone .left-side .tenmbps-hsi-and-phone-img{
    margin-top: 18px;
}
.internet-and-phone .left-side ul{
    padding-left: 0px;
}
.internet-and-phone .right-side{
    width: 405px;
}
.offset-img{
    position: absolute;
    top: -24px;
    left: -17px;
}
.pricepoint{
    position: relative;
}
.price{
    font-size: 90px;
}
.price sup{font-size: 50px;}
.time-frame{
    font-size: 10px;
    color: #666666;
    display: block;
    position: absolute;
    top: 74px;
    left: 130px;
    line-height: 12px;
}
.tag-line{
    margin-top: -10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.offer-details{
    font-size: 10px;
    font-weight: 600;
    color: #009933;
    position: relative;
    top: -10px;
}
.perks{
    background-image: url(../img/perks.png);
    width: 280px;
    height: 98px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: -10px;
    margin-top: -10px;
}

.hsi .container{
    border: 1px solid #cccccc;
    background-color: #fff;
    margin-bottom: 30px;
}
.hsi .heading h3{
    margin-left: 125px;
}
.hsi .left-side{
    margin-left: 140px;
}
.hsi .right-side{
    margin-right: 130px;
    margin-top: 30px;
}

.tfn-cta .container{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    height: 108px;
    background-image: url(../img/lower-cta-background-stripe.jpg);
    background-repeat: repeat-x;
}
.tfn-cta .container .shadow{
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    left:13px;
    width:913px;
    height: 47px;
}
.tfn-cta .tfn-cta-text{
    font-size: 18px;
    margin-left: 60px;
    padding-top: 10px;
}
.orange{
    color: #ff6600;
    font-weight: bold;
}
.cta{
    font-size: 24px;
}
.disclaimer{
    color: #9a9b9c;
    font-size: 11px;
    margin-right: 50px;
    padding-top: 55px;
}
.footer{
    color: #616365;
    font-size: 11px;
    text-align: center;
    padding-top: 25px;
}
.footer p{
    margin-top: 5px;
}

/*BOOK END BUTTON*/
/* FLEXIBLE BUTTON STYLES */
.bookendButton { height: 32px; line-height: 30px; display: inline-block; color: #FFF; text-decoration: none; font-size: 14px; text-shadow: 0 -1px 4px rgba(0,0,0,0.2); position: relative; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADAgMAAAAvs40RAAAACVBMVEUAAAAAAAAAAACDY+nAAAAAA3RSTlMLIkQgIOiWAAAADklEQVQI12NoYHBgYAAAA0YAwS3hRw0AAAAASUVORK5CYII=); background-position: bottom center; background-repeat: repeat-x; border-radius: 5px; }
.bookend { height: 30px; display: inline-block; color: #FFF; text-decoration: none; font-size: 14px; background-position: center top; background-color: transparent; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAAAhCAMAAAAyCiXOAAAAt1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6TCQAAAAAAAAAAAAAAAAAAAAAAAAAAAAFEQQAAAAAAAAAAACUxF2by2GVxV4jdiAkdyAhdR6k1mae0mOk1mYsjCYniSMojCQqjSYtjycxkSk1kys5li09mDBBmzJGnjVLoTdQpDpVpz1aqj9grkJlsUVqtEhwuEt1u016vlB/wVOExFWJx1iNylqRzF2Vz1+Z0WGd02Og1WSi1mal2GfGaNu9AAAAH3RSTlMAAQMEBgkKCxEUFRscICItMjtCRJWanKSqru/w8PL0pLMKRQAAALxJREFUeNrt1cFpQzEQRVGNvj5ZBXfghSH915NdWggmkFiyJk1MIItzSnhceBH9fD1vDap8/Nznjn5e3mxBqff7HL2faQlKvXz1EcdVWNS6fq7RQ1dUixhNWPxJWE1Y1BMWwkJYCEtYCAthISwQFsJCWCAshIWwQFgIC2GBsBAWwgJh8X/DyjnMQKmVOXbOwxKUemQePVp0U1AnH9/zOfae2SPMQVVXudfeI1cTFqVhPffKaBHdF1Jo5878BeJ7TFuNscoKAAAAAElFTkSuQmCC); font-weight: bold; vertical-align: top; position: relative; top: 0; left: 0; z-index: 20; }
.leftBookend { background-position: left top; width: 55%; top: 0; left: -2px; position: absolute; }
.centerBookend { padding: 0 20px; margin: 0; z-index: 25; position: relative; height: 30px; background-image: none; border-radius: 3px;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
}
.rightBookend { background-position: right top; width: 55%; top: 0; left: auto; right: -2px; position: absolute; }
a.bookendButton:hover .centerBookend { background-color: rgba(0,0,0,0.2); }
a.bookendButton:hover { text-decoration: none; }
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media screen and (max-width: 640px) { 
    
}

@media screen and (max-width: 320px) { 

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}