body
{
	margin: 0px;
	padding: 0px;
	background-color: #FFFfff;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
	font-size: 14px;
}
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gutterBlock {
	width: 100%;
	display: block;
	margin: 0 0 10px 0;
}

#mainWidth
{
	width: 100%;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px;
}

a, a:link, a:visited
{
	color: #00853F;
	text-decoration: none;
}

a:hover
{
	text-decoration:underline;
}

em {
	font-style: italic;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	margin-bottom: 15px;
	color: #00853F;
}

#headerContainer
{
	padding: 20px 0 0 0;
}

#top_nav {
    clear: both;
    float: right;
    font-size: 12px;
}

#top_nav ul {
    margin-left: 0;
}

#top_nav ul li {
    border-right: 1px solid #666666;
    color: #666666;
    display: inline;
    list-style-type: none;
    margin-right: 5px;
    padding-right: 8px;
}

#top_nav ul li a {
    color: #666666;
}

#top_nav ul li.topnav_last {
    border: medium none;
}

#hdr_logo {
    clear: both;
    padding-bottom: 25px;
    width: 215px;
}

#hdr_logo h1 {
    background: url("/common/images/logo.png") no-repeat scroll left top transparent;
    height: 43px;
    line-height: 0;
    text-indent: -9999px;
    width: 214px;
}

#content {
	width: 88%;
	max-width: 810px;
	margin: 0 6%;
	overflow: hidden;
}

#mainWidth .facebook_contact {
	margin: 0 2%;
	width: 96%;
}

.fb-html {
	overflow: hidden;
}

/* Content for Top Section Above Form */

.subHeaderCont {
	overflow: hidden;
	max-width: 810px;
	clear: both;
	padding: 0;
}

.connect {
	max-width: 370px;
	width: 100%;
}

.connect p {
	line-height: 20px;
}

.subnav {
	overflow: hidden;
	font-size: 12px;
	max-width: 350px;
	width: 100%;
	min-height: 40px;
}

.tweet {
	background: url('../images/twitterIcon.png') left top no-repeat;
	padding: 0 0 0 35px;
}

.team {
	background: url('../images/teamIcon.png') left top no-repeat;
	padding: 5px 0 5px 35px;
	margin-left: 20px;
}

/* Form Styles */
h3.gradHeader {
	width: 100%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #01853f url('../images/header-grad.png') left top repeat-x;
	color: #FFF;
	font-size: 20px;
	line-height: 1;
	padding: 15px;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h3.gradHeader span {
	font-size: 15px;
}

#customerServiceForm p {
	padding: 0 15px;
	margin: 0 0 15px 0;
	color: #2d2929;
}

#customerServiceForm p .ghost {
	line-height: 1;
	margin: 0.25em 0 0.5em 0;
	display: block;
}

input, select, textarea {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #9a9b9c;
	color: #666;
	padding: 5px 5px 5px 8px;
	-moz-box-shadow: 0 1px 1px #aaa inset;
	box-shadow: 0 1px 1px #aaa inset;
	-webkit-box-shadow: 0 1px 1px #aaa inset;
}

select {
	height: 40px;
}

input {
	height: 40px;
}

label {
	line-height: 1;
	display: block;
	padding: 0 0 5px 0;
}

#topicID {
	max-width: 420px;
	width: 100%;
}

#comments {
	width: 100%;
	max-width: 550px;
	height: 110px;
	vertical-align: middle;
}

.commentsP, .contactP {
	margin-bottom: 20px;
}

#title, #billingTitle {
	width: 100%;
	max-width: 120px;
	margin-right: 10px;
}

#firstName, #lastName, #billingFirstName, #billingLastName {
	width: 100%;
	max-width: 200px;
	margin-right: 10px;
}

#email {
	width: 100%;
	max-width: 550px;
}

#customerServiceForm p.accountIntro {
	font-size: 14px;
	color: #666;
	margin-bottom: 5px;
}

#accountInfoFloats {
	overflow: hidden;
	padding: 0 0 15px 0;
}

#acctNumCont {
	width: 100%;
	max-width: 390px;
	overflow: hidden;
}

#teleNumCont {
	width: 100%;
	max-width: 390px;
	overflow: hidden;
}

#phone, #acctNum {
	width: 100%;
	max-width: 350px;
}

#billingInformation {
	padding: 0 0 15px 0;
}

.sameAsContactLabel {
	line-height: normal;
	display: block;
}

#sameAsContact {
	vertical-align: bottom;
	line-height: normal;
	border: 0 none;
	padding: 0;
	margin: 0;
	box-shadow: none;
	border-radius: 0;
	position: relative;
	height: 13px;
	max-width: 13px;
	top: -2px;
}

#billingAddress2, #billingState, #billingZipCode {
	margin-right: 10px;
}

#billingAddress1 {
	max-width: 300px;
	margin-right: 10px;
}

#billingAddress2 {
	max-width: 150px;
}

#billingState {
	max-width: 80px;
}

.submitBtn {
	padding: 0;
	border: none;
	height: 36px;
	max-width: 154px;
	margin-top: 10px;
}

/** Team Page Styles **/
#teamWrapper {
	max-width: 860px;
	overflow: hidden;
	padding: 15px 0 0 0;
}

.teamMember {
	max-width: 200px;
	min-height: 35em;
	float: left;
	padding: 0 15px 15px 0;
}

.teamMember ul {
	max-width: 240px;
}

.teamMember ul li {
	font-size: 13px;
	margin-bottom: 7px;
}

.teamMember ul li strong {
	color: #00853F;
	font-weight: bold;
}

.teamMember h4 {
	color: #2d2929;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 15px;
}

.memberImg {
	display: block;
	margin-bottom: 8px;
}

.memberImg img {
	max-width: 240px;
	height: 175px;
}

/* Success */

#thanks {
	max-width: 810px;
	overflow: hidden;
}

#thanks h2 {
	padding: 30px;
	margin: 0;
	width: 100%;
	background: #01853f url('../images/header-grad.png') left top repeat-x;
	border-radius: 6px 6px 0 0;
	color: #FFF;
	font-size: 29px;
	font-weight: normal;	
}

#thanks p {
	background: #e9e9ea url('../images/thanksBodyGrad.png') left top repeat-x;
	font-size: 24px;
	line-height: 32px;
	font-weight: normal;
	color: #2d2929;
	padding: 25px 30px;
	border-radius: 0 0 6px 6px;
	width: 100%;
}

/** Footer Styles **/
#footer {
    clear: both;
    color: #666666;
    font-size: 12px;
    padding: 50px 0 20px 0;
    text-align: center;
}

#footer p {
	margin: 0;
}

#footer ul {
    margin-bottom: 5px;
    margin-left: 0;
}

#footer ul li {
    border-right: 1px solid #666666;
    color: #666666;
    display: inline;
    list-style-type: none;
    margin-right: 5px;
    padding-right: 8px;
}

#footer ul li a {
    color: #666666;
}

#footer ul li.footernav_last {
    border: medium none;
}

/* VALIDATION */

.error {
	border: 2px solid #ff0000;
}

label.error {
	border: 0 none;
	background: #FF0000 url(../images/errCorner.png) left center no-repeat;
	color: #FFF;
	right: 0;
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	padding: 5px 10px 5px 15px;
	margin-left: 10px;
}

.subheadInternetBlock {
	background: #FFF url('/contact/images/gray-bar-grad-top.png') center top repeat-x;
	margin: 20px 0 30px;
	border: 1px solid #999999;
	border-radius: 10px;
	float: left;
	clear: both;
	font-size: 13px;
	width: 100%;
	overflow: hidden;
}
.subheadInternetBlock .innerWrap {
	background: transparent url('/contact/images/gray-bar-grad-btm.png') center bottom repeat-x;
	padding: 20px;
	width: 100%;
	height: 100%;
	float: left;
	clear: both;
}
.subheadInternetBlock .copyBlock {
	float: left;
	max-width: 610px;
	width: 100%;
}
.subheadInternetBlock h3 {
	font-weight: bold;
	color: #000;
	margin: 10px 0 0 0;
}
.subheadInternetBlock p a {
	text-decoration: underline;
}
.serviceTroubleImg {
	float: left;
	margin: 0 15px 10px 0;
}
.btn-learn-more {
	width: 126px;
	height: 36px;
	display: block;
	float: right;
	text-indent: -9999px;
	background: url('/contact/images/btn-learn-more.png');
	margin: 5px 0 0 10px;
}

/* Utility Classes */

.ir {
	display: block;
	text-indent: -9999px;
	position: absolute;
	top: 0;
	left: 0;
}

.ghost {
	font-size: 12px;
	color: #666;
}


.left {float: left;}
.right {float: right;}

@media only screen and (max-width: 809px) {
	.right {
		float: left;
	}
	.team, .tweet {
		margin: 0 15px 10px 0;
	}
	.subnav {
		margin: 0;
	}
	.connect {
		margin: 0 0 10px 0;
	}
}
@media only screen and (max-width: 680px) {
	.gutterBlock {
		margin: 0;
	}
	#top_nav {
		float: none;
		padding: 0 0 20px 0;
	}
	#headerContainer {
		padding: 20px 5% 0 5%;
	}
	#firstName, 
	#title, 
	#billingTitle,
	#lastName, 
	#billingFirstName, 
	#billingLastName, 
	#billingAddress1, 
	#billingAddress2, 
	#billingState, 
	#billingZipCode, 
	#acctNumCont, 
	#acctNum, 
	#phone, 
	#teleNumCont {
		width: 100%;
		max-width: 100%;
		margin: 0 0 10px 0;
	}
	.subHeaderCont {
		padding: 0;
	}
	.right {
		float: left;
	}
	.team, .tweet {
		margin: 0 15px 10px 0;
	}
	.subnav {
		margin: 0;
	}
	.connect {
		margin: 0 0 10px 0;
	}
	.teamMember {
		max-width: 200px;
		min-height: 100%;
	}
}
