h2{font-size:20px;}
.orange-text{color:#FF6319;}
.white-text{color:#fff;}
.content-container h1 {
	font-size:14pt;
	font-weight:bold;
	margin-left:5px;
}
.content-container{
	margin:auto; width:916px;
}
.banner-important-details{
	display:block; position:relative; margin:-9px auto auto 303px;  width:92px; height:14px; z-index:900;color:#00853F;text-decoration:underline;
}
.dollarsign, .dollar-amount, .price-stacker{float:left;color:#00853f;}
.dollarsign{
	font-size:24px;
	position:relative;
	vertical-align:top;
}
.dollar-amount{
	font-size:44px;
	font-weight:bold;
}
.price-stacker{
	font-size:15px;
	padding-top:3px;
	width:25px;
}
.cent-amount, .term-unit{
	font-family: "Arial Narrow";
	color:#00853f;
	font-weight:bold;
	position:relative;
	vertical-align:top;
}
.cent-amount{font-size:20px;}
.term-unit{
	border-top:2px solid #00853F;
	font-size:15px;
}
.main_promo {
	height:228px;
	padding-top:1px;
	margin-left:-3px;
	margin-top:-4px;
}
.main_promo_image{float:left;margin-left:10px;margin-top:10px;}
.main_promo_header_content{
	border-left:1px solid #ccc;
	float:left;
	height:158px;
	margin-bottom:6px;
	margin-left:27px;
	margin-top:16px;
	padding-left:27px;
}
.main_promo_header_content .tv-right-headline-1{color:#00853F;font-size:22px;}
.main_promo_header_content h4{font-size:14px;}
.main_promo_bottom{
	border-top:1px solid #ccc;
	clear:both;
	padding-top:10px;
	padding-left:2px;
}
.main_promo_bottom h2{font-size:20px;}
.main_content_top{
	width:759px;
	margin-left:0px;
}
.main_content_bottom{
	background:url('/assets/images/page-components/comeback-bottom.jpg') no-repeat;
	width:759px;
	height:75px;
	margin-left:0px;
	clear:both;
	margin-bottom:10px;
}

.main_content{
	background:url('/assets/images/page-components/comeback-mid.gif') repeat-y;
	width:759px;
}
.bottom{
	margin-left:-5px;
	padding-bottom:0px;
	
}
*+html .ebiz-qwest-disclaimer{
	margin-bottom:0px;
	height:120px;
	padding-bottom:8px;
}
.bottom_box{
	float:left;
	width:297px;
	margin: 5px;
	text-align:center;
}
.service-details{
	text-align:left;
}
.bottom_box_top{
	background:url('/assets/images/page-components/300x50_bx_top.gif') no-repeat;
	width:300px;
	height:14px;
}
.bottom_box_middle{
	background:url('/assets/images/page-components/300x10_bx_center.gif') repeat-y;
	width:282px;
	padding:10px 10px 21px;
	z-index:800;
	position:relative;
	height:555px;
}
.bottom_box_middle h3{
	color:#00853F;
}
.bottom_box_middle ul.feature_list{
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}
.bottom_box_middle .heading{
	background:url("/assets/images/page-components/column_bg_header.png") repeat-x scroll 0 0 transparent;
	margin-left:-9px;
	width:295px;
}
.details-link, .details-link:link {color:#00853f;}
.bottom_box_middle .heading h2{margin-bottom:0px;}
.bottom_box_middle .service-details h4{margin-left:0px;}
.service-details{margin-left:10px;}
p.time_frame{
	font-size:10px; margin:0;
	min-height: 25px;
}
.icons{
	margin:auto;
	width:auto;
	clear:both;
}
.price-large {
	overflow:visible;
	width:110px;
}
.price-term{clear:both;font-size:11px;color:#666;}
.price-large sup{bottom:.6em!important; bottom:.7em;  }
*+html .price-large sup{bottom:.7em; }
.bottom_box_bottom{
	background:url('/assets/images/page-components/300x14_bx_bottom.gif') no-repeat;
	width:300px;
	height:54px;
}
#lp-button {
	position:relative;
	background:url('/assets/images/chat/450x90_Chat_with_CenturyLink.png') no-repeat;
	padding-top:14px;
	padding-left:17px;
	margin-left:40px;
	width:450px;
	height:81px;
}
.lp-button-number{
	color:#666;
	float:right;
	width:314px;
	text-align:center;
}
.lp-button-number h3{color:#333;font-size:18px;font-weight:700;}
.lp-button-number strong{color:#000;}
.lp-button-number div{color:#666; width:185px;margin-left:68px;text-align:center;font-size:11px;}
.price-lock{
	float:left;
	vertical-align:middle;
}