.as-low-as{
	width:80px;
	text-align:left;
	padding-left: 20px;
	font-size:14px;
}
.start-now{
	padding-left: 8px;
}
.tab-container {
	min-height: 309px;
}
.tab-disclaimer {
	padding-top:10px;
	border-top: 1px solid #CACCCD;
	text-align:center;
}
.tab-image-area {
	margin-top: 20px;
	text-align:center;
}
.main-offer-price p{
	left:-20px;
}
.main-price-content {
	text-align:left;
}
.grey {
	color:#333333;
}

.price-amount .dollarsign {	
	color:#00853F; 
	font-size:24px; 
	vertical-align:top; 
	position:relative;
}
.price-amount .dollar-amount {
	color:#00853F; 
	font-size:44px;
	font-weight: bold;
}
.price-amount .cent-amount{
	color:#00853F; 
	font-size:24px;
	font-weight: bold;
	vertical-align:top; 
	position:relative;
	padding:0px;
}
.pricing .term-unit{
	color:#999999; 
	font-size:9px;
	vertical-align:top; 
	position:relative;
} 
.price-amount .dollarsign,.price-amount .dollar-amount,.price-amount .price-stacker{
	float:left;
}
.price-stacker {
	width:50px; 
	padding:5px 0px 0px 5px;
}
.pricing {
	margin: 0px auto;	
}

.icon-homephone
{
	display: block;
	float: left;
	background: url('/assets/images/sprites/template.png') no-repeat -821px -872px;
	width: 35px;
	height: 63px;
}

/* begin styles added to support qc1853 8.21.2012 */
#Phone-Value-prop-content-1853 {
	height : auto;
}

.main-offer-details-headline-bold {
	font-family : Arial;
	font-size : 20px;
	font-weight : bold;
	color : #00853F;
}


.main-offer-details-headline-normal {
	font-family : Arial;
	font-size : 20px;
	font-weight : normal;
	color : #00853F;
}

.main-offer-details-bullet-copy-normal {
	font-family : Arial;
	font-size : 12px;
	font-weight : normal;
	color : #000000;
}

.main-offer-details-bullet-copy-bold {
	font-family : Arial;
	font-size : 12px;
	font-weight : bold;
	color : #000000;
}



/* end styles added to support qc1853 8.21.2012 */
