.disclaimer {
	padding: 10px 0px;
}

#tab-internet-basics-program-content-top, #tab-internet-basics-applicationdocs-content-top {
	padding-left : 12px;
}

#tab-internet-basics-program-content-top h4 {
	color:#00853F;
	font-size:16px;
}

#tab-internet-basics-program-content-top-right-group {
	position : relative;
	left : 50px;
}

.tab-internet-basics-program-content-top-right-group-list {
	position : relative;
	top : -6px;
}

#tab-internet-basics-program-content-bottom, #tab-internet-basics-applicationdocs-content-bottom {
	padding-bottom : 20px;
	border-bottom:1px solid #E0E0E0;
	padding-left : 12px;
}

#tab-internet-basics-program-content-bottom-left-group {
	float : left;
	margin-left : 30px;
	position : relative;
	top : -18px;
}

#tab-internet-basics-program-content-bottom-right-group {
	float : left;
}

.tab-internet-basics-program-content-bottom-right-group-top {
	padding-bottom:4px;
}
.applicationdocs-left{
	float:left;
	list-style-type:none;
	width:300px;
}
.applicationdocs-left li a{
	color:#00853F;
	text-decoration:underline;
}
#tab-internet-basics-program-content-bottom-center-group {
	float : left;
	margin-left : 40px;
}

#tab-internet-basics-reqmtns-content {
	padding-bottom : 10px;
	border-bottom:1px solid #E0E0E0;
}

#tab-internet-basics-reqmtns-content h4 {
	color:#00853F;
	font-size:16px;
}

#tab-internet-basics-requirements-content-top-left-group {
	position : relative;
	left : 20px;
	padding-bottom : 15px;
}

#tab-internet-basics-requirements-content-top-right-group {
	margin-left : 30px;
}

.tab-internet-basics-program-content-top-right-group-list {
}


.main-offer-details-internetbasics h3 {
	font-size : 16px;
	font-weight : bolder;
}


.two-col-content {
	padding-right : 20px;
}
.two-col-content-applicationdocs {
	padding-right : 20px;
}

.expanded-content {
	padding-top : 10px;
}

.expanded-content h4{
	color:#00853F;
	font-size:16px;
	padding-bottom : 3px;
}

.expanded-content h5{
	color:#000000;
	font-size:12px;
	font-weight:bolder;
}

.expanded-content ul{
	list-style-type:none;
}

.main-offer {
	padding-bottom : 20px;
}

.check-avail {
	padding-top : 5px;
}

.tab-content-block-top-left {
	line-height : 2;
	padding-left:5px;
	width : 300px;
}

.program-left-price-banner {
	 margin-left : 40px;
	 padding-bottom : 10px;
}

.internet-basics-program-check-avail {
	position : relative;
	left : 50px;
	padding-top : 10px;
}

#tab-requirements-left-list {
	width : 350px;
}

#tab-requirements-right-list {
	margin-left : 25px;
	width : 350px;
}

.tab-requirments-right-banner {
	float : left;
	margin-top : 15px;
	padding-left : 150px;
	padding-bottom : 10px;
}

#tab-program-top-right-list {
	margin-left : 30px;
}

.internet-basics-top-banner {
	padding-top:20px;
	padding-right:30px;
}

.main-offer-details-internetbasics {
	float:left;
	/*width:480px;*/
	margin-left : 30px;
	padding-left : 25px;
	border-left:1px solid #E0E0E0;

}

.main-offer-internetbasics {
	clear:both;
	margin-top:10px;
}

.main-offer-internetbasics img{
	float:left;
	padding-left : 10px;
}

#internet-basics-program-tab-expand-details-link {
	margin-left : 0px;
	text-align : center;
}

#internet-basics-requirements-tab-expand-details-link {
	margin-left : 0px;
	text-align : center;
}

.application-language-label {
	font-size : 10px;
}

