/* CORNER Styles */
/* ROUNDED CORNER HTML IMPLEMENTATION:
 *
 * <div class="corners outsideW fillBgG cBottom">
 * 		<span class="corner cLeft"> </span> <span class="corner cRight"> </span>
 * </div>
 *
 * or
 *
 * <div class="roundcorners rcHasBdr"> <--- wrapper div should recieve these classes
 * 		<span class="roundcorner rcLeft rcBottom outsideW"> </span> <span class="roundcorner rcRight rcBottom outsideW"> </span>
 * 		#### MORE CONTENT HERE ####
 * </div>
*/
.corners { position: absolute; clear:both; display:block; width:100%; height:10px; top: 0; left: 0;}
.corners * { display:block; }
.corner { height: 10px; width:10px; display:block; position:relative; }
.cTop .cLeft { float:left; background-position: left top; top: -1px; right: 1px; }
.cTop .cRight { float:right; background-position: right top; top: -1px; left: 1px; }
.cBottom .cLeft { float:left; background-position: left bottom; bottom: -1px; right: 1px; }
.cBottom .cRight { float:right; background-position: right bottom; bottom: -1px; left: 1px; }


.insideW .corner { background-image:url("/soho/assets/common/images/Corners/cornerWhiteOutside.png"); }
.outsideW .corner { background-image:url("/soho/assets/common/images/Corners/cornerWhiteOutside.png"); }
.outsideWNoBdr .corner { background-image:url("/soho/assets/common/images/Corners/cornerWhiteOutsideNoBdr.png"); top: 0; right: 0; bottom: 0; right: 0; }
.outsideB .corner { background-image:url("/soho/assets/common/images/Corners/cornerBlackOutside.png"); }
.outsideG .corner { background-image:url("/soho/assets/common/images/Corners/cornerGreyOutside.png"); }

.fillBgW .corner { background-color:#FFF; }
.fillBgG .corner { background-color:#DDD; }

.corners .jsHide { display: none; }
.nojs .corners .jsHide { display: block; }


.roundcorners { position: relative; top: 0; left: 0; }
.oldIE .roundcorners { overflow: visible; }
.roundcornersInnerWrap { position: relative; top: 0; left: 0; }

.roundcorners .insideW { background-image:url("/soho/assets/common/images/Corners/cornerWhiteOutside.png"); }
.roundcorners .outsideW { background-image:url("/soho/assets/common/images/Corners/cornerWhiteOutside.png"); }
.roundcorners .outsideWNoBdr { background-image:url("/soho/assets/common/images/Corners/cornerWhiteOutsideNoBdr.png"); }
.roundcorners .outsideB { background-image:url("/soho/assets/common/images/Corners/cornerBlackOutside.png"); }
.roundcorners .outsideG { background-image:url("/soho/assets/common/images/Corners/cornerGreyOutside.png"); }

.roundcorners .roundcorner { position: absolute; z-index: 1000; display: block; height: 10px; width:10px; }

.roundcorners .rcLeft.rcTop { left: 0; right: auto; top: 0; bottom: auto; background-position: left top; }
.roundcorners .rcRight.rcTop { left: auto; right: 0; top: 0; bottom: auto; background-position: right top; }
.roundcorners .rcLeft.rcBottom { left: 0; right: auto; top: auto; bottom: 0; background-position: left bottom; }
.roundcorners .rcRight.rcBottom { left: auto; right: 0; top: auto; bottom: 0; background-position: right bottom; }

.rcHasBdr .rcLeft.rcTop { left: -1px; right: auto; top: -1px; bottom: auto; background-position: left top; }
.rcHasBdr .rcRight.rcTop { left: auto; right: -1px; top: -1px; bottom: auto; background-position: right top; }
.rcHasBdr .rcLeft.rcBottom { left: -1px; right: auto; top: auto; bottom: -1px; background-position: left bottom; }
.rcHasBdr .rcRight.rcBottom { left: auto; right: -1px; top: auto; bottom: -1px; background-position: right bottom; }


@media screen and ( min-width: 200px ) {
	body .roundcorners { border-radius: 8px; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; -ms-background-clip: padding-box; background-clip: padding-box; }
	body .roundtopcorners { border-radius: 8px 8px 0 0; }
	body .roundbtmcorners { border-radius: 0 0 8px 8px; }
	body .roundcorners .roundcorner { display: none; }
}
