div {
	overflow: inherit;
}
body, div, td, li {
    color: #444;
    line-height: 1.4;
}
h1, h2, h3, h4{
    color: #000;
    line-height: 1.4;
}
.trackWrap {
	position: absolute;
	top: -400;
	left: 0;
}
#content {
	position: relative;
	width: 960px;
	margin: 0 auto;
	overflow: visible !important;
}
#wrapper_top_sb {
	width: 960px;
}
#footer {
	background: url("/soho/assets/common/images/Layout/footerBg.gif") no-repeat scroll 0 0 transparent;
	font-size: 0.75em;
	margin: 20px auto;
	padding: 15px 20px 60px 20px;
	width: 920px;
	position:relative;
}
#footer .copyright {
	font-size: 0.9em;
	margin-top: 14px;
}
#footer .cta {
	color: #999999;
	font-size: 1.3em;
	font-weight: bold;
	font-weight: bold;
	margin: 0 0 12px;
}
#footer .about {
	float: left;
	padding-top: 4px;
	width: 70%;
}
#footer .support {
	float: right;
	text-align: right;
	width: 30%;
}
#footer .support ul.nav {
	float: right;
}
#footer ul.nav {
	height: 1.25em;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#footer ul.nav li {
	border-left: 1px solid #999999;
	float: left;
	margin: 0;
}
#footer ul.nav li a {
	color: #333333;
	padding: 0 1em;
}
#footer ul.nav li.first {
	border-left: medium none;
}
#footer ul.nav li.first a {
	padding-left: 0;
}
#footer ul.nav li.last a {
	padding-right: 0;
}

.coreConnectInfo {
	line-height: 1.4;
	width: 598px;
	background: url("/soho/assets/images/cc-dtv-bundle/cc-dtv-chart-bg.gif") transparent top left repeat-y;
	clear: both;
	overflow: hidden;
	position: relative;
}
.coreConnectInfo h2 {
	font-size: 16px;
	padding: 0 0 10px 0;
}
.coreConnectInfo ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
}
.coreConnectInfo ul li {
	padding: 3px 0 30px 50px;
	margin: 0;
	position: relative;
}
.coreConnectInfo ul li .ccIcon {
	position: absolute;
	left: 0;
	top: 0;
}
.coreConnectInfo ul li strong {
	font-size: 14px;
	display: block;
	color: #000;
}
.coreConnectInfo .col {
	width: 43%;
	position:relative;
	float: left;
	padding: 0;
	border: 0 none;
	margin: 0 0 20px 4%;
}
.coreConnectInfo .rightCol {
	float: right;
	width: 40%;
}
.coreConnectInfo .ccInfoBtmBdr {
	display: block;
	margin: 20px 0 0 0;
	height: 20px;
	background: url("/soho/assets/images/cc-dtv-bundle/cc-dtv-chart-btm.gif") #FFF left top no-repeat;
	border: 0 none;
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
}
.coreConnectInfo .dtvInfo ul {
	list-style: disc outside;
	padding: 10px 0 10px 15px;
}
.coreConnectInfo .dtvInfo ul li {
	padding: 0;
	margin: 0 0 10px 0;
}
.coreConnectInfo .dtvInfo p {
	font-weight: normal;

}
.coreConnectInfo .dtvInfo h3 {
	font-size: 14px;
	font-weight: bold;
}

.cc-dtv-header {
	background: url("/soho/assets/images/cc-dtv-bundle/cc-dtv-chart-header.gif") transparent top left no-repeat;
	height: 42px;
	display: block;
	text-indent: -9999px;
}
.cc-dtv-subhead {
	margin: 0 0 20px 30px;
	font-size: 15px;
	line-height: 1.2;
	font-weight: bold;
}

.headerBlock {
	background: url('/soho/assets/images/cc-dtv-bundle/header.jpg') transparent top left no-repeat;
	width:960px;
	padding:0px;
	left:0px;
	height:269px;
	text-indent:-9999px;
	margin-bottom: 30px;
}
.internetLQ .headerBlock {
	background: url('/soho/assets/images/internet/lq-header.jpg') transparent top left no-repeat;
	width:960px;
	padding:0px;
	left:0px;
	height:313px;
	text-indent:-9999px;
	margin-bottom: 30px;
}
.internetLC .headerBlock {
	background: url('/soho/assets/images/internet/10-mbps.jpg') transparent top left no-repeat;
	width:960px;
	padding:0px;
	left:0px;
	height:313px;
	text-indent:-9999px;
	margin-bottom: 30px;
}
.tfn-cta .cta{
	position: absolute;
	right: 0px;
	top: 15px;
	width: 250px;
}
.tfn-cta .cta .ctaTop .ctaBody{
	padding-top: 5px !important;
}
.tfn-cta h4{
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 75px;
	padding-bottom: 5px;
}
ul.orange-check{
	font-size: 14px;
}
.orange-check li{
	font-size: 14px;
	padding-bottom: 7px;
	margin-left: 6px;
	padding-left: 50px;
	width: 150px;
	line-height: 16px;
	list-style-type: none;
	background: url('/soho/assets/images/internet/orange-check.png') no-repeat 7px 2px transparent;

}
.page_wrapper .tfn-cta{
	position:absolute;
	top:312px;
	left:674px;
	background: url('/soho/assets/images/internet/cta-bg.png') repeat-x left bottom transparent;
	width: 251px;
	height: 317px;
	text-align: center;
}
.accent-cta {
	color: #000000;
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 0;
}
.accent-phone{
	font-size: 25px;
	color: #ff6319;
	font-weight: bold;
}
.accent-phone span{
	font-size: 21px !important;
	font-weight: normal;
}
.page_wrapper .special-offers-form {
	position:absolute;
	top:268px;
	left:674px;
	background: url('/soho/assets/images/cc-dtv-bundle/grad_form.jpg') repeat-x left bottom transparent;
	width:248px;
	border:1px solid #CCCCCC;
}
.internetLQ .special-offers-form, .internetLC .special-offers-form  {
	top:312px;
}
.page_wrapper {
	background: none;
	margin:0px auto;
	width: 960px;
	color:#616365;
}
.special-offers-form .cta {
	position: relative;
	right: 0;
	top: 0;
	width: 250px;
}
.cta .ctaFoot {
	background: none;
}
.cta .fieldBlock {
    padding: 0 0 10px;
}
.cta .longBox {
    width: 95%;
}
.cta .submit {
    margin-top: 10px;
}
.cta .ctaTop .ctaBody {
	background:none;
	font-size: 11px;
	padding: 10px;
	line-height: 1.2;
}
.cta .ctaMid {
	background:none;
}
.accentForm {
	color: #000000;
	font-weight: 700;
}
/*
body, div, td, h1, h2, h3, h4, li {
	color:#616365;
}
*/
body {
	background-color:#FFFFFF;
}
#underForm {
	background: url("/soho/assets/images/cc-dtv-bundle/grad_underForm.jpg") repeat-x scroll 0 bottom #FFFFFF;
	border: 1px solid #CCCCCC;
	left: 676px;
	position: absolute;
	top: 772px;
	width: 248px;
}
#underForm ul {
	padding:0 20px;
	margin: 20px;
}
#underForm ul.greenDot li {
	list-style-image: url('/soho/assets/images/cc-dtv-bundle/greenDot.png');
}
#pageContent{
	clear: both;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
	width: 625px;
	font-size:13px;
}
#pageContent h2 {
	color:#000000;
	font-weight:bold;
	font-size:16px;
}

/*
#pageContent h2.firstHeading {
	margin-top: 30px;
}
*/


#tableThing {
	width:560px;
	height:170px;
	margin-top:30px;
	position:relative;
}
.black {
	float:left;
	height:37px;
	width:207px;
	background-color:#000000;/*padding-top:12px;*/
	text-align:center;
}
.black:first-child {
	margin-left:144px;
}
.cell {
	float:left;
	width:206px;
	height:39px;
	border-bottom: 1px solid #CCCCCC;
	text-align:center;
	padding:10px 0;
}
.col {
	float:left;
	width:142px;
	border-bottom: 1px solid #CCCCCC;
	font-weight:bold;
	padding:10px 0;
}
.grey {
	background-color:#f1f1f1;
}
.mid {
	height:36px;
	border-top: 1px solid #CCCCCC;
}
.left {
	border-left: 1px solid #CCCCCC;
}
.right {
	border-right: 1px solid #CCCCCC;
}
.col .cTop {
	top:-10px;
}
.col .cBottom .cLeft {
	bottom:-11px;
}
#vs {
	position:absolute;
	left:325px;
	top:-5px;
}
#underTableThing {
	positon:relative;
	font-size:11px;
}
#coreConnectBundle {
	margin-top:20px;
}
#coreConnectBundle ul {
	list-style-type:none;
}
#coreConnectBundle ul li {
	background: url('/soho/assets/images/cc-dtv-bundle/tick.jpg') transparent no-repeat 0 0;
	min-height:20px;
	width:430px;
	padding-left:50px;
	margin-bottom:10px;
}
#coreConnectBundle h4 {
	color:#000000;
}
.page_wrapper {
	height:auto;
}
#lockInYourPrice {
	height:150px;
	padding-left:130px;
	padding-top:30px;
	margin-top:30px;
	background: url('/soho/assets/images/cc-dtv-bundle/3yearsPadlock.jpg') transparent no-repeat 0 0;
}
#underForm h4 {
	border-bottom:#8cc63f 1px solid;
	padding:15px;
	color:#000000;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
}
#smilingBox {
	background: url('/soho/assets/images/cc-dtv-bundle/weHelpBusinessesBg.jpg') transparent no-repeat 0 0;
	float: left;
	clear: both;
	width: 598px;
	margin: 0 0 20px 0;
}
#smilingBox .smilingBoxWrap {
	background: url('/soho/assets/images/cc-dtv-bundle/weHelpBusinessesBg.jpg') transparent no-repeat right 0;
	width:550px;
	height:162px;
	float: right;
	clear: both;
	position: relative;
	overflow: visible;
}
#smilingBox .smilingBoxWrap h3, #smilingBox .smilingBoxWrap p {
	position: relative;
	top: 0;
	left: -20px;
}
#smilingBox h3 {
	color:#00853f;
	font-weight:bold;
	padding-top:25px;
	width:400px;
}
#smilingBox p {
	padding-top:7px;
	width:400px;
}
.smaller {
	font-size:0.75em;
}
.page_wrapper .special-offers-asterisk {
	clear:both;
	margin-top:30px;
	position:relative;
	margin-left: 40px;
}
.cta .subBtn, .cta .submit {
	border: 0 none;
	margin-top: 10px;
	padding: 0;
	width: 210px;
}

#callToSave {
	width: 50%;
	height: 60px;
	position: absolute;
	top: -50px;
	right: 0;
	overflow: visible !important;

}

#callToSave h1 {
	margin: 0;
	float: right;
	color: #000;
}

img.mouseIcon {
	float: left;
	margin: 12px 20px 25px 50px;
}

p.firstParagraph {
	padding-right: 40px;
	margin-bottom: 50px;
}

ul.internetAdvantage {
	padding: 10px 0 0 67px;
}

#coreConnectBundle h2 {
	margin-left: 10px;
}

h4.formPhone {
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

.ctaBody p.formCopy {
	font-size: 13px;
	padding-bottom: 10px;
}

.right_cat_blank {
	position: relative;
	z-index: 900;
	padding: 10px 0 30px 0;
}

* {
	outline: none;
}
