body {
	background-color:#FFF;
	font-size: 13px;
}
p {
	margin: 0 0 7px 0;
}
h1 {
	color:#00853F;
	font-weight:700;
}
h2 {
}
h3 {
	font-size: 20px;
}
h4 {

}
ul {
	margin: 0 0 7px 0;
	padding: 0 0 0 15px;
}
table tr {
	height:30px;
}
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
#main, .footer {
	width: 920px;
}
#masthead {
	height: auto;
}
#masthead #logo {
	position: relative;
	top: 20px;
	left: 0;
}
.footer, .footer a {
    font-size: 11px;
	line-height: 1.6em;
}
.callToday {
	color:#00853F;
	font-weight:700;
	font-size: 22px;
	text-align: right;
	padding: 10px 0 10px 0;
	margin: 0;
}
.page_wrapper {
	border: 1px solid #CCC;
	width: 100%;
	position: relative;
	background: #FFFFFF url("/soho/assets/images/getstarted/main-bg-grad.png") repeat-x left 280px;
}
.rep {
	color: #555;
}
.cta {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 215px;
}
.cta * {
	position: relative;
}
.cta select {
	padding: 3px 1px 3px 3px;
	width: 60%;
}
.cta input {
	padding: 3px 1px 3px 3px;
	font-size: 12px;
	margin: 0;
	border: 1px solid #CCC;
}
.cta .longBox {
	width: 90%;
}
.cta option {
	padding: 1px 3px;
}
.cta .subBtn {
	padding: 0;
	border: 0 none;
}
.cta .ctaHdr {
	padding: 10px 15px;
}
.cta .ctaFoot {
	padding: 10px 15px 20px 15px;
}
.cta .ctaMid {
	padding: 0 2px;
}
.cta .ctaHdr, .cta .ctaFoot, .cta .ctaMid {
	background-color: transparent;
	background-image: url("/soho/assets/images/getstarted/form-main-bg.png");
	background-repeat: no-repeat;
	background-position: left center;
}
.cta .ctaHdr {
	background-position: left top;
}
.cta .ctaFoot {
	background-position: left bottom;
}
.cta .ctaHdr *, .cta .ctaFoot * {
	padding: 0;
	margin: 0;
}
.cta .ctaHdr h2 {
	font-size: 24px;
	color: #000;
	font-weight: normal;
}
.cta .ctaBody {
	background: #FFF url("/soho/assets/images/getstarted/bg-form.png") repeat-x left bottom;
	padding: 10px 15px;
	font-size: 11px;
}
.check {
	float: right;
}
.mainHeader {
	background: url("/soho/assets/images/getstarted/head.png") no-repeat top left;
	height: 280px;
}
.headerCont * {
	margin: 0;
	padding: 0;
	border: 0 none;
	color: #FFF;
}
.headerCont {
	padding: 60px 59% 0 35px;
}
.headerCont h1 {
	font-size: 36px;
	padding: 0 0 25px 0;
	line-height: 1;
}
.headerCont p {
	font-size: 16px;
}
.pageMain {
	padding: 10px 240px 10px 10px;
}
.prodMod {
	background: url("/soho/assets/images/getstarted/horiz-strip-bg.png") no-repeat top left;
	height: 190px;
	position: relative;
	width: 100%;
}
.product {
	width: 100%;
	height: 100%;
	position: relative;
	background-position: 1px center;
	background-repeat: no-repeat;
	background-color: transparent;
}
#prod_CC .product { background-image: url("/soho/assets/images/getstarted/computer.png"); background-position: 1px center; }
#prod_HSI .product { background-image: url("/soho/assets/images/getstarted/television.png"); background-position: 2px center; }
#prod_Phone .product { background-image: url("/soho/assets/images/getstarted/phone.png"); background-position: 25px center; }

#prod_CC .ir {
	background: url("/soho/assets/images/getstarted/cc-logo.png") no-repeat top left;
	height: 17px;
	widows: 195px;
	text-indent: -9999px;
}
.prodDetails {
	position: absolute;
	width: 230px;
	top: 15px;
	left: 180px;
}
.product h3 {
	font-size: 18px;
}
.prodDetails ul {
	font-size: 12px;
}
.prodOffer {
	position: absolute;
	width: 230px;
	top: 15px;
	right: 10px;
}
.prodOffer small {
	display: block;
}
.pricePoint {
	color: #00853F;
}
.pricePointText {
	font-size: 60px;
    height: 60px;
    left: 0;
    letter-spacing: -3px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -5px;
}
.pricePointText .sup {
    font-size: 40%;
    left: 0;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 41%;
}
.pricePointText .dash {
    font-size: 60%;
    left: 0;
	bottom: 20%;
    margin: 0;
    padding: 0;
    position: relative;
	font-weight: normal;
}

.main_footer {
	overflow: hidden;
	width: 100%;
}
.secdProdMods {
	width: 940px;
	padding: 20px 0;
	font-size: 12px;
}
.secdProdMods .secProd {
	background: url("/soho/assets/images/getstarted/one-third-width-strip-bg.png") no-repeat top left;
	width: 33%;
	height: 160px;
	float: left;
}
.secdProdMods .secProdPad {
	padding: 15px 20px 0 15px;
}
.secdProdMods h3 {
	font-size: 16px;
	color: #000;
	height: 50px;
	line-height: 45px;
	text-indent: 50px;
	position: relative;
	margin: 0;
	padding: 0;
}
.secdProdMods h3 img {
	position: absolute;
	top: 0;
	left: 0;
}
.secdProdMods a {
	font-weight: bold;
}
.secdProdMods p {
	padding: 0 0 15px 0;
}
