sub, sup {font-size: 65%; line-height: 0; position: relative; vertical-align:baseline}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

strong { font-weight: bold; }

.cta {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 230px;
}
.special-offers-form .cta {
	position: relative;
	right: 0;
	top: 0;
	width: 230px;
}
.cta * {
	position: relative;
}
.cta select {
	padding: 3px 1px 3px 3px;
	width: 60%;
}
.cta input {
	padding: 3px 1px 3px 3px;
	font-size: 12px;
	margin: 0;
	border: 1px solid #CCC;
}
.cta .longBox {
	width: 90%;
}
.cta option {
	padding: 1px 3px;
}
.cta .subBtn, .cta .submit {
	padding: 0;
	border: 0 none;
}
.cta .smbCallback {
	display: block;
	padding: 5px 0;
}
.cta .fieldBlock {
	padding: 0 0 5px 0;
}
.cta .fieldBlock small {
	color: #777;
	font-size: 10px;
}
.cta .ctaHdr {
	padding: 10px 15px;
	overflow: hidden;
}
.cta .ctaFoot {
	padding: 10px 15px 20px 15px;
}
.cta .ctaFoot h3 {
    font-size: 18px;
    color: #00853F;
    font-weight: bold;
}
.cta .ctaMid {
	padding: 0 2px;
}
.cta .ctaBgWrap {
	margin: 0 2px !important;
}
.cta .ctaHdr, .cta .ctaFoot, .cta .ctaMid {
	background-color: transparent;
	background-image: url("/soho/assets/images/special-offers/form-main-bg.png");
	background-repeat: no-repeat;
	background-position: left center;
}
.cta .ctaHdr {
	background-position: left top;
}
.cta .ctaFoot {
	background-position: left bottom;
}
.cta .ctaHdr *, .cta .ctaFoot * {
	padding: 0;
	margin: 0;
}
.cta .ctaHdr h2 {
	font-size: 24px;
	color: #000;
	font-weight: normal;
}
.cta .ctaHdr .prodHdr {
	font-size: 15px;
	font-weight: normal;
	color: #000;
	text-align: left;
}
.cta .ctaHdr .prodPrice * {
	font-size: 15px;
	font-weight: bold;
	color: #419b23;
	text-align: left;
}
.cta .ctaHdr .prodPrice span {
	float: left;
	height: 60px;
	display: block;
	padding: 0 2px 0 0;
}
.cta .ctaHdr .prodPrice .supLine {
	padding: 3px 2px 0 0;
}
.cta .ctaHdr .prodPrice .supPrice {
	font-size: 20px;
	letter-spacing: 0;
	line-height: 30px;
	padding: 0 0 0 2px;
}
.cta .ctaHdr .prodPrice .bigPrice {
	font-size: 55px;
	letter-spacing: -3px;
	line-height: 55px;
}
.cta .ctaHdr .prodPrice .disclaimPrice {
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-align: left;
	width: 35%;
	float: left;
	position: relative;
	top: 5px;
	left: 3px;
	padding: 0;
	height: 30px;
	line-height: 1;
}
.cta .ctaHdr .pricepoint {
    display: block;
    margin: 0;
	float: left;
	letter-spacing: -3px;
	position: relative;
	top: 0;
	left: 10px;
}
.cta .ctaHdr .pricepoint sup {
    font-size: 22px;
    letter-spacing: 0;
    margin: 0;
    top: -20px;
}
.cta .special-offers-price-disclaim {
    margin-right: 0;
    margin-top: 4px;
    width: 35%;
	position: relative;
	left: 20px;
	top: 0;
	float: left;
}
.cta .ctaTop .ctaBody {
	background: #FFF url("/soho/assets/images/special-offers/bg-form.png") repeat-x left bottom;
	padding: 10px 15px 0;
	font-size: 11px;
}
#rightRail .ctaFoot {
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
}
#rightRail .cta {
    background: transparent;
    font-size: 11px;
    height: auto;
    width: 230px;
}
#rightRail {
    position: absolute;
    right: 5px;
    top: 45px;
}
#rightRail .phoneCta {
    padding: 15px 15px 25px 15px;
}
#footer .cta {
    color: #999999;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 12px;
    position: relative;
    right: 0;
    top: 0;
    width: auto;
}
#errorHolder {
	color: red;
	font-weight: bold;
	font-size: 11px;
}
.headline .uppercase {
	text-transform: uppercase;
	font-weight: bold;
}
.headline .singleLine {
	font-size: 34px;
}
