.voiceBundleContent {
    clear: both;
    float: left;
    left: 35px;
	top: 0;
    position: relative;
    width: 600px;
}
.voiceBundleContent #smilingBox {
    left: -25px;
	top: 0;
    position: relative;
	width: 595px;
}
.bizBundleInfo {
	float: left;
	clear: both;
	width: 89%;
	margin: 30px 0;
	background: transparent url("/soho/assets/images/voicebundle/info-divider.gif") no-repeat center 110px;
}
.bizBundleInfo .col {
	border: 0 none;
	font-weight: normal;
	width: 40%;
}
.bizBundleInfo .leftCol {
	float: left;
}
.bizBundleInfo .rightCol {
	float: right;
}
.voiceBundleContent h2, .voiceBundleContent h3 {
	color: #00853F;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.voiceBundleContent h2 {
	font-size: 17px;
}
.voiceBundleContent h3 {
	font-size: 14px;
}
#smilingBox h3 {
	font-size: 18px;
}
.phoneLineInfo {
	clear: both;
	margin: 0 10% 20px 0;
}
#underForm {
    bottom: 38px;
    top: auto;
}
#underForm h4 {
	text-align: center;
}
#underForm ul {
	margin: 15px;
}
.ctaBody p, .ctaBody h2, .ctaBody h3 {
	margin: 0;
}
.headerBlock {
	background: url('/soho/assets/images/voicebundle/lc-header.jpg') transparent top left no-repeat;
}
.pathways {
	background: url('/soho/assets/images/cc-trust-save/pathways-short.gif') transparent top left no-repeat;
	width:960px;
	height:40px;
}