/**************************
Global layout elements
**************************/
body {background-color: white; font-size: 100%; font-family: Arial, sans-serif; margin: 0; padding: 0;}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/**************************
Global content styles
**************************/
#content {font-size: 0.8em; margin: 0 0 2em;}

a {text-decoration: none; color: #00853f;}
a:hover {text-decoration: underline;}
a:focus { outline: none; }
a img {border: none;}

h1,h2,h3,h4 {color: #008540; margin: 0 0 0.25em; font-weight: bold;}
h1 a,h2 a,h3 a,h4 a {color: #008540;}
h1 {font-size: 2.1em;}
h2 {font-size: 1.2em;}
h3 {font-size: 1.1em;}
h4 {font-size: 1.0em;}

table {border-collapse: collapse; empty-cells: show;}
td, th {vertical-align: top;}
p {margin: 0 0 1em;}


#disclaimer { padding: 30px; font-size: 0.8em;}
#disclaimer h1 {margin-bottom: 2em;}
