<!-- ***************  METRIX CONFIGURATION CODE BEGIN  ******************** -->

<script type="text/javascript">
    pageType = ""; //s.pageType
	if(typeof errorType == 'undefined')errorType="";
    accountEvents = ""; //eVar1
    serviceEvents = ""; //eVar2
    pCategory = ""; //eVar3
    unisysEvent = ""; //eVar4
    orderType = ""; //eVar7
    zipAvail = ""; //eVar8
    phoneAvail = ""; //eVar9
    addressAvail = ""; //eVar10
    respMsg = ""; //eVar11
    availType = ""; //eVar12
    if(typeof sEvents == 'undefined')sEvents= ""; //s.events
    sProducts = ""; //s.products
    orderNum = ""; //s.purchaseID
    totalOrderPrice = ""; //Doubleclick

		require(['order!jquery','order!centurycore','order!cc-shortcuts'],function(){
		/* This is the setup for the new override variables. This must load before the s_code and config files, and as close to the bottom of the page as humanly possible. */
		qa.initialize();

			var mconfig = $('<script>');
			mconfig.attr('type','text/javascript');
			mconfig.attr('src','/assets/js/third-party/metrics/metrixConfig.js');
			$('head').append(mconfig);
	});

</script>

<!-- ***************  METRIX CONFIGURATION CODE END  ******************** -->