.main-banner{
	float:left;
	width:665px;
	height:226px;
} 

.product-content
{
	clear: both;
	padding-top: 10px;
}

.product-content-block{
	float:left;
	width:192px!important;
	width:222px;
	height:208px!important;
	height:238px;
	padding:15px;
	background:url('/assets/images/page-components/box_middle.png') no-repeat;
	margin-right:2px;
}
.transitional-banner{
	background:none; 
	padding:0; 
	height:247px;  
	width:238px; 
	float:left;
	margin-right:0px;
	margin-top:0px;
}
.product-content-block h2, .product-content-block h2 a{
	font-size:16px;
	color:#00853F;
	font-weight:bold;
}

.product-content-block h3
{
	font-size: 14px;
	font-weight: bold;
}

.product-content-block img.product-icon{
	float:right;
	margin:-30px 0px 5px 5px;
}
.product-content-block .btn-learn-more{margin:auto; float:none;}
.product-content-block .content{
	height:160px; 
}

.product-content-block .gray-chevron
{
	background: url("/assets/images/sprites/template.png") no-repeat scroll -540px -603px transparent;
	float: left;
	width: 7px;
	height: 12px;
	margin-right: 4px;
	margin-top: 2px;
}


body strong
{
	font-weight: bold;
}

#fiber_form_content input
{
	margin: 0;
}

.product-icon-laptop
{
	float: right;
	background:url('/assets/images/sprites/template.png') no-repeat -791px -798px;
	width:73px;
	height:50px;
}

.product-icon-phone
{
	float: right;
	background:url('/assets/images/sprites/template.png') no-repeat -821px -872px;
	width:35px;
	height:63px;
}

.product-icon-bundle
{
	float: right;
	background:url('/assets/images/sprites/template.png') no-repeat -626px -790px;
	width:108px;
	height:61px;
}


/* begin WCP 120924-8 | QC2388 - HSI Cybersale $50 Removal */
.product-icon-directtv {
    background: url("/assets/images/sprites/template.png") no-repeat scroll -678px -880px transparent;
    float: right;
    width: 56px;
    height: 46px;
}


.product-icon-prismtv {
    background: url("/assets/images/sprites/template.png") no-repeat scroll -867px -1019px transparent;
    float: right;
    width: 56px;
    height: 46px;
}

/* end WCP 120924-8 | QC2388 - HSI Cybersale $50 Removal  */ 

a#tpl_res-dd-get-internet{color:#00853F;}
.secondary-content{
}
.secondary-content-block{
	float:left;
	margin:10px;
	width:260px!important;
	width:280px;
	padding:10px;
	border-right:1px solid #666;
	min-height:165px;
}
.secondary-content-block h2{
	font-size:14px;
	color:#00853F;
	font-weight:bold;
}
.secondary-content-block .content{
	height:140px;
}
.secondary-content .last{border:0;}

/*Welcome Object*/
.wo-input{
	width:95px;
	margin-top:3px;
	margin-left:1px;
}
/*--------------Quick Links area----------------*/
.btn-gotohp{
	background:url('/assets/images/page-components/btn-gotohp.png') 0 0 no-repeat;
	height:28px;
	width:175px;
}
.btn-gotohp:hover{
	background-position: 0 -30px;
}

.quick-links{
	float:right;
	width:249px;
	height:250px;
	margin-right:-2px;
	margin-top:-10px;
	padding-top:0;
}
#quick-link_tabs .ui-tabs-nav, .ui-tabs-nav  {
	margin:-4px 0 -1px 0px;
	width:250px;
	height:35px;
	padding-top:0;
}
#quick-link_tabs .ui-tabs-nav li{
	background:url(/assets/images/sprites/template.png) -258px -1250px no-repeat;
	height:25px;
	margin:5px 0px 0px 0px; 
	min-width:60px;
	width:80px;
	padding:0;
}
#quick-link_tabs .ui-tabs-nav li.ui-tabs-selected{
	background-position: -258px -1217px;
	width:85px;
	margin-top:3px;
	height:28px;
}

#quick-link_tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-nav li a{
	background:transparent;
	margin-left:0px;
	font-size:0.9em;
	height:12px;
	margin-top:7px;
	padding:0;
	width:82px;
	min-width:82px;

}
#quick-link_tabs .ui-tabs-nav li.ui-tabs-selected a{
	background:transparent;
	width:64px;
	height:17px;
	margin-top:7px;
	margin-left:2px;
	padding-top:10px;
	padding:0;

}
#quicklink-myaccount{

}
.ui-tabs .ui-tabs-panel{
	margin-top:1px;
}
.quick-links .quicklink-content{
	background:url('/assets/images/sprites/template.png') -1px -1215px no-repeat;
	height:175px;
	padding:25px 0 15px 16px;
	width:240px;

}
.quick-links ul{list-style-type:none; margin-left:0; padding-left:0;}
.quick-links  ul.cs-links, .quick-links ul.cs-link-phone{ 
	list-style-type:none;
	margin-left:0;
	padding-left:10px;
}
.quick-links  ul.cs-links li{
	float:left;
	width:90px;
	background:url('/assets/images/page-components/green-circle-arrow.png') no-repeat;
	padding-left:19px;
	line-height:14px;
}
.quick-links  ul.cs-links li a{line-height:14px;background:white; width:63px;}
.quick-links  ul.cs-link-phone li{
	clear:both;
	width:auto;
	background:url('/Homepage/images/blue_arrow.jpg') no-repeat;
	padding-left:17px;
	line-height:14px;
	margin-bottom:10px;
	font-weight:bold;
}
.quick-links #hmAccount .welcome-object-links{
	clear:both;
	display:block;
	float:left; 
	width:120px;
	margin-top:-30px
	/*
	 * IE 7 likes *, IE 6 and less likes _.  All other browsers ignore. */
	 *margin-top:45px;
	 _margin-top:45px;
}

.quick-links #hmAccount .welcome-object-links a{color:#00853F;}
#hp-quicklink-email-go-to-hp{
	margin:15px auto 15px 25px;
}
#hmAccount #welcome-object-container{
	margin-left:0px;
	width:220px;
}
#hmAccount form a {
	margin:10px 0px 0px 0px;






}

/*---------------------------Rotating Banners------------------------*/
#banners{height:225px;width:664px;}

#quicklink-customer-support-content-container-div .ql-support-links-left-column {
	float:left;
	padding-top:10px;
	width : 130px;
}

#quicklink-customer-support-content-container-div .ql-support-links-right-column {
	float:left;
	margin-left:-16px;
	padding-top:10px;
	width : 105px;
}

#quicklink-customer-support-content-container-div .ql-cs-anchor-div{


	margin-bottom:5px;
	padding-top:5px;
}
#hEmail p{
	width:178px;
	margin-left:12px;
}
#hEmail a{
	color:#00853f;
	font-weight:700;
	margin-left:12px;
}

.ql-cs-anchor-div a{
	line-height:14px;
	background:white; 
	width:63px;
	color:#00853F;
	font-size:12px;
}

/* begin added for Sept Release | CR170 | QC2312-13 */

.hp-row-two-banner-full-image{
	background:none; 
	padding:0; 
	height:247px;  
	width:238px; 
	float:left;
	margin-right:-4px;
	/*margin-top:-5px;*/
}

.hp-row-two_special_headline {
	font-size : 28px;
	color: #00853F;
	font-weight : bold;
	line-height : 90%;
}


#hp-row-two-pos1-content-wrapper {
	margin-left:-6px;
	width:210px;
}

#hp-row-two-pos1-hr {
	background : #00853F;
	width : 206px;
	margin-top : 8px;
	margin-bottom : 8px;
	height : 2px;

}

#hp-row-two-pos1-content-wrapper .orange-sub-text {
	font-size : 16px;
	color : #ed8e14;
}

#hp-row-two-pos1-content-wrapper .gray-sub-text {
	font-size : 16px;
	color : #666;
	line-height : 130%;
	padding-top : 2px;
}

#hp-row-two-pos1-content-wrapper sup {
	font-size : 6px;
	position : relative;
	top : -9px;
}
#hp-row-two-pos1-content-wrapper .btn-get-internet-now {
    background: url("/assets/images/sprites/page-specific/internet/getinternet_sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 0;
    margin: auto 5px;
    height: 28px;
    width: 132px;
}

#hp-row-two-pos1-content-wrapper .btn-get-internet-now:hover {
    background-position: 0 -30px;
}

#hp-row-two-pos1-button-wrapper {
		margin-left:-5px;
}

#hp-row-two-pos1-disclaimer-wrapper {
	padding-top : 5px;
}

#hp-row-two-pos1-disclaimer-wrapper a {
	color : #000;
	font-size : 8px;
}


/* end added for Sept Release | CR170 | QC2312-13 */




/*
 * WCP 130513-4 TnT Challenger
 */


.main-container.newChallenge a#tpl_global-nav-quick-bill-pay
{
	position: absolute;
	width: 125px;
	height: 43px;
	right: 260px;
	bottom: -3px;
	margin: 0;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -36px -776px;
}

.main-container.newChallenge form#tpl_search-form
{
	width: auto;
	margin-right: 30px;
}

.main-container.newChallenge form#tpl_search-form a.btn-arrow
{
	position: absolute;
	top: 8px;
	right: 12px;
	width: 17px;
	height: 17px;
	margin: 0;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -813px -517px;
}

.main-container.newChallenge #tpl_search-input
{
	width: 173px !important;
	margin-right: 6px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -616px -515px;
}


div.main-container.newChallenge a#tpl_menu-lvl1-help-moving
{
	display: none;
}
a#subnavSpecialOffers
{
	display: none;
}
div.main-container.newChallenge a#subnavSpecialOffers
{
	display: inline;
}

br.clearLeft
{
	clear: left;
}



div#product-content-challenge
{
	position: relative;
	width: 959px;
	padding-top: 150px;
}

div#product-content-challenge a,
div#product-content-challenge a:link
{
	color: #00853F;
	cursor: pointer;
}

div#navFloat
{
	position: absolute;
	z-index: 1020;
	top: 0;
	display: block;
	width: 100%;
	height: 158px;
}
div#navFloat div#navFloatBottom
{
	position: absolute;
	bottom: 0;
	width: 959px;
	height: 14px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -14px -854px;
}

div#navFloat div.floatNavBucket
{
	background-color: #FFF;
	border-bottom: #C8C8C8 solid 1px;
	float: left;
	display: block;
	width: 191px;
	height: 144px;
	text-align: center;
}
div#navFloat div.floatNavBucket.currBucket
{
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -13px -597px;
}

div#navFloat div.floatNavBucket span
{
	position: relative;
	margin: 0;
	width: auto;
	height: 20px;
	display: inline;
	padding-right: 20px;
	line-height: 100%;
	font-size: 19px;
	color: #00853E;
	cursor: pointer;
}
div#navFloat div.floatNavBucket span:hover
{
	text-decoration: underline;
}

div#navFloat div.floatNavBucket span span
{
	position: absolute;
	right: 0;
	top: 8px;
	padding: 0;
	margin: 0;
	width: 10px;
	height: 10px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -615px -565px;
}

div#navFloat div.floatNavBucket span.bucketIcon
{
	display: block;
	padding: 0;
	text-decoration: none;
	margin: 20px auto 0 auto;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
}

div#navFloat #btnNavFloatBundle .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -644px -584px;
}
div#navFloat #btnNavFloatInternet .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -796px -584px;
}
div#navFloat #btnNavFloatTV .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -666px -690px;
}
div#navFloat #btnNavFloatPhone .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -819px -690px;
}
div#navFloat #btnNavFloatOffers .bucketIcon
{
	width: 134px;
	height: 70px;
	background-position: -520px -648px;
}


form#wo_myaccount-login-challenge
{
	padding-bottom: 9px;
}

div#mac-user-wrap
{
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -404px -541px;
	width: 202px;
	height: 36px;
	padding: 1px;
}
input#hpChallenge-wo-username
{
	width: 196px;
	height: 36px;
	font-size: 16px;
	color: #333;
	display: block;
	background: none;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -18px -1229px;
	border: none;
	padding: 0 0 0 6px;
	margin: 0;
	line-height: 36px;
	vertical-align: middle;
}
input#hpChallenge-wo-username:focus
{
	background: none;
}

div#mac-pass-wrap
{
	position: relative;
	display: block;
	margin: 6px 0 4px 0;
	width: 200px;
	height: 38px;
	padding: 1px 1px 1px 1px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -404px -584px;
}

input#hpChallenge-wo-password
{
	font-size: 16px;
	color: #333;
	display: block;
	border: none;
	padding: 0 0 0 6px;
	margin: 0;
	width: 112px;
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	background: none;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -18px -1252px;
}
input#hpChallenge-wo-password:focus
{
	background: none;
}

input#hpChallenge-wo-submit
{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	float: none;
	height: 42px;
	width: 83px;
	padding: 0;
	border: none;
	background-image: none;
	text-decoration: none;
	cursor: pointer;
}
input#hpChallenge-wo-submit:hover
{
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -406px -629px;
}





div#banners a.btnBannerPrevNext
{
	position: absolute;
	z-index: 1001;
	top: 120px;
	width: 52px;
	height: 52px;
	opacity: 0.3;
	filter: alpha(opacity=30);
	background-repeat: no-repeat;
	zoom: 1;
}
div#banners a.btnBannerPrevNext:hover
{
	cursor: pointer;
	opacity: 1;
	filter: none;
}

a#btnBannerPrev
{
	left: 18px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -28px -1867px;
}

a#btnBannerNext
{
	right: 18px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -107px -1869px;
}


div.main-container.newChallenge div.main-banner
{
	position: relative;
	height: 242px;
}

div.main-container.newChallenge div.page-content
{
	padding: 0;
	margin: 0;
	border: none;
}

div.main-container.newChallenge div.main-banner,
div.main-container.newChallenge div#banners
{
	width: 725px;
	height: 313px;
	overflow: visible;
}

div.main-container.newChallenge div#banners .banner
{
	position: absolute;
	z-index: 8;
	overflow: visible;
	top: 0;
	left: 0;
}

div.main-container.newChallenge div.banner-buttons
{
	position: absolute;
	left: 18px;
	top: 295px;
	width: 200px;
	overflow: visible;
	z-index: 20;
}

div.main-container.newChallenge div.banner-buttons a.banner-button
{
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	padding: 0;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -208px -1886px;
	background-repeat: no-repeat;
}

div.main-container.newChallenge div.banner-buttons a.banner-button.current
{
	background-position: -181px -1886px;
}





div.main-container div#banners div.banner div#countbox
{
	position: absolute;
	top: 80px;
	left: 30px;
}

div.main-container.newChallenge div#banners div.banner div#countbox
{
	top: 160px;
	left: 8px;
}

div.main-container.newChallenge div.product-content,
div.main-container.newChallenge div.secondary-content,
div.main-container.newChallenge div#quick-link_tabs,
div.main-container.newChallenge div.page-content-top,
div.main-container.newChallenge div.page-content-bottom,
div.main-container.newChallenge div#banners div.banner div,
div#product-content-challenge,
div.bannerChallenge,
div#banners div.banner
{
	display: none;
}

div.main-container.newChallenge div#product-content-challenge,
div.main-container.newChallenge div#banners div.banner div.bannerChallenge,
div.main-container.newChallenge div#mac-container,
div.main-container div#banners div.banner div#countbox div
{
	display: block;
}



div.placard
{
	position: relative;
	display: block;
	width: 959px;
	padding: 40px 0 20px 0;
}

div.placard > div
{
	display: block;
	float: left;
	position: relative;
}

div.placard div.hashAnchor
{
	position: absolute;
	top: 0;
	left: 0;
	float: none;
}

div.placard div.placardBottom
{
	top: 20px;
	float: none;
	width: 100%;
	clear: left;
	height: 14px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -14px -854px;
}

div.placard p
{
	padding-top: 14px;
	font-size: 14px;
	color: #616365;
	line-height: 140%;
}

div.placard ul
{
	list-style-position: inside;
	padding-left: 4px;
}
div.placard ul li
{
	margin-left: 16px;
	list-style-position: outside;
	color: #929292;
}

div#placardBundle div.panelLeft
{
	width: 420px;
	padding: 100px 46px 0 0;
}
div#placardBundle div.panelRight
{
	width: 474px;
	padding-top: 20px;
}

div#placardBundle div.panelRight div#optServices > div
{
	position: relative;
	display: block;
	float: left;
	width: 140px;
	height: 194px;
	padding-top: 98px;
	margin: 0 0 0 8px;
	text-align: center;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -23px -927px;
	cursor: pointer;
}
div#placardBundle div.panelRight div#optServices > div.inactive
{
	background-image: none;
}
div#placardBundle div.panelRight div#optServices > div.inactive div
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	zoom: 1;
}

div#placardBundle div#optServices div div
{
	display: block;
	height: 90px;
}

div#placardBundle div#optServices div div span
{
	display: block;
	margin: 0 auto 10px auto;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
}

div#optBundleInternet div span
{
	width: 107px;
	height: 73px;
	background-position: -432px -768px;
}
div#optBundlePhone div span
{
	width: 40px;
	height: 73px;
	background-position: -413px -678px;
}
div#optBundleTV div span
{
	width: 92px;
	height: 87px;
	background-position: -267px -672px;
}
.prismTV div#optBundleTV div span
{
	width: 82px;
	height: 81px;
	background-position: -272px -770px;
}

div#placardBundle span.fauxCheckbox
{
	position: relative;
	display: inline;
	text-align: center;
	margin: 20px 0 0 0;
	width: auto;
	padding: 0 0 0 24px;
	color: #00853F;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
div#placardBundle span.fauxCheckbox span
{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 17px;
	height: 17px;
	margin-right: 4px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-repeat: no-repeat;
	background-position: -278px -619px;
}
div#placardBundle div.inactive span.fauxCheckbox
{
	color: #919191;
}
div#placardBundle div.inactive span.fauxCheckbox span
{
	background-position: -259px -619px;
}

div#placardBundle.prismTV a#btnBundleStart,
div#placardBundle a#btnBundlePrismStart
{
	display: none;
}
div#placardBundle.prismTV a#btnBundlePrismStart
{
	display: block;
}


div.placard p.subNote
{
	font-size: 10px;
	color: #BBB;
}


#product-content-challenge
{
	font-size: 14px;
	color: #616365;
	font-weight: normal;
}

#product-content-challenge h2
{
	padding: 0;
	margin: 0;
	font-size: 30px;
	color: #5B8F22;
	font-weight: normal;
}
#product-content-challenge h2 a
{
	font-size: inherit;
	font-weight: inherit;
}

#product-content-challenge h3
{
	padding-top: 16px;
	font-size: 16px;
	color: #616365;
	font-weight: bold;
}
div#product-content-challenge h3 a
{
	color: #00853F;
}
#product-content-challenge h4
{
	font-size: 16px;
	color: #666;
	font-weight: bold;
	text-align: left;
	padding: 8px 0;
}

div#placardInternetGraphic
{
	display: block;
	width: 535px;
	height: 298px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -250px -936px;
}

div#placardInternet div.panelLeft
{
	width: 550px;
	padding-right: 16px;
}
div#placardInternet div.panelRight
{
	padding-top: 60px;
	width: 386px;
}

div#placardTV div.panelLeft
{
	width: 352px;
	padding: 60px 0 0 40px;
}

div#placardTV div.panelLeft h2
{
	position: relative;
	display: block;
	width: 118px;
}
div#placardTV.prismTV div.panelLeft h2
{
	width: 280px;
}

div#placardTV div.panelLeft h2 span.vertBar
{
	position: absolute;
	right: 62px;
	top: 4px;
	height: 30px;
	width: 2px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -248px -1813px;
}
div#placardTV.prismTV div.panelLeft h2 span.vertBar
{
	right: 226px;
}

div#placardTV div.panelLeft h2 span.logoTV
{
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
	width: 42px;
	height: 35px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -193px -775px;
}
div#placardTV.prismTV div.panelLeft h2 span.logoTV
{
	top: 2px;
	width: 212px;
	height: 32px;
	background-position: -624px -792px;
}

div#placardTV div.panelLeft div.prismContent,
div#placardTV.prismTV div.panelLeft div
{
	display: none;
}
div#placardTV.prismTV div.panelLeft div.prismContent
{
	display: block;
}



div#placardTV div.panelRight
{
	margin-left: 40px;
	width: 520px;
}
div#placardTV div.panelRight #PrismPlayer
{
	margin: 40px 0;
}

div#placardPhone div.panelLeft
{
	width: 540px;
	height: 430px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -15px -1368px;
}
div#placardPhone div.panelRight
{
	width: 390px;
	padding: 40px 0 0 26px;
}

div#placardOffers div.panelLeft
{
	width: 470px;
	padding: 40px 40px 0 0;
}
div#placardOffers div.panelRight
{
	width: 400px;
	height: 402px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -565px -1363px;
}

input#hpChallenge-wo-password.occupied,
input#hpChallenge-wo-username.occupied
{
	background: none;
}

div#mac-container
{
	display: none;
	position: absolute;
	right: 0;
	top:0;
	width: 241px;
	height: 313px;
}

div#mac-container br
{
	line-height: 1px;
}

div#mac-header
{
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	z-index: 32;
	width: 241px;
	height: 51px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -141px -542px;
}

div#mac-content
{
	height: 202px;
	padding-top: 16px;
	margin-top: 46px;
}

div#mac-content span
{
	font-size: 11px;
	font-weight: normal;
	color: #666;
}
div#mac-content span a
{
	font-size: 10px;
	font-weight: bold;
	color: #00853F;
}

div#mac-content ul
{
	width: 208px;
	padding: 0 0 0 32px;
	margin: 0;
	text-indent: 0;
}
div#mac-content ul li
{
	display: block;
	width: 48%;
	float: left;
	text-indent: 0;
	margin: 0;
	padding: 0 0 6px 0;
	list-style: none;
}
div#mac-content ul li a
{
	color: #00853F;
}

div#mac-wrap
{
	width: 208px;
	margin: 0 0 0 4px;
	padding: 0 9px 0 14px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -628px -5px;
}

div#macSlideOutContainer
{
	position: relative;
	overflow: hidden;
	height: 300px;
	display: block;
}

div#macSlideOutContainer #hpChallenge-wo-remember-me
{
	margin: 3px 4px 0 0;
	line-height: 10px;
}

div.fadedHR
{
	width: 208px;
	height: 12px;
	margin: 0 auto;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -628px -546px;
}

div#macSlideOutContainer h3.helpTitle
{
	position: relative;
	text-align: center;
	padding: 0 20px 8px 0;
}

h3 a#btnHelp-Support
{
	color: #00853F;
	cursor: pointer;
	text-align: center;
}

div#macSlideOutContainer h3.helpTitle span#helpArrow
{
	position: absolute;
	top: 6px;
	right: 18%;
	display: block;
	width: 8px;
	height: 8px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -927px -505px;
}

div#macSlideOutContainer h3.helpTitle span#helpArrow.down
{
	background-position: -927px -514px;
}

div#macQuickLinks
{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 14;
	padding-top: 0;
	padding-left: 16px;
	background-color: #FFF;
}

a.btnHPCheckAvailability
{
	display: block;
	width: 142px;
	height: 30px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -359px -1816px;
}
a.btnHPCheckAvailability:hover
{
	background-position: -359px -1846px;
}

a#btnBundleStart,
a#btnBundlePrismStart
{
	display: block;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -864px -1816px;
}
a#btnBundleStart:hover,
a#btnBundlePrismStart:hover
{
	background-position: -864px -1847px;
}

a#btnInternetCheck
{
	display: block;
	width: 142px;
	height: 30px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -359px -1816px;
}
a#btnInternetCheck:hover
{
	background-position: -359px -1846px;
}

h2#titleDTV .vertBar
{
	right: auto;
	top: auto;
	margin-left: 6px;
}

h2#titleDTV .logoDTV
{
	right: auto;
	left: 72px;
}

a#btnGetDTV,
a#btnGetPrism
{
	display: block;
	width: 112px;
	height: 30px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -569px -1816px;
}
a#btnGetDTV:hover,
a#btnGetPrism:hover
{
	background-position: -569px -1847px;
}


a#btnHomePhone
{
	display: block;
	width: 176px;
	height: 28px;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -684px -1816px;
}
a#btnHomePhone:hover
{
	background-position: -684px -1847px;
}

div#zipOffersContainer
{
	display: block;
	float: left;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -404px -541px;
	width: 202px;
	height: 36px;
	padding: 1px;
	margin-top: 6px;
}

input#zipSpecialOffers
{
	width: 196px;
	height: 36px;
	font-size: 16px;
	color: #333;
	display: block;
	background: none;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -18px -1280px;
	border: none;
	padding: 0 0 0 6px;
	margin: 0;
	line-height: 36px;
	vertical-align: middle;
}
input#zipSpecialOffers.occupied,
input#zipSpecialOffers:focus
{
	background: none;
}

input#btnSubmitOffers
{
	display: block;
	float: left;
	height: 30px;
	width: 60px;
	margin: 8px 0 0 8px;
	padding: 0;
	border: none;
	background-image: url('/assets/images/sprites/page-specific/homepage_sprite.png');
	background-position: -505px -1816px;
	cursor: pointer;
}
input#btnSubmitOffers:hover
{
	background-position: -505px -1847px;
}

p#copyZipRequired
{
	display: none;
}


#placardInternet #hp-spdemo {
	display: block;
	width: 530px;
	margin: 0;
	padding: 0;
}
#placardInternet .spd-graph {
	width: 530px;
}
#placardInternet .spd-graph ul li,
#placardInternet .spd-graph ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	color: #666;	
}
#placardInternet .spd-graph div, .spd-graph span {
	display: block;
	position: relative;
	color: #666;		
}
#placardInternet .spd-graph .spd-speeds {
	background: url("/assets/images/page-components/spdemo/hp-spdemo-speednav-bg.png");
	height: 47px;
	width: 530px;
}
#placardInternet .spd-graph .spd-speeds h4 {
	line-height: 47px;
	text-transform: uppercase;
	color: #959595;
	font-size: 10px;
	letter-spacing: 1px;
	width: 35%;
	height: 100%;
	float: left;
	text-align: center;
	font-weight: normal;
}
#placardInternet .spd-graph .spd-speeds ul {
	width: 65%;
	height: 100%;
	float: right;
}
#placardInternet .spd-graph .spd-speeds ul li {
	width: 81px;
	height: 100%;
	float: left;
	display: block;
	position: relative;
	z-index: 100;
	overflow: visible;
}
#placardInternet .spd-graph .spd-speeds ul li a {
	position: relative;
	z-index: 100;
	top: 5px;
	left: 0px;
	width: 81px;
	height: 37px;
	line-height: 37px;
	display: block;
	color: #333;
	font-size: 17px;
	text-align: center;
	box-shadow: 0 0 0 #CCC inset;
	background-color: transparent;
	background-image: url("/assets/images/page-components/spdemo/hp-spdemo-speednav.png");
	background-position:  -169px center;
	background-repeat: no-repeat;	
	text-decoration: none;
	-webkit-transition: box-shadow 200ms;
	-moz-transition: box-shadow 200ms;
	-ms-transition: box-shadow 200ms;
	-o-transition: box-shadow 200ms;
	transition: box-shadow 200ms;
}
#placardInternet .spd-graph .spd-speeds ul li a:hover {
	color: #000;
	box-shadow: 0 0 20px #CCC inset;	
}
#placardInternet .spd-graph .spd-speeds ul .selectedSpeedNav {
	z-index: 101;
}
#placardInternet #hp-spdemo .spd-graph .spd-speeds ul .selectedSpeedNav a {
	box-shadow: 0 0 0 #CCC inset;	
	background-position: left center;
	width: 88px;
	z-index: 101;
	top: -2px;
	left: -4px;
	color: #FFF;
	height: 100%;
	line-height: 51px;			
}
#placardInternet .spd-graph .spd-icon {
	width: 39px;
	height: 53px;
	display: block;
	background-image: url("/assets/images/page-components/spdemo/hp-spdemo-icons.png");
	background-position: 0% 0%;
	position: absolute;
}
#placardInternet #spd-photos .spd-icon { background-position: 0% 3%; }
#placardInternet #spd-music .spd-icon { background-position: -3px 35%; }
#placardInternet #spd-tvshows .spd-icon { background-position: 0% 67%; }
#placardInternet #spd-movies .spd-icon { background-position: 0% 100%; }

#placardInternet .spd-graph .spd-bar-holder { height: 33px; width: 0%; position: relative; top: 6px; left: 0; }
#placardInternet .spd-graph .spd-bar-holder .spd-b { height: 33px; position: absolute; top: 0; z-index: 50; }
#placardInternet .spd-graph .spd-bar-holder .spd-b-left { width: 2px; left: 0; background-position: left 0%; }
#placardInternet .spd-graph .spd-bar-holder .spd-b-center { width: 100%; z-index: 49; left: 0; background-position: left 0%; }
#placardInternet .spd-graph .spd-bar-holder .spd-b-right { width: 2px; right: 0;  background-position: right 0%; }

#placardInternet #spd-photos .spd-bar-holder .spd-b { background-image: url("/assets/images/page-components/spdemo/hp-spdemo-bar-photos.png") }
#placardInternet #spd-music .spd-bar-holder .spd-b { background-image: url("/assets/images/page-components/spdemo/hp-spdemo-bar-music.png") }
#placardInternet #spd-tvshows .spd-bar-holder .spd-b { background-image: url("/assets/images/page-components/spdemo/hp-spdemo-bar-tvshows.png") }
#placardInternet #spd-movies .spd-bar-holder .spd-b { background-image: url("/assets/images/page-components/spdemo/hp-spdemo-bar-movies.png") }


#placardInternet .spd-graph .spd-downloadables {
	background: transparent url("/assets/images/page-components/spdemo/hp-spdemo-bgtile.png") 10px -5px;
	margin: 30px 0;
}
#placardInternet .spd-graph .spd-downloadables ul {
	background: transparent url("/assets/images/page-components/spdemo/spdemo-white-fade-bg.png") repeat-y -100px top;	
}
#placardInternet .spd-graph .spd-downloadables ul li {
	background: transparent url("/assets/images/page-components/spdemo/spdemo-white-fade-bg.png") repeat-y 430px top;	
}
#placardInternet .spd-graph .spd-downloadrow {
	width: 100%;
	height: 53px;
	position: relative;
}
#placardInternet .spd-graph .spd-pic,
#placardInternet .spd-graph .spd-bar,
#placardInternet .spd-graph .spd-time {
	display: block;
	height: 100%;
	margin: 0;
}
#placardInternet .spd-graph .spd-pic {
	width: 90px;
	position: absolute;
	top: 0;
	left: 0;
}
#placardInternet .spd-graph .spd-bar {
	margin: 0 89px 0 97px;
}
#placardInternet .spd-graph .spd-time {
	width: 90px;
	position: absolute;
	top: 10px;
	right: 0;
	height: 28px;
}
#placardInternet .spd-graph .spd-time .spd-num {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	float: left;
	padding: 0 5px;
	text-align: right;
	width: 3em;
}
#placardInternet .spd-graph .spd-time .spd-final-time {
	font-size: 10px;
	line-height: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: auto;
	padding: 0;
	text-align: right;
	width: 100%;
}
#placardInternet .spd-graph .spd-time .spd-type {
	font-size: 10px;
	line-height: 1;
	height: 8px;
	float: left;
	top: 0;
}
#placardInternet .spd-graph .spd-time .spd-secs {
	padding: 0 0 6px 0;
	background: url("/assets/images/page-components/spdemo/spd-arrowup.png") left bottom no-repeat;
}
#placardInternet .spd-graph .spd-time .spd-mins {
	padding: 6px 0 0 0;
	background: url("/assets/images/page-components/spdemo/spd-arrowdown.png") left top no-repeat;
}
#placardInternet .spd-graph .spd-timeinsecs .spd-mins ,
#placardInternet .spd-graph .spd-timeinmins .spd-secs {
	display: none;
}
#placardInternet .spd-graph .spd-title {
	font-size: 12px;
	position: absolute;
	bottom: 5px;
	left: 2px;
}
#placardInternet .spd-graph .spd-fileweight {
	font-size: 10px;
	position: absolute;
	top: 15px;
	left: 30px;
	width: 55px;
	text-align: center;
	color: #9e9d9d;
}
#placardInternet .spd-copygroup {
	position: relative;
	top: 0;
	left: 0;
	height: 160px;
}
#placardInternet .spd-copygroup * {
	color: #999;
	font-size: 12px;
}
#placardInternet .spd-copygroup .spd-copy {
	position: absolute;
	visibility: hidden;
}
#placardInternet .spd-copygroup h3 {
	padding: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
}
#placardInternet .spd-copygroup .halflist li {
	width: 210px;
	float: left;
	list-style-position: outside;
	margin-right: 35px;
	margin-left: 16px;
}




