<!--Begin Head include - /assets/includes/templates/head.html-->
<!--set environment and url variables-->
<script type="text/javascript">
	//echo server type url
	//Server type: <!--#echo var="SERVER_TYPE"-->
</script>
<!--#if expr="$SERVER_TYPE='DEV'"-->
	<!--#set var="ctl_url" value="http://webdmzdev2.centurylink.com"-->
	<!--#set var="ctlsecure_url" value="https://webdmzdev2.centurylink.com"-->
	<!--#set var="q_url" value="http://tcat-int4.centurylink.com"-->
	<!--#set var="qshop_url" value="https://tcat-int4.centurylink.com"-->
	<!--#set var="eq_url" value="http://embarq.centurylink.com"-->
	<!--#set var="eqsecure_url" value="https://embarq.centurylink.com"-->
	<!--#set var="ctleam_url" value="https://eqtest2.centurylink.com"-->
	<!--#set var="qwest_url" value="http://www-test.tservicesq.com/"-->
<!--#elif expr="$SERVER_TYPE='TEST'"-->
	<!--#set var="ctl_url" value="http://webdmzqa3.centurylink.com"-->
	<!--#set var="ctlsecure_url" value="https://webdmzqa3.centurylink.com"-->
	<!--#set var="q_url" value="http://tcat-itv2.centurylink.com"-->
	<!--#set var="qshop_url" value="http://tcat-itv2.centurylink.com"-->
	<!--#set var="eq_url" value="http://embarq.centurylink.com"-->
	<!--#set var="eqsecure_url" value="https://embarq.centurylink.com"-->
	<!--#set var="ctleam_url" value="https://eqtest2.centurylink.com"-->
	<!--#set var="qwest_url" value="http://www-test.tservicesq.com/"-->
<!--#elif expr="$SERVER_TYPE='PROD'"-->
	<!--#set var="ctl_url" value="http://www.centurylink.com"-->
	<!--#set var="ctlsecure_url" value="https://www.centurylink.com"-->
	<!--#set var="q_url" value="http://qwest.centurylink.com"-->
	<!--#set var="qshop_url" value="https://shop.centurylink.com"-->
	<!--#set var="eq_url" value="http://embarq.centurylink.com"-->
	<!--#set var="eqsecure_url" value="https://embarq.centurylink.com"-->
	<!--#set var="ctleam_url" value="https://embarq.centurylink.com"-->
	<!--#set var="qwest_url" value="http://qwest.centurylink.com/"-->
<!--#else--> 
	<!--#set var="ctl_url" value="http://webdmzdev2.centurylink.com"-->
	<!--#set var="ctlsecure_url" value="https://webdmzdev2.centurylink.com"-->
	<!--#set var="q_url" value="http://tcat-int4.centurylink.com"-->
	<!--#set var="qshop_url" value="https://tcat-int4.centurylink.com"-->
	<!--#set var="eq_url" value="http://embarq.centurylink.com"-->
	<!--#set var="eqsecure_url" value="https://embarq.centurylink.com"-->
	<!--#set var="ctleam_url" value="https://eqtest2.centurylink.com"-->
	<!--#set var="qwest_url" value="http://www-test.tservicesq.com/"-->
<!--#endif-->
<script type="text/javascript">
        var ctl_url='<!--#echo var="ctl_url"-->';
        var ctlsecure_url='<!--#echo var="ctlsecure_url"-->';
        var q_url='<!--#echo var="q_url"-->';
        var qshop_url='<!--#echo var="qshop_url"-->';
        var eq_url='<!--#echo var="eq_url"-->';
        var eqsecure_url='<!--#echo var="eqsecure_url"-->';
        var ctleam_url='<!--#echo var="ctleam_url"-->';
        var ctleam_url='<!--#echo var="qwest_url"-->';
</script>
 

<!--#include virtual="/assets/includes/templates/header.html"-->
<!--#include virtual="/assets/includes/templates/navigation.html"-->
<!--#include virtual="/assets/includes/templates/res-subnav.html"-->
<!--End Head include-->
