.main-price-content{
	text-align:left;
}
.disclaimer {
	padding: 10px 0px;
}
.check-avail{
	padding-left: 7px;
}
.price-amount .dollarsign {	
	color:#00853F; 
	font-size:24px; 
	vertical-align:top; 
	position:relative;
}
.price-amount .dollar-amount {
	color:#00853F; 
	font-size:44px;
	font-weight: bold;
}
.price-amount .cent-amount{
	color:#00853F; 
	font-size:24px;
	font-weight: bold;
	vertical-align:top; 
	position:relative;
	padding:0px;
}
.pricing .term-unit{
	color:#999999; 
	font-size:9px;
	vertical-align:top; 
	position:relative;
} 
.price-amount .dollarsign,.price-amount .dollar-amount,.price-amount .price-stacker{
	float:left;
}
.price-stacker {
	text-align:left;
	width:50px; 
	padding:5px 0px 0px 5px;
}

.main-offer-details-internet h3 {
	padding: 0px;
	margin: 0px;
}

#internet-preprice-copyblock {
	color: #666666;
	font-size: 11px;
}
#internet-afterprice-copyblock {
	text-align:center; color:
	#666666;
	font-size: 11px;
}
.secondary a.important-details-internet {
    color: #00853F;
    display: block;
}
.internet-bottom-links-block {
	margin-bottom: 15px;
}

.internet-secondary-offer {
	display:table-row;
	width:auto;
}

.internet-secondary-content {
	display:table-cell;
}

.internet-secondary-content-left-links {
	float:left;
}
.internet-secondary-content-right-banner {
	display:table-cell;
	vertical-align:middle;
	width:100%;
}


/* begin styles added to support WCP 120618-11 6/21/2012 */

#HSI-button-test-120618-11-top { height:auto; }
#HSI-button-test-120618-11-speed-tab { height:auto; }

.btn-get-internet-now {
    background: url("/assets/images/sprites/page-specific/internet/getinternet_sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 0;
    margin: auto 0px;
    height: 28px;
    width: 132px;
	position:absolute;
	margin-top: -10px;
	
	
}

.btn-get-internet-now:hover {
    background-position: 0 -30px;
}

.btn-show-my-options {
    background: url("/assets/images/sprites/page-specific/internet/showoptions_sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 0;
    margin: auto 5px;
    height: 28px;
    width: 132px;
}

.btn-show-my-options:hover {
    background-position: 0 -30px;
}


.btn-avail-my-area {
    background: url("/assets/images/sprites/page-specific/internet/whatsavail_sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 0;
    margin: auto 5px;
    height: 28px;
    width: 235px;
}

.btn-avail-my-area:hover {
    background-position: 0 -30px;
}

.btn-start-shopping {
    background: url("/assets/images/sprites/page-specific/internet/startshopping_sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 0;
    margin: auto 5px;
    height: 28px;
    width: 125px;
}

.btn-start-shopping:hover {
    background-position: 0 -30px;
}

/* end styles added to support WCP 120618-11 6/21/2012 */

/* begin styles added to support qc1852 7.17.2012 */

#ttmxhome-internet-features-tab { height : auto ;}
#ttmxhome-internet-equipment-tab { height : auto ;}

/*
div.page-content-top h1 {
	color : #00853F;
	font-family : Arial;
	font-weight : bold;
	font-size : 16px;
}
*/

#top-left-h1 {
	color : #00853F;
	font-family : Arial;
	font-weight : bold;
	font-size : 16px;
}


.h1wrapper {
	margin-left : 20px;
	margin-top: 8px;
}

.icon-laptop
{
	float: left;
	background: url('/assets/images/sprites/template.png') no-repeat -877px -870px;
	width: 75px;
	height: 54px;
}

#value-prop-copy-internet {
	height : auto;
}

ul.main-offer-details-list{

}
ul.main-offer-details-list li{
	font-family : Arial;
	font-size : 12px;
	font-weight : normal;
	color : #000000;
}
ul.main-offer-details-list li b{
	font-weight:bold;
}
.main-offer-details-headline-bold {
	font-family : Arial;
	font-size : 20px;
	font-weight : bold;
	color : #00853F;
}


.main-offer-details-headline-normal {
	font-family : Arial;
	font-size : 20px;
	font-weight : normal;
	color : #00853F;
}


.tmSuper {
	font-family : Arial;
	font-size : 10px;
	font-weight : normal;
	color : #00853F;
	position : relative;
	top : -8px;
}


/* end styles added to support qc1852 7.17.2012 */
















/* begin styles added to support qc2030 9.13.2012 */


#qc2030-value-prop-copy-internet { height : auto; }
#qc2030-internet-main-banner-cta-controller { height : auto; }
#qc2030-internet-tab-pane1-pricepoint-controller {height : auto ; }
#qc2030-internet-tab-pane2-pricepoint-controller { height : auto }


#top-left-h1-b {
	color : #00853F;
	font-family : Arial;
	font-weight : bold;
	font-size : 12px;
	display: block;
	height:20px;
	margin-bottom:10px;
	margin-left:8px;
	float:left;
}


.h1-b-ctam-wrapper {
	position:absolute;
	z-index:1001;
	left :830px;
}

.main-offer {
	margin-top : -10px;
}

.internet-4tab-main-cta-btn-wrapper {
	/*margin-top : 130px;*/
	/*margin-top : 143px;
	margin-left : 22px;
	margin-top : 135px;*/
	margin-top : 145px;
	margin-left : 22px;
}




.internet-main-offer-column-one-copy {
	float : left;
	width : 420px;
	min-height : 215px;
}

.internet-main-offer-ul-wrapper {
	margin-left : -6px;
	width : 410px;
}

.internet-four-tab-main-offer-banner-cta-wrapper {
	float : left;
}


.internet-main-offer-column-two-image {
	float : left;
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -15px -1382px;
	width : 183px;
	height: 188px;
}

.internet-main-offer-column-three-pricepoint {
	float : left;
	width : 325px;
	margin-top : 0px;
	margin-left : -15px;
}

.internet-main-offer-column-three-pricepoint .leading-copy {
	font-family : Arial;
	font-size : 22px;
	font-weight : bold;
	color : #000;
}

.price-disclaimer-row .currency-sign {
	float : left;
	font-family : Arial;
	font-size : 40px;
	font-weight : bold;
	color : #00853F;
	margin-top : -2px;
	margin-right: -3px;
}

.price-disclaimer-row .dollar-value {
	float : left;
	font-family : Arial;
	font-size : 72px;
	font-weight : bold;
	color : #00853F;
	letter-spacing : -7px;
	width : 70px;
	margin-top : -12px;
}


.price-disclaimer-row .trailing-container {
	float : left;
	width : 70px;
}

.price-disclaimer-row .trailing-container .decimal-value {
	font-family : Arial;
	font-size : 40px;
	font-weight : bold;
	color : #00853F;
	letter-spacing : -2px;
	margin-top : -7px;
	height : 40px;
}

.price-disclaimer-row .trailing-container .disclaimer-terms {
	font-family : Arial;
	color : #666;
	font-size : 9px;
	padding-left : 6px;
	line-height : 95%;
}

.internet-main-offer-column-three-pricepoint .cta-button-wrapper {
	margin-left : 18px;
	margin-top : 15px;
}

.main-offer-details-headline-bold-v2 {
	font-family : Arial;
	font-size : 20px;
	font-weight : bold;
	color : #00853F;
	margin-left : 3px;
}

.home_internet_tabs_ver_b{
	/*margin-top : -15px;*/
	margin-top : -39px;
}

.internet-tab-enhanced-content-wrapper {
	margin-left:16px; 
	margin-top : 10px;
}

.speed-tab-enhanced-content-wrapper {
	margin-left:16px; 
	/*margin-top : 10px;
	clear : both;*/
}

.internet-tab-three-pane-wrapper {
}

.internet-tab-three-pane-left {
	float : left;
	margin-right : 20px;
}

.internet-tab-three-pane-middle {
	float : left;
	margin-right : 20px;
}

.internet-tab-three-pane-right {
	float : left;
}
.speed-tab-three-pane-left {
	margin-top : 10px;
	float : left;
	margin-right : 20px;
}

.speed-tab-three-pane-middle {
	margin-top : 10px;
	float : left;
	margin-right : 20px;
}

.speed-tab-three-pane-right {
	margin-top : 10px;
	float : left;
}

.speed-pane-inner-content-wrapper {
	height : 396px;
	width :  230px;
	margin-left : 20px;
	margin-top : 18px;
}

.speed-bullets-wrapper {
	margin-top : 25px;
}

.speed-bullets-wrapper .bullets-heading {
	color : #595959;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	margin-bottom : -5px;
}

.speed-pane-inner-content-wrapper .speeds-orange-subhead-wrapper {
	margin-top : 5px;
}


.speeds-green-heading-wrapper .green-heading-font {
	color: #00853F;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.speeds-gray-subhead-wrapper .gray-sub-heading-font {
	color: #595959;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

.speeds-orange-subhead-wrapper .orange-speed-font {
	color: #ed8e14;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.speed-bullets-wrapper ul {
	padding-left : 15px;
}

.speed-bullets-wrapper li {
	color:#00853F;
	font-size : 10px;
	margin-top : -4px;
}

.speed-bullets-wrapper .bullet-copy {
	color : #595959;
	margin-left : -5px;
}


.speed-pane-divider {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -631px -227px;
	width : 220px;
	height: 8px;
	margin-left : 2px;
}

.speed-pane-download-wrapper {
	margin-top : 10px;
	margin-bottom : 2px;
}

.speed-gauge-wrapper {
	margin-left : 47px;
	margin-top : 10px;
}

.speed-gauge-wrapper .speed-gauge-1 {
	/*background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -20px -1198px;*/
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -20px -1182px;
	width : 142px;
	height: 164px;
}

.speed-gauge-wrapper .speed-gauge-2 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -206px -1179px;
	width : 142px;
	height: 164px;
}

.speed-gauge-wrapper .speed-gauge-3 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -377px -1183px;
	width : 142px;
	height: 164px;
}

.speed-pane-cta-button-wrapper {
	margin-left : 44px;
}


.speed-pane-download-wrapper .download-font {
	color: #595959;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

.features-tab-enhanced-content-wrapper {
	margin-left : 12px;
	margin-top :10px;
	width : 860px;
	height : auto;
	border: 1px solid #DDDDDD;
}

.features-tab-enhanced-content-wrapper .features-col-1-wrapper {
	float : left;
	width : 396px;
	margin-left : 15px;
	margin-right : 10px;
	margin-top : 10px;
}

.features-tab-enhanced-content-wrapper .features-col-separator {
	float : left;
	width : 4px;
	/*background : #595959;*/
	height : 750px;
}

.features-col-separator .fes-vert-background {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -1181px -19px;
	width : 4px;
	height: 740px;
	margin-top : 25px;
}


.features-tab-enhanced-content-wrapper .features-col-2-wrapper {
	float : left;
	width : 396px;
	margin-left : 20px;
	margin-right : 10px;
	margin-top : 10px;
}

.fe-column-header-wrapper {
	margin-bottom : 15px;
}

.fe-heading-copy {
	color: #00853F;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	letter-spacing : -.5px;
}

.fe-sub-heading-copy-bold {
	color: #595959;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	margin-top:5px;
}

p.fe-copy {
	color: #595959;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	margin-top:6px;
	margin-bottom : 10px;
}

.fe-copy-li {
	color: #595959;
	margin-top : -8px;

}

.fe-copy-li-nested {
	color: #595959;
	margin-top : -8px;

}

.fe-bottom-spacer-col-1 {
	height : 15px;
}

.fe-modem-image-block {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -873px -15px;
	width : 210px;
	height: 150px;
	margin-top : 8px;
}

.fe-wireless-adapter-image-block {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -872px -171px;
	width : 261px;
	height: 178px;
	margin-top : 8px;
}

.pane-background-gradient-header {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -329px -753px;
	width : 269px;
	height: 425px;
}

.pane-background-no-header {
	/*background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -329px -1368px;*/
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -323px -1353px;
	width : 269px;
	height: 427px;
}

.internet-tab-pane-header-copy-wrapper {
	margin-left : 15px;
	margin-top : 5px;
}

.internet-tab-pane-header-copy-wrapper .green {
	color: #00853F;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.internet-tab-pane-header-copy-wrapper .gray {
	color: #595959;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}


.icon-wrapper {
	width : 267px;
}

.icon-wrapper .icon-column-1 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -677px -36px;
	width : 93px;
	height: 64px;
	margin-left:85px;
	margin-top : 20px;
}

.icon-wrapper .icon-column-2 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -620px -33px;
	width : 152px;
	height: 73px;
	margin-left:57px;
	margin-top : 20px;
}

.icon-wrapper .icon-column-3 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -641px -119px;
	width : 130px;
	height: 71px;
	margin-left:60px;
	margin-top : 20px;
}

.pane-body-copy-wrapper .pane-body-heading {
	color: #595959;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	margin-left : 9px;
}

.pane-body-copy-wrapper .pane-body-list {
	color: #595959;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	margin-left : 7px;
	/*margin-top : 2px;*/
}


.pane-body-copy-wrapper .internet-1 {
	margin-top:18px;
}

.pane-body-copy-wrapper .internet-2 {
	margin-top:10px;
}

.pane-body-copy-wrapper .internet-3 {
	margin-top:12px;
}

.pane-body-list .li-element-first {
	/*margin-top:-2px;*/
	line-height : 14px;
}

.pane-body-list .li-element {
	/*margin-top:-2px;*/
	line-height : 14px;
}


.pane-body-pricepoint-wrapper {
	width : 267px;
	margin-top : 4px;
}


.pane-pricepoint-disclaimer-wrapper {
	text-align : center;
	height : 35px;
}

.pane-pricepoint-disclaimer-font
{
	width: 60%;
	padding: 0 20%;
	margin-top: 5px;
	color : #666;
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
}

.pane-pricepoint-disclaimer-font br
{
	display: none;
}

.pane-body-pricepoint-wrapper .pane-body-pricepoint-1 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -379px -202px;
	width : 226px;
	height: 76px;
	margin-left:12px;
	margin-top : 3px;
}

.pane-body-pricepoint-wrapper .pane1-pricepoint-pure-2999 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -9px -1595px;
	width : 226px;
	height: 76px;
	margin-left:12px;
	margin-top : 3px;
}
.pane-body-pricepoint-wrapper .pane1-pricepoint-pure-2995 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -379px -201px;
	width : 226px;
	height: 76px;
	margin-left:12px;
	margin-top : 3px;
}

.pane-body-pricepoint-wrapper .pane-body-pricepoint-2 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -906px -1229px;
	width : 246px;
	height: 75px;
	margin-left:9px;
	margin-top : 9px;
}

.pane-body-pricepoint-wrapper .pane2-pricepoint-bundle-1495 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -619px -206px;
	width : 246px;
	height: 75px;
	margin-left:9px;
	margin-top : 9px;
}

.pane-body-pricepoint-wrapper .pane2-pricepoint-bundle-1499 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -8px -1695px;
	width : 246px;
	height: 75px;
	margin-left:9px;
	margin-top : 9px;
}

.pane-body-pricepoint-wrapper .pane2-pricepoint-bundle-1995 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -26px -1803px;
	width : 215px;
	height: 90px;
	margin-left:9px;
	margin-top : 9px;
}

.pane-body-pricepoint-wrapper .pane-body-pricepoint-3 {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -3px -478px;
	width : 189px;
	height: 54px;
	margin-left:30px;
	margin-top : 63px;
}


.pane-body-cta-button-wrapper {
	width : 267px;
	/*margin-top : 15px;*/
}

.pane-body-cta-button-wrapper .pane-1 {
	margin-top : 2px;
}

.pane-body-cta-button-wrapper .pane-2 {
	margin-top : 2px;
}

.pane-body-cta-button-wrapper .pane-3 {
	margin-top : 2px;
}

.pane-body-cta-button-wrapper .cta-button {
	margin-left : 67px;
}

.internet-tab-bottom-content-wrapper h2 {
	color: #00853F;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	margin-top :10px;
}

.internet-tab-bottom-content-block {
	margin-left : 10px;
	margin-top : 15px;
}

.internet-tab-bottom-content-block .image-row-one {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -22px -777px;
	width : 303px;
	height: 139px;
	float : left;
}

.internet-tab-bottom-content-block .image-row-two {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -601px -1223px;
	width : 266px;
	height: 109px;
	float : left;
}

.internet-tab-bottom-content-block .image-row-three {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -22px -977px;
	width : 303px;
	height: 179px;
	float : left;
}

.internet-tab-bottom-content-block .image-row-four {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -290px -668px;
	width : 727px;
	height: 56px;
}

.internet-tab-bottom-content-block .content-right {
	float : left;
	width : 530px;
	padding-top : 10px;
}

.internet-tab-bottom-content-block .content-left {
	float : left;
	width : 530px;
	padding-top : 10px;
}

.content-header {
	color: #00853F;
	font-weight: bold;
	padding-bottom : 5px;
	font-family: Arial;
	font-size: 14px;
}

.content-copy {
	color: #666;
	padding-bottom : 5px;
	font-family: Arial;
	font-size: 14px;
	line-height : 170%;
}

.ratings-tab-enhanced-content-wrapper {
	margin-left : 12px;
	margin-top :10px;
	width : 860px;
	height : auto;
}


.ratings-green-heading{ 
	color: #00853F;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	margin-top : 5px;
	margin-bottom : 10px;
}
.ratings-table{width:854px;}
.ratings-table td{padding:10px; vertical-align:middle;}
.ratings-table tr.ratings-tab-row{
	
	background:white;
	height:auto;
	vertical-align:middle;
}
.ratings-table tr.even{
	background: url('/assets/images/page-components/ratings-gradient.png') repeat-y;
}

.ratings-popup {
	width:200px;
	text-align:center;
}
.ratings-tab-row-heading {

	color: #595959;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}
.ratings-review-copy-wrapper {
	color: #000;
	font-family: Arial;
	font-size: 12px;
	font-style:italic;
	width:450px;
}

.ratings-review-dateline {
	color: #595959;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
}


.ratings-review-copy-wrapper .ratings-review-dateline {
	margin-left : 30px;
	margin-top : 5px;
}


.secondary-links-column1 {
	float:left;
	width : 300px;
}

.secondary-links-column2 {
	float:left;
}

.ttcenter {
	margin-left:auto;
	margin-right:auto;
	width:70%;
	background-color:#b0e0e6;
}


.fourtab-ab-main-content-float-image-wrapper {
	position:absolute;
	top:-1px;
	left:620px;
	z-index: 201;
}


.main-float-image {
	background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -20px -24px;
	width : 327px;
	height: 218px;
}


	/* begin qc2030 T&T pricepoint background styles*/

	.internet-main-offer-1495-pricepoint {
		float : left;
		background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -17px -567px;
		width : 183px;
		height: 188px;
	}

	.internet-main-offer-1499-pricepoint {
		float : left;
		background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -9px -267px;
		width : 183px;
		height: 188px;
	}

	.internet-main-offer-1995-pricepoint {
		float : left;
		background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -15px -1382px;
		width : 183px;
		height: 188px;
	}

	/* end qc2030 T&T pricepoint background styles/*


/* end styles added to support qc2030 9.13.2012 */


/* begin styles added to support qc2030 9.13.2012 */

	#qc2550-internet-tab-pane3-pricepoint-controller { height : auto; }
	.disclaimer-inettab-pane-container {
		float : left;
		width : 289px;
	}

	.inettab-pane-disclaimer-link {
		margin-left : 76px;
	}

	#internet-tab-mid-tab-disclaimer-middle { display : none; }
	
	#internet-tab-mid-tab-disclaimer-right { display : none; }

	.pane-body-pricepoint-wrapper .pane-body-pricepoint-3-exlusive-offer {
		background: url('/assets/images/sprites/page-specific/internet/hsilearn_sprite.png') no-repeat -274px -1820px;
		width : 2209px;
		height: 75px;
		margin-left:30px;
		margin-top : 6px;
	}



/* end styles added to support qc2030 9.13.2012 */
