#headerImg{width:922px;height:317px;background:url('../images/headerImg.jpg') transparent top left;margin:0px auto;position:relative;}
#bookApptBtnHeader{position:absolute;top:220px;right:40px;}
#mainContent{min-height:200px;height:auto;width:920px;border-left:#666666 solid 1px;border-right:#666666 solid 1px;margin:0px auto;}
#leftSide{border:#666666 solid 1px;width:573px;float:left;margin-left:25px;margin-top:25px;}
#rightSide{width:275px;float:left;margin-left:25px;margin-top:25px;}
#pathways{width:922px;height:43px;background:url('../images/pathways.jpg') transparent top left;margin:0px auto;}
h2{font-size:20px;font-weight:bold;text-transform:uppercase;color:#000000;}
h2.lc{text-transform:capitalize;padding-bottom:0;margin-bottom:0;}
#intro{margin-left:25px;margin-top:25px;margin-right:25px;background:url('../images/mainContentThumb.jpg') transparent top right no-repeat;}
#intro p{width:320px;margin-top:15px;margin-bottom:30px;}
#intro p.pick{width:350px;font-weight:bold;font-size:18px;color:#000000;letter-spacing: -0.25px;margin-top:35px;margin-bottom:10px;}
.green{color:#00853e;}
.white{color:#ffffff;}
.orange{color:#f68428;}
.lrgH2{font-size:24px;}
.concertina .header{height: 49px;padding-left: 10px;padding-top: 10px;background:url('../images/greenToggleSprite.jpg') transparent top left;cursor:pointer;cursor:hand;position:relative;margin-top:2px;}
.concertina.active .header{height: 50px;padding-left: 10px;padding-top: 10px;background:url('../images/greenToggleSprite.jpg') transparent bottom left;}
.concertina .header p{color:#ffffff;}
.concertina {overflow:hidden;font-size:12px;}
.textContainer{display:none;}
.text{margin-left:25px;margin-top:25px;margin-right:5px;padding-bottom:15px;position:relative;}
.text p{width:230px;}
.text li{width:230px; margin-bottom: 5px;}
.text .overlayThumb{float:right;margin-right:10px;}
#webIntro .text{background:url('../images/websiteIntroImg.jpg') transparent top right no-repeat;}
#optimized .text{background:url('../images/optimizedImg.jpg') transparent top right no-repeat;}
/*#seo .text{background:url('../images/SEOImg.jpg') transparent top right no-repeat;}
#media .text{background:url('../images/socialImg.jpg') transparent top right no-repeat;}*/
#enjoy h2 {padding-left:10px;padding-top:12px;background:url('../images/enjoyBackgroundImg.jpg') transparent top left no-repeat;line-height:23px;height:93px;width:275px;}
#steps div{padding-left:50px;font-size:12px;}
#steps div h2{padding:0px;margin:0px;}
#step1{background:url('../images/iconsSchedule.jpg') transparent top left no-repeat;}
#step2{background:url('../images/iconsChoose.jpg') transparent top left no-repeat;}
#step3{background:url('../images/iconsTalk.jpg') transparent top left no-repeat;}
#bookApptBtn{padding-left:10px;}
.header .button a{ background: url("../images/tabBg.png") no-repeat scroll left top transparent; color: #FFFFFF; font-size: 10px; padding-left: 9px; padding-right: 8px; position: absolute; right: 10px; text-decoration: underline; top: 0;width:35px;text-align:center;outline:none;}
a:link,a:visited,a:active,a:focus,a.trackLink:link,a.trackLink:visited,a.trackLink:active,a.trackLink:focus,.header .button a:link,.header .button a:visited,.header .button a:active,.header .button a:focus{outline:none;}
#masthead #sectionNav li {
    background: url("../images/sectionNavTabLeft.gif") no-repeat scroll left top transparent!important;
	float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 15px;
    text-align: center;
	width:auto;
}
#masthead #sectionNav li.first {
    background: none!important;
}